﻿@using Entity.GERENCIADORPORTAL
@using WebAppMvc.Areas.Desapropriacao.Models
@model model_desapropriacao_individual_anexos
@{
    var listHelpers = ((Dictionary<string, List<model_select_helper>>)ViewBag.CarregarHelpers);
    var anexosListModel = (List<model_desapropriacao_individual_anexos>)ViewBag.ListModelAnexos;

    var browser = Request.Browser.Browser;
}
<div class="box-body">
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.ian_tipo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ian_tipo)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.DropDownListFor(model => model.ian_tipo, listHelpers.ContainsKey("ian_tipo") ? (listHelpers["ian_tipo"]).Select(t => new SelectListItem
            {
                Text = t.seh_nome_exibicao,
                Value = t.seh_value == null ? t.seh_id.ToString() : t.seh_value
            }) : Enumerable.Empty<SelectListItem>(), "--selecione--", htmlAttributes: new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>
    <div id="uploadAnexo" class="form-group">
        <div class="upload">
            <label for="@Html.DisplayNameFor(model => model.ian_file_upload)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ian_file_upload)</label>
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                <input id="ian_file_upload" type="file" class="filestyle" data-buttontext="Selecione..."
                       data-placeholder="Sem Arquivo" data-buttonbefore="false" data-buttonname="btn-primary" />
            </div>
        </div>
        @{
            if (browser == "InternetExplorer")
            {
                for (int i = 0; i < 10; i++)
                {
                    <div class="form-group upload" style="display: none">
                        <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ian_file_upload)</label>
                        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                            <input type="file" class="filestyle" data-buttontext="Selecione..." data-placeholder="Sem Arquivo" data-buttonbefore="false" data-buttonname="btn-primary" />
                        </div>
                    </div>
                }
            }
        }
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" disabled="disabled" id="btnAdicionarAnexo">
                <i class="fa fa-plus-square"></i> Adicionar</button>
        </div>
    </div>
    <iframe id="my_iframe" style="display: none;"></iframe>
    <div id="divGridAnexos" class="form-group" style="display: none">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_anexos">
                    <thead>
                        <tr>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Nome anexo
                            </th>
                            <th>
                                Usúario
                            </th>
                            <th>
                                Dt. Cadastro
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    
    function LoadAnexosTable() {
        @foreach (var item in anexosListModel.Select((r, i) => new { Row = r, Index = i }))
        {
            <text>
                
                $("#divGridAnexos").css({ "display": "inline" });

                var index = @(item.Index);

                var model_desapropriacao_individual_anexos_ane_nome_original = '@(item.Row.model_anexo_identificador.list_model_anexo[0].ane_nome_original)';
                var model_desapropriacao_individual_anexos_ane_mime_type = '@(item.Row.model_anexo_identificador.list_model_anexo[0].ane_mime_type)';
                var model_desapropriacao_individual_anexos_ane_nome = '@(item.Row.model_anexo_identificador.list_model_anexo[0].ane_nome)';
                var model_desapropriacao_individual_anexos_ane_ordem = '@(item.Row.model_anexo_identificador.list_model_anexo[0].ane_ordem)';

                var model_desapropriacao_individual_anexos_ian_tipo = '@(item.Row.ian_tipo)';
                var model_desapropriacao_individual_anexos_ian_tipo_nome = $("#ian_tipo option[value='" + model_desapropriacao_individual_anexos_ian_tipo + "']").text();

                var model_desapropriacao_individual_anexos_ian_id = '@(item.Row.ian_id)';

                var model_desapropriacao_individual_anexos_aid_id = '@(item.Row.model_anexo_identificador.aid_id)';
                var model_desapropriacao_individual_anexos_aid_form = '@(item.Row.model_anexo_identificador.aid_form)';
                var model_desapropriacao_individual_anexos_aid_guia = '@(item.Row.model_anexo_identificador.aid_guia)';
                var model_desapropriacao_individual_anexos_aid_tipo = '@(item.Row.model_anexo_identificador.aid_tipo)';

                var model_desapropriacao_individual_anexos_ane_pasta =
                    "@Html.Raw(HttpUtility.JavaScriptStringEncode(item.Row.model_anexo_identificador.list_model_anexo[0].ane_pasta))".replace(/\\/g, "/");
                var model_desapropriacao_individual_anexos_ane_id = '@(item.Row.model_anexo_identificador.list_model_anexo[0].ane_id)';
                var model_desapropriacao_individual_anexos_ian_acao = 0;
                var model_desapropriacao_individual_anexos_userCreate    = '@(item.Row.model_anexo_identificador.list_model_anexo[0].userCreate)';
                var model_desapropriacao_individual_anexos_dtCreate = moment('@(item.Row.model_anexo_identificador.list_model_anexo[0].dtCreate)', 'DD/MM/YYYY HH:mm:ss').format('DD/MM/YYYY HH:mm:ss'); //  $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();
                var model_desapropriacao_individual_anexos_ian_cadastro_dt = moment('@(item.Row.ian_cadastro_dt)', 'DD/MM/YYYY HH:mm:ss').format('DD/MM/YYYY HH:mm:ss'); //$.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

                var tbody = $("#table_anexos").find("tbody");

                var gvRow = '';

                gvRow += "<tr disabled=\"disabled\" id=\"tr_table_anexos_" + index + "\">";
                gvRow += "<td>" + model_desapropriacao_individual_anexos_ian_tipo_nome + "</td>";
                gvRow += "<td>" + model_desapropriacao_individual_anexos_ane_nome_original + "</td>";
                gvRow += "<td>" + model_desapropriacao_individual_anexos_userCreate + "</td>";
                gvRow += "<td>" + model_desapropriacao_individual_anexos_ian_cadastro_dt + "</td>";
                gvRow += "<td><button class=\"fa fa-download btn btn-primary btn-sm\" type=\"button\" disabled=\"disabled\" onclick=\"Download('" + model_desapropriacao_individual_anexos_ane_pasta + "')\"></button>";
                gvRow += "<span> </span>";
                gvRow +=
                    "<button class=\"fa fa-trash btn btn-danger btn-sm\" alt=\"Exluir\" title=\"Excluir\" type=\"button\" disabled=\"disabled\" onclick=\"DeletarRegistro('Anexos', 'ian', " + index + ")\"></button>";
                
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ian_tipo + '" name="list_model_desapropriacao_individual_anexos[' + index + '].ian_tipo" id="model_desapropriacao_individual_anexos_ian_tipo_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ian_id + '" name="list_model_desapropriacao_individual_anexos[' + index + '].ian_id" id="model_desapropriacao_individual_anexos_ian_id_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ian_acao + '" name="list_model_desapropriacao_individual_anexos[' + index + '].ian_acao" id="model_desapropriacao_individual_anexos_ian_acao_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_userCreate + '" name="list_model_desapropriacao_individual_anexos[' + index + '].userCreate" id="model_desapropriacao_individual_anexos_userCreate_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_dtCreate + '" name="list_model_desapropriacao_individual_anexos[' + index + '].dtCreate" id="model_desapropriacao_individual_anexos_dtCreate_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ian_cadastro_dt + '" name="list_model_desapropriacao_individual_anexos[' + index + '].ian_cadastro_dt" id="model_desapropriacao_individual_anexos_ian_cadastro_dt_' + index + '" />';

                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ane_nome_original + '" name="list_model_desapropriacao_individual_anexos[' + index + '].dia_anexo_nome" id="model_desapropriacao_individual_anexos_dia_anexo_nome' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ane_nome  + '" name="list_model_desapropriacao_individual_anexos[' + index + '].ian_anexo" id="model_desapropriacao_individual_anexos_ian_anexo_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_aid_id + '" name="list_model_desapropriacao_individual_anexos[' + index + '].aid_id" id="model_desapropriacao_individual_anexosid_aid_id_' + index + '" />';
        
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_aid_id + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.aid_id" id="model_desapropriacao_individual_anexos_aid_id_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_aid_form + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.aid_form" id="model_desapropriacao_individual_anexos_aid_form_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_aid_guia + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.aid_guia" id="model_desapropriacao_individual_anexos_aid_guia_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_aid_tipo + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.aid_tipo" id="model_desapropriacao_individual_anexos_aid_tipo_' + index + '" />';

                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ane_id + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_id" id="model_desapropriacao_individual_anexos_ane_id_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_aid_id + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.list_model_anexo[0].aid_id" id="model_desapropriacao_individual_anexos_ane_aid_id_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ane_nome_original + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_nome_original" id="model_desapropriacao_individual_anexos_ane_nome_original_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ane_nome + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_nome" id="model_desapropriacao_individual_anexos_ane_nome_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ane_mime_type + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_mime_type" id="model_desapropriacao_individual_anexos_ane_mime_type_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ane_ordem + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_ordem" id="model_desapropriacao_individual_anexos_ane_ordem_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_dtCreate + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.list_model_anexo[0].dtCreate" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_userCreate + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.list_model_anexo[0].userCreate" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ian_tipo + '" name="list_model_desapropriacao_individual_anexos[' + index + '].ian_tipo" />';

                gvRow += '<span id="fileAnexos_' + index + '"></span>';

                gvRow += "</td></tr>";

                tbody.append(gvRow);
            </text>
        }
    }

    function Download(url) {
        //top.location.href = window.location.origin + url;
        //document.getElementById('my_iframe').src = window.location.origin + url;

        window.open(url);
    }

    function AdicionarAnexo() {
        $("#divGridAnexos").css({ "display": "inline" });

        var index = $("#table_anexos > tbody > tr").length;

        var file = $("#ian_file_upload").prop("files")[0];

        var model_desapropriacao_individual_anexos_ane_nome_original = file.name;
        var model_desapropriacao_individual_anexos_ane_mime_type = file.type;
        var fileExt = (/[.]/.exec(file.name)) ? /[^.]+$/.exec(file.name)[0] : undefined;
        var model_desapropriacao_individual_anexos_ane_nome = Guid.Generate() + "." + fileExt;
        var model_desapropriacao_individual_anexos_ane_ordem = 1;

        var model_desapropriacao_individual_anexos_ian_tipo = $("#ian_tipo option:selected").val();
        var model_desapropriacao_individual_anexos_ian_tipo_nome = $("#ian_tipo option:selected").text();

        var model_desapropriacao_individual_anexos_ian_id = 0;

        
        var model_desapropriacao_individual_anexos_ane_id = 0;
        var model_desapropriacao_individual_anexos_ian_acao = 1;
        var model_desapropriacao_individual_anexos_userCreate = $("#userCreate").val();
        var model_desapropriacao_individual_anexos_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();
        var model_desapropriacao_individual_anexos_ian_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var tbody = $("#table_anexos").find("tbody");

        var gvRow = '';

        gvRow += "<tr id=\"tr_table_anexos_" + index + "\">";
        gvRow += "<td>" + model_desapropriacao_individual_anexos_ian_tipo_nome + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_anexos_ane_nome_original + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_anexos_userCreate + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_anexos_ian_cadastro_dt + "</td>";
        gvRow += "<td><button class=\"fa fa-trash btn btn-danger btn-sm\" alt=\"Exluir\" title=\"Excluir\" type=\"button\" id=\"btnExcluirInteressado\" onclick=\"DeletarRegistro('Anexos', 'ian', " + index + ")\"></button>";
        
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ian_tipo + '" name="list_model_desapropriacao_individual_anexos[' + index + '].ian_tipo" id="model_desapropriacao_individual_anexos_ian_tipo_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ian_id + '" name="list_model_desapropriacao_individual_anexos[' + index + '].ian_id" id="model_desapropriacao_individual_anexos_ian_id_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ian_acao + '" name="list_model_desapropriacao_individual_anexos[' + index + '].ian_acao" id="model_desapropriacao_individual_anexos_ian_acao_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_userCreate + '" name="list_model_desapropriacao_individual_anexos[' + index + '].userCreate" id="model_desapropriacao_individual_anexos_userCreate_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_dtCreate + '" name="list_model_desapropriacao_individual_anexos[' + index + '].dtCreate" id="model_desapropriacao_individual_anexos_dtCreate_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ian_cadastro_dt + '" name="list_model_desapropriacao_individual_anexos[' + index + '].ian_cadastro_dt" id="model_desapropriacao_individual_anexos_ian_cadastro_dt_' + index + '"/>';

        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ane_nome_original + '" name="list_model_desapropriacao_individual_anexos[' + index + '].dia_anexo_nome" id="model_desapropriacao_individual_anexos_dia_anexo_nome' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ane_nome  + '" name="list_model_desapropriacao_individual_anexos[' + index + '].ian_anexo" id="model_desapropriacao_individual_anexos_ian_anexo_' + index + '"/>';
        
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ane_id + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_id" id="model_desapropriacao_individual_anexos_ane_id_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ane_nome_original + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_nome_original" id="model_desapropriacao_individual_anexos_ane_nome_original_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ane_nome + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_nome" id="model_desapropriacao_individual_anexos_ane_nome_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ane_mime_type + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_mime_type" id="model_desapropriacao_individual_anexos_ane_mime_type_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ane_ordem + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_ordem" id="model_desapropriacao_individual_anexos_ane_ordem_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_dtCreate + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.list_model_anexo[0].dtCreate" id="model_desapropriacao_individual_anexos_dtCreate_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_userCreate + '" name="list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.list_model_anexo[0].userCreate" id="model_desapropriacao_individual_anexos_userCreate_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_anexos_ian_tipo + '" name="list_model_desapropriacao_individual_anexos[' + index + '].ian_tipo" id="model_desapropriacao_individual_anexos_ian_tipo_' + index + '"/>';

        gvRow += '<span id="fileAnexos_' + index + '"></span>';

        gvRow += "</td></tr>";

        tbody.append(gvRow);

        if ($("#browser").val() == "InternetExplorer") {
            var input = $("#uploadAnexo input[type='file']").first();
            input.attr("id", "model_desapropriacao_individual_anexos_ane_arquivo_" + index).attr("name", "list_model_desapropriacao_individual_anexos[" + index + "].model_anexo_identificador.list_model_anexo[0].ane_arquivo");
            input.parents("div.upload").first().detach();
            $("#fileAnexos_" + index).append(input);

            input = $("#uploadAnexo input[type='file']").first();
            input.attr("id", "ian_file_upload");
            var parent = input.parents("div.upload");
            parent.find("label").attr("for", "ian_file_upload");
            parent.show();
        }
        else {
            //CLONA FILE UPLOAD///
            var clone = $("#ian_file_upload").clone();
            clone.attr('id', 'model_desapropriacao_individual_anexos_ane_arquivo_' + index).attr('name', 'list_model_desapropriacao_individual_anexos[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_arquivo');
            $('#fileAnexos_' + index).append(clone);
            //-----------------------------------------------------------------------------------------------------------------------------------------------------------------------//
        }

        $("#ian_tipo").val('').trigger("chosen:updated");
        $("#ian_file_upload").val('');
        $("#ian_file_upload").filestyle('clear');
    }

    function ValidacaoAnexos() {

        $("#btnAdicionarAnexo").click(function (e) {

            var msg = "";
            var isValid = true;

            if (jQuery("#ian_tipo option:selected").val().length <= 0) {
                msg += "- escolhe o tipo do anexo.<br/>";
                isValid = false;
            }

            if (jQuery("#ian_file_upload").val().length <= 0) {
                msg += "- escolha o anexo.<br/>";
                isValid = false;
            }

            if (!isValid) {
                Mensagens.Modal("Atenção", msg, BootstrapDialog.TYPE_WARNING);
                e.preventDefault();
            } else {
                AdicionarAnexo();
            }

            return isValid;
        });
    }
    
    jQuery(document).ready(function () {
        LoadAnexosTable();
        ValidacaoAnexos();
    });

</script>
