﻿@using Entity.GERENCIADORPORTAL
@using WebAppMvc.Areas.Desapropriacao.Models
@model WebAppMvc.Areas.Desapropriacao.Models.model_desapropriacao_individual_cultura
@{
    var culturasItems = (List<model_desapropriacao_individual_cultura>)ViewBag.ListModelCulturas;

    var browser = Request.Browser.Browser;
}
<div id="divCulturas" class="box-body">
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.icu_tipo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.icu_tipo)</label>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            @Html.TextBoxFor(model => model.icu_tipo, htmlAttributes: new { @class = "form-control", maxlength = "50", placeholder = "Tipo", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.icu_exploracao_estagio)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.icu_exploracao_estagio)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextBoxFor(model => model.icu_exploracao_estagio, htmlAttributes: new { @class = "form-control", maxlength = "100", placeholder = "Estágio de exploração", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.icu_cultivo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.icu_cultivo)</label>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            @Html.TextBoxFor(model => model.icu_cultivo, htmlAttributes: new { @class = "form-control", maxlength = "100", placeholder = "Cultivo", disabled = "disabled" })
        </div>
        <label for="@Html.DisplayNameFor(model => model.icu_area)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.icu_area)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.icu_area, htmlAttributes: new { @class = "form-control", maxlength = "20", placeholder = "Área", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.icu_valor_total)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.icu_valor_total)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.icu_valor_total, htmlAttributes: new { @class = "form-control", maxlength = "11", @data_money_mask = "true", placeholder = "R$", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.icu_observacao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.icu_observacao)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextAreaFor(model => model.icu_observacao, htmlAttributes: new { style = "height: 110px;", @class = "form-control", maxlength = "500", placeholder = "Digite a observação", disabled = "disabled" })
        </div>
    </div>
    @{
        if (browser == "InternetExplorer")
        {
            for (int i = culturasItems.Count; i < culturasItems.Count + 10; i++)
            {
                <div class="form-group upload" style="display: none">
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        <input id="file-input-cultura-@i.ToString()" class="image-upload" type="file" accept="image/*" onchange="AdicionarImagemCultura(@i.ToString());" />
                    </div>
                </div>
            }
        }
    }
    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" disabled="disabled" id="btnAdicionarCultura">
                <i class="fa fa-plus-square"></i> Adicionar</button>
        </div>
    </div>
    <div id="divGridCultura" class="form-group" style="display: @(culturasItems.Count > 0 ? "inline" : "none");">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_cultura">
                    <thead>
                        <tr>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Estágio de exploração
                            </th>
                            <th>
                                Cultivo
                            </th>
                            <th>
                                Área
                            </th>
                            <th>
                                Valor Total
                            </th>
                            <th>
                                Observação
                            </th>
                            <th>
                                Anexos
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in culturasItems.Select((r, i) => new { Row = r, Index = i }))
                        {
                            <tr id="tr_table_cultura_@item.Index">
                                <td>@item.Row.icu_tipo
                                </td>
                                <td>@item.Row.icu_exploracao_estagio
                                </td>
                                <td>@item.Row.icu_cultivo
                                </td>
                                <td>@item.Row.icu_area
                                </td>
                                <td>@item.Row.icu_valor_total
                                </td>
                                <td>@item.Row.icu_observacao
                                </td>
                                <td class='td-upload'>
                                    <div class='box box-default'>
                                        <div class='box-header with-border'>
                                           <span class='box-title' data-widget='collapse'>Imagens</span>
                                           <div class='box-tools pull-right'>
                                                <button class='btn btn-box-tool' data-widget='collapse' type='button'><i class='fa fa-minus'></i></button>
                                           </div>
                                        </div>
                                        <div class='box-body sortable' style='display: block;'>
                                            @foreach (var anexo in item.Row.model_anexo_identificador.list_model_anexo.Select((r, i) => new { Row = r, Index = i }))
                                            {
                                                <div>
                                                    <a href="@Url.Content(anexo.Row.ane_pasta)" data-lightbox="@anexo.Index" tabindex="-1">
                                                        <img src="@Url.Content(anexo.Row.ane_pasta)" alt="Imagem" class="control-upload" />
                                                    </a>
                                                    <input type="text" value="@anexo.Row.ane_legenda" class="form-control control-upload" name="list_model_desapropriacao_individual_cultura[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_legenda" data-index="@anexo.Index" readonly />
                                                    <br />

                                                    <input type="hidden" value="@anexo.Row.aid_id" name="list_model_desapropriacao_individual_cultura[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].aid_id" />
                                                    <input type="hidden" value="@anexo.Row.ane_id" name="list_model_desapropriacao_individual_cultura[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_id" />
                                                    <input type="hidden" value="@anexo.Row.ane_nome" name="list_model_desapropriacao_individual_cultura[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_nome" />
                                                    <input type="hidden" value="@anexo.Row.ane_nome_original" name="list_model_desapropriacao_individual_cultura[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_nome_original" />
                                                    <input type="hidden" value="@anexo.Row.ane_pasta" name="list_model_desapropriacao_individual_cultura[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_pasta" />
                                                    <input type="hidden" value="@anexo.Row.ane_ordem" name="list_model_desapropriacao_individual_cultura[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_ordem" />
                                                    <input type="hidden" value="@anexo.Row.userCreate" name="list_model_desapropriacao_individual_cultura[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].userCreate" />
                                                    <input type="hidden" value="@anexo.Row.dtCreate" name="list_model_desapropriacao_individual_cultura[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].dtCreate" />
                                                </div>
                                            }
                                        </div>
                                    </div>
                                 </td>
                                <td>
                                    <button class="fa fa-edit btn btn-primary btn-sm" alt="Editar" title="Editar" type="button" disabled="disabled" data-toggle="modal" data-target="#modalCultura" data-index="@item.Index"></button>
                                    <button class="fa fa-trash btn btn-danger btn-sm" alt="Exluir" title="Excluir" type="button" disabled="disabled" id="btnExcluirCultura_@item.Index" onclick="DeletarRegistro('Cultura', 'icu', @item.Index)"></button>
                                    <span>
                                        <input type="hidden" value="@item.Row.icu_id" name="list_model_desapropriacao_individual_cultura[@item.Index].icu_id" id="model_desapropriacao_individual_cultura_icu_id_@item.Index" />
                                        <input type="hidden" value="@item.Row.icu_tipo" name="list_model_desapropriacao_individual_cultura[@item.Index].icu_tipo" id="model_desapropriacao_individual_cultura_icu_tipo_@item.Index" />
                                        <input type="hidden" value="@item.Row.icu_exploracao_estagio" name="list_model_desapropriacao_individual_cultura[@item.Index].icu_exploracao_estagio" id="model_desapropriacao_individual_cultura_icu_exploracao_estagio_@item.Index" />
                                        <input type="hidden" value="@item.Row.icu_cultivo" name="list_model_desapropriacao_individual_cultura[@item.Index].icu_cultivo" id="model_desapropriacao_individual_cultura_icu_cultivo_@item.Index" />
                                        <input type="hidden" value="@item.Row.icu_area" name="list_model_desapropriacao_individual_cultura[@item.Index].icu_area" id="model_desapropriacao_individual_cultura_icu_area_@item.Index" />
                                        <input type="hidden" value="@item.Row.icu_valor_total" name="list_model_desapropriacao_individual_cultura[@item.Index].icu_valor_total" id="model_desapropriacao_individual_cultura_icu_valor_total_@item.Index" />
                                        <input type="hidden" value="@item.Row.icu_observacao" name="list_model_desapropriacao_individual_cultura[@item.Index].icu_observacao" id="model_desapropriacao_individual_cultura_icu_observacao_@item.Index" />
                                        <input type="hidden" value="0" name="list_model_desapropriacao_individual_cultura[@item.Index].icu_acao" id="model_desapropriacao_individual_cultura_icu_acao_@item.Index" />
                                        <input type="hidden" value="@item.Row.icu_anexo_identificador_id" name="list_model_desapropriacao_individual_cultura[@item.Index].icu_anexo_identificador_id" id="model_desapropriacao_individual_cultura_icu_anexo_identificador_id_@item.Index" />
                                        <input type="hidden" value="@item.Row.icu_cadastro_dt" name="list_model_desapropriacao_individual_cultura[@item.Index].icu_cadastro_dt" id="model_desapropriacao_individual_cultura_icu_cadastro_dt_@item.Index" />
                                        <input type="hidden" value="@item.Row.userCreate" name="list_model_desapropriacao_individual_cultura[@item.Index].userCreate" id="model_desapropriacao_individual_cultura_userCreate_@item.Index" />
                                        <input type="hidden" value="@item.Row.dtCreate" name="list_model_desapropriacao_individual_cultura[@item.Index].dtCreate" id="model_desapropriacao_individual_cultura_dtCreate_@item.Index" />

                                        <input type="hidden" value="@item.Row.model_anexo_identificador.aid_id" name="list_model_desapropriacao_individual_cultura[@item.Index].model_anexo_identificador.aid_id" id="model_desapropriacao_individual_cultura_aid_id_@item.Index" />
                                        <input type="hidden" value="@item.Row.model_anexo_identificador.aid_form" name="list_model_desapropriacao_individual_cultura[@item.Index].model_anexo_identificador.aid_form" id="model_desapropriacao_individual_cultura_aid_form_@item.Index" />
                                        <input type="hidden" value="@item.Row.model_anexo_identificador.aid_guia" name="list_model_desapropriacao_individual_cultura[@item.Index].model_anexo_identificador.aid_guia" id="model_desapropriacao_individual_cultura_aid_guia_@item.Index" />
                                        <input type="hidden" value="@item.Row.model_anexo_identificador.aid_tipo" name="list_model_desapropriacao_individual_cultura[@item.Index].model_anexo_identificador.aid_tipo" id="model_desapropriacao_individual_cultura_aid_tipo_@item.Index" />
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="modalCultura" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Editar Cultura
                    </h4>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.icu_tipo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.icu_tipo)</label>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        @Html.TextBoxFor(model => model.icu_tipo, htmlAttributes: new { id = "modal_icu_tipo", @class = "form-control", maxlength = "50", placeholder = "Tipo", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.icu_exploracao_estagio)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.icu_exploracao_estagio)</label>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                        @Html.TextBoxFor(model => model.icu_exploracao_estagio, htmlAttributes: new { id = "modal_icu_exploracao_estagio", @class = "form-control", maxlength = "100", placeholder = "Estágio de exploração", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.icu_cultivo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.icu_cultivo)</label>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        @Html.TextBoxFor(model => model.icu_cultivo, htmlAttributes: new { id = "modal_icu_cultivo", @class = "form-control", maxlength = "100", placeholder = "Cultivo", disabled = "disabled" })
                    </div>
                    <label for="@Html.DisplayNameFor(model => model.icu_area)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.icu_area)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.icu_area, htmlAttributes: new { id = "modal_icu_area", @class = "form-control", maxlength = "20", placeholder = "Área", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.icu_valor_total)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.icu_valor_total)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.icu_valor_total, htmlAttributes: new { id = "modal_icu_valor_total", @class = "form-control", maxlength = "11", @data_money_mask = "true", placeholder = "R$", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.icu_observacao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.icu_observacao)</label>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                        @Html.TextAreaFor(model => model.icu_observacao, htmlAttributes: new { id = "modal_icu_observacao", style = "height: 110px;", @class = "form-control", maxlength = "500", placeholder = "Digite a observação", disabled = "disabled" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnEditarCultura" type="button" class="btn btn-success" data-dismiss="modal">
                        Salvar
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">

    $("#modalCultura").on("show.bs.modal", function (e) {
        var index = Number(e.relatedTarget.dataset['index']);
        $(this).attr('data-index', index);

        $("#modal_icu_tipo").val($("#model_desapropriacao_individual_cultura_icu_tipo_" + index).val());
        $("#modal_icu_exploracao_estagio").val($("#model_desapropriacao_individual_cultura_icu_exploracao_estagio_" + index).val());
        $("#modal_icu_cultivo").val($("#model_desapropriacao_individual_cultura_icu_cultivo_" + index).val());
        $("#modal_icu_area").val($("#model_desapropriacao_individual_cultura_icu_area_" + index).val());
        $("#modal_icu_valor_total").val($("#model_desapropriacao_individual_cultura_icu_valor_total_" + index).val());
        $("#modal_icu_observacao").val($("#model_desapropriacao_individual_cultura_icu_observacao_" + index).val());
    })

    $("#btnEditarCultura").on('click', function (e) {
        var index = $("#modalCultura").attr("data-index");
        EditarCultura(Number(index));
    });

    function EditarCultura(index) {
        var tipo = $("#modal_icu_tipo").val();
        var exploracao_estagio = $("#modal_icu_exploracao_estagio").val();
        var cultivo = $("#modal_icu_cultivo").val();
        var area = $("#modal_icu_area").val();
        var valor_total = $("#modal_icu_valor_total").val();
        var observacao = $("#modal_icu_observacao_instalacoes").val();

        $("#tr_table_cultura_" + index + " td:nth-child(1)").html(tipo);
        $("#tr_table_cultura_" + index + " td:nth-child(2)").html(exploracao_estagio);
        $("#tr_table_cultura_" + index + " td:nth-child(3)").html(cultivo);
        $("#tr_table_cultura_" + index + " td:nth-child(4)").html(area);
        $("#tr_table_cultura_" + index + " td:nth-child(5)").html(valor_total);
        $("#tr_table_cultura_" + index + " td:nth-child(6)").html(observacao);

        $("#model_desapropriacao_individual_cultura_icu_tipo_" + index).val(tipo);
        $("#model_desapropriacao_individual_cultura_icu_exploracao_estagio_" + index).val(exploracao_estagio);
        $("#model_desapropriacao_individual_cultura_icu_cultivo_" + index).val(cultivo);
        $("#model_desapropriacao_individual_cultura_icu_area_" + index).val(area);
        $("#model_desapropriacao_individual_cultura_icu_valor_total_" + index).val(valor_total);
        $("#model_desapropriacao_individual_cultura_icu_observacao_" + index).val(observacao);

        $("#model_desapropriacao_individual_cultura_icu_acao_" + index).val(2);
    }

    function AdicionarCultura() {
        $("#divGridCultura").css({ "display": "inline" });

        var index = $("#table_cultura > tbody > tr").length;

        var model_desapropriacao_individual_cultura_icu_tipo = $("#icu_tipo").val();
        var model_desapropriacao_individual_cultura_icu_exploracao_estagio = $("#icu_exploracao_estagio").val();
        var model_desapropriacao_individual_cultura_icu_cultivo = $("#icu_cultivo").val();
        var model_desapropriacao_individual_cultura_icu_area = $("#icu_area").val();
        var model_desapropriacao_individual_cultura_icu_valor_total = $("#icu_valor_total").val();
        var model_desapropriacao_individual_cultura_icu_observacao = $("#icu_observacao").val();

        var model_desapropriacao_individual_cultura_icu_acao = 1;
        var model_desapropriacao_individual_cultura_icu_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();
        var model_desapropriacao_individual_cultura_userCreate = $("#userCreate").val();
        var model_desapropriacao_individual_cultura_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var tbody = $("#table_cultura").find("tbody");

        var gvRow = '';

        gvRow += "<tr id=\"tr_table_cultura_" + index + "\">";
        gvRow += "<td>" + model_desapropriacao_individual_cultura_icu_tipo + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_cultura_icu_exploracao_estagio + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_cultura_icu_cultivo + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_cultura_icu_area + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_cultura_icu_valor_total + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_cultura_icu_observacao + "</td>";

        var inputName = ($("#browser").val() == "InternetExplorer" ? "input-cultura-" + index : "file-input-cultura-" + index);

        gvRow += "<td class='td-upload'>" +
                    "<div class='box box-default'>" +
                        "<div class='box-header with-border'>" +
                            "<span class='box-title' data-widget='collapse'>Imagens</span>" +
                            "<div class='box-tools pull-right'>" +
                                "<button class='btn btn-box-tool' data-widget='collapse' type='button'><i class='fa fa-minus'></i></button>" +
                            "</div>" +
                        "</div>" +
                        "<div class='box-body'>" +
                            "<label class='label-button btn btn-success' for='file-input-cultura-" + index + "'>Adicionar Imagem</label>" +
                            "<input id='" + inputName + "' class='image-upload' type='file' accept='image/*' onchange='AdicionarImagemCultura(" + index + ");' />" +
                        "</div>" +
                        "<div class='box-body sortable' style='display: block;'></div>" +
                    "</div>" +
                 "</td>";

        gvRow += "<td><button class=\"fa fa-trash btn btn-danger btn-sm\" alt=\"Exluir\" title=\"Excluir\" type=\"button\" id=\"btnExcluirCultura\" onclick=\"DeletarRegistro('Cultura', 'icu', " + index + ")\"></button>";

        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_cultura_icu_tipo + '" name="list_model_desapropriacao_individual_cultura[' + index + '].icu_tipo" id="model_desapropriacao_individual_cultura_icu_tipo_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_cultura_icu_exploracao_estagio + '" name="list_model_desapropriacao_individual_cultura[' + index + '].icu_exploracao_estagio" id="model_desapropriacao_individual_cultura_icu_exploracao_estagio_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_cultura_icu_cultivo + '" name="list_model_desapropriacao_individual_cultura[' + index + '].icu_cultivo" id="model_desapropriacao_individual_cultura_icu_cultivo_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_cultura_icu_area + '" name="list_model_desapropriacao_individual_cultura[' + index + '].icu_area" id="model_desapropriacao_individual_cultura_icu_area_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_cultura_icu_valor_total + '" name="list_model_desapropriacao_individual_cultura[' + index + '].icu_valor_total" id="model_desapropriacao_individual_cultura_icu_valor_total_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_cultura_icu_observacao + '" name="list_model_desapropriacao_individual_cultura[' + index + '].icu_observacao" id="model_desapropriacao_individual_cultura_icu_observacao_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_cultura_icu_acao + '" name="list_model_desapropriacao_individual_cultura[' + index + '].icu_acao" id="model_desapropriacao_individual_cultura_icu_acao_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_cultura_icu_cadastro_dt + '" name="list_model_desapropriacao_individual_cultura[' + index + '].icu_cadastro_dt" id="model_desapropriacao_individual_cultura_icu_cadastro_dt_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_cultura_userCreate + '" name="list_model_desapropriacao_individual_cultura[' + index + '].userCreate" id="model_desapropriacao_individual_cultura_userCreate_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_cultura_dtCreate + '" name="list_model_desapropriacao_individual_cultura[' + index + '].dtCreate" id="model_desapropriacao_individual_cultura_dtCreate_' + index + '" />';

        gvRow += '<span id="fileCultura_' + index + '" style="display: none"></span>';
        gvRow += '</td></tr>';

        tbody.append(gvRow);

        LimparCampos("divCulturas");
    }

    function ValidacaoCultura() {

        $("#btnAdicionarCultura").click(function (e) {

            var msg = "";
            var isValid = true;

            if (jQuery("#icu_tipo").val().length <= 0) { msg += "- digite o tipo.<br/>"; isValid = false; }
            if (jQuery("#icu_cultivo").val().length <= 0) { msg += "- digite o cultivo.<br/>"; isValid = false; }
            if (jQuery("#icu_area").val().length <= 0) { msg += "- digite a área.<br/>"; isValid = false; }
            if (jQuery("#icu_valor_total").val().length <= 0) { msg += "- digite o valor total.<br/>"; isValid = false; }
            if (jQuery("#icu_observacao").val().length <= 0) { msg += "- digite a observação.<br/>"; isValid = false; }

            if (!isValid) {
                Mensagens.Modal("Atenção", msg, BootstrapDialog.TYPE_WARNING);
                e.preventDefault();
            } else {
                AdicionarCultura();
            }

            return isValid;
        });
    };

    function AdicionarImagemCultura(index) {
        var input = $("#file-input-cultura-" + index);
        var parentDiv = $("#table_cultura tr:nth-child(" + (index + 1) + ") td.td-upload div.sortable");

        var files = input.prop('files');
        var imageIndex = parentDiv.children('div').length;

        if (files.length === 1) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var div = '<div>' +
                             '<a href="' + e.target.result + '" data-lightbox="' + input.attr('id') + '-' + index + '" tabindex="-1">' +
                                '<img src="' + e.target.result + '" alt="Imagem" class="control-upload" />' +
                             '</a>' +
                             '<button type="button" class="btn btn-danger" alt="Remover Imagem" tabindex="-1"><i class="fa fa-minus"></i></button>' +
                             '<br />' +
                             '<input type="text" class="control-upload" maxlength="100" placeholder="Legenda" ' +
                                 'name="list_model_desapropriacao_individual_cultura[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].ane_legenda" data-index="' + imageIndex + '" />' +
                            '<input type="hidden" class="ordem-anexo" value="' + (imageIndex + 1) + '" style="display: none;" ' +
                                'name="list_model_desapropriacao_individual_cultura[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].ane_ordem" />' +
                            '<input type="hidden" value="' + $("#userCreatecultura").val() + '" ' +
                                'name="list_model_desapropriacao_individual_cultura[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].userCreate" />' +
                             '<br /><br />' +
                          '</div>';

                parentDiv.append(div);
                var lastDiv = parentDiv.find('div:last');

                if ($("#browser").val() == "InternetExplorer") {
                    input.attr('id', 'list_model_desapropriacao_individual_cultura_' + index + '_model_anexo_identificador_list_model_anexo_' + imageIndex + '_ane_arquivo')
                        .attr('name', 'list_model_desapropriacao_individual_cultura[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].ane_arquivo');
                }
                else {
                    var clone = input.clone();
                    clone.attr('id', 'list_model_desapropriacao_individual_cultura_' + index + '_model_anexo_identificador_list_model_anexo_' + imageIndex + '_ane_arquivo')
                        .attr('name', 'list_model_desapropriacao_individual_cultura[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].ane_arquivo')
                        .css('display', 'none');
                    lastDiv.append(clone);
                }

                $("input.control-upload:last").on("input", function (e) {
                    $(this).parent().find('a:first').attr('data-title', $(this).val());
                    $(this).parent().find('img:first').attr('alt', $(this).val());
                });

            }

            reader.readAsDataURL(files[0]);
        }


        $('div.sortable').sortable({
            update: function (event, ui) {
                AtualizarOrdem(ui.item.parent());
            }
        });
    }

    function RemoverImagemCultura(div) {
        var parentDiv = div.parent();
        var td = parentDiv.parent().parent();

        div.remove();

        parentDiv.find("div input[type=text]").each(function (index) {
            $(this)
               .attr('name', 'list_model_desapropriacao_individual_cultura[' + td.parent().index() + '].model_anexo_identificador.list_model_anexo[' + index + '].ane_legenda');
        });

        parentDiv.find("div input[type=file]").each(function (index) {
            $(this)
               .attr('id', 'list_model_desapropriacao_individual_cultura_' + td.parent().index() + '_model_anexo_identificador_list_model_anexo_' + index + '_ane_arquivo')
               .attr('name', 'list_model_desapropriacao_individual_cultura[' + td.parent().index() + '].model_anexo_identificador.list_model_anexo[' + index + '].ane_arquivo');
        });

        AtualizarOrdem(parentDiv);
    }

    jQuery(document).ready(function () {
        ValidacaoCultura();

        $("#table_cultura tbody").on("click", "tr td.td-upload div.sortable button", function (event) {
            RemoverImagemCultura($(this).parent());
        });
    });

</script>
