﻿@using Entity.GERENCIADORPORTAL
@using WebAppMvc.Areas.Desapropriacao.Models
@model WebAppMvc.Areas.Desapropriacao.Models.model_desapropriacao_individual_divisa
@{
    var divisasItems = (List<model_desapropriacao_individual_divisa>)ViewBag.ListModelDivisas;

    var browser = Request.Browser.Browser;
}
<div id="divDivisas" class="box-body">
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.idi_tipo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.idi_tipo)</label>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            @Html.TextBoxFor(model => model.idi_tipo, htmlAttributes: new { @class = "form-control", maxlength = "50", placeholder = "Tipo", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.idi_descricao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.idi_descricao)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextBoxFor(model => model.idi_descricao, htmlAttributes: new { @class = "form-control", maxlength = "200", placeholder = "Descrição", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.idi_quantidade)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.idi_quantidade)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.idi_quantidade, htmlAttributes: new { @class = "form-control", maxlength = "20", @data_only_number = "true", placeholder = "Quantidade", disabled = "disabled" })
        </div>
        <label for="@Html.DisplayNameFor(model => model.idi_unidade)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.idi_unidade)</label>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            @Html.TextBoxFor(model => model.idi_unidade, htmlAttributes: new { @class = "form-control", maxlength = "50", placeholder = "Unidade", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.idi_observacao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.idi_observacao)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextAreaFor(model => model.idi_observacao, htmlAttributes: new { style = "height: 110px;", @class = "form-control", maxlength = "500", placeholder = "Digite a observação", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.idi_valor_total)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.idi_valor_total)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.idi_valor_total, htmlAttributes: new { @class = "form-control", maxlength = "11", @data_money_mask = "true", placeholder = "R$", disabled = "disabled" })
        </div>
    </div>
    @{
        if (browser == "InternetExplorer")
        {
            for (int i = divisasItems.Count; i < divisasItems.Count + 10; i++)
            {
                <div class="form-group upload" style="display: none">
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        <input id="file-input-divisa-@i.ToString()" class="image-upload" type="file" accept="image/*" onchange="AdicionarImagemDivisa(@i.ToString());" />
                    </div>
                </div>
            }
        }
    }
    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" disabled="disabled" id="btnAdicionarDivisa">
                <i class="fa fa-plus-square"></i> Adicionar</button>
        </div>
    </div>
    <div id="divGridDivisa" class="form-group" style="display: @(divisasItems.Count > 0 ? "inline" : "none");">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_divisa">
                    <thead>
                        <tr>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Descrição
                            </th>
                            <th>
                                Quantidade
                            </th>
                            <th>
                                Unidade
                            </th>
                            <th>
                                Observações
                            </th>
                            <th>
                                Valor Total
                            </th>
                            <th>
                                Anexos
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in divisasItems.Select((r, i) => new { Row = r, Index = i }))
                        {
                            <tr id="tr_table_divisa_@item.Index">
                                <td>@item.Row.idi_tipo
                                </td>
                                <td>@item.Row.idi_descricao
                                </td>
                                <td>@item.Row.idi_quantidade
                                </td>
                                <td>@item.Row.idi_unidade
                                </td>
                                <td>@item.Row.idi_observacao
                                </td>
                                <td>@item.Row.idi_valor_total
                                </td>
                                <td class='td-upload'>
                                    <div class='box box-default'>
                                        <div class='box-header with-border'>
                                            <span class='box-title' data-widget='collapse'>Imagens</span>
                                            <div class='box-tools pull-right'>
                                                <button class='btn btn-box-tool' data-widget='collapse' type='button'>
                                                    <i class='fa fa-minus'></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class='box-body sortable' style='display: block;'>
                                            @foreach (var anexo in item.Row.model_anexo_identificador.list_model_anexo.Select((r, i) => new { Row = r, Index = i }))
                                            {
                                                <div>
                                                    <a href="@Url.Content(anexo.Row.ane_pasta)" data-lightbox="@anexo.Index" tabindex="-1">
                                                        <img src="@Url.Content(anexo.Row.ane_pasta)" alt="Imagem" class="control-upload" />
                                                    </a>
                                                    <input type="text" value="@anexo.Row.ane_legenda" class="form-control control-upload" name="list_model_desapropriacao_individual_divisa[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_legenda" data-index="@anexo.Index" readonly />
                                                    <br />

                                                    <input type="hidden" value="@anexo.Row.aid_id" name="list_model_desapropriacao_individual_divisa[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].aid_id" />
                                                    <input type="hidden" value="@anexo.Row.ane_id" name="list_model_desapropriacao_individual_divisa[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_id" />
                                                    <input type="hidden" value="@anexo.Row.ane_nome" name="list_model_desapropriacao_individual_divisa[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_nome" />
                                                    <input type="hidden" value="@anexo.Row.ane_nome_original" name="list_model_desapropriacao_individual_divisa[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_nome_original" />
                                                    <input type="hidden" value="@anexo.Row.ane_pasta" name="list_model_desapropriacao_individual_divisa[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_pasta" />
                                                    <input type="hidden" value="@anexo.Row.ane_ordem" name="list_model_desapropriacao_individual_divisa[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_ordem" />
                                                    <input type="hidden" value="@anexo.Row.userCreate" name="list_model_desapropriacao_individual_divisa[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].userCreate" />
                                                    <input type="hidden" value="@anexo.Row.dtCreate" name="list_model_desapropriacao_individual_divisa[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].dtCreate" />
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button class="fa fa-edit btn btn-primary btn-sm" alt="Editar" title="Editar" type="button" disabled="disabled" data-toggle="modal" data-target="#modalDivisa" data-index="@item.Index"></button>
                                    <button class="fa fa-trash btn btn-danger btn-sm" alt="Exluir" title="Excluir" type="button" disabled="disabled" onclick="DeletarRegistro('Divisa', 'idi', @item.Index)"></button>
                                    <span>
                                        <input type="hidden" value="@item.Row.idi_id" name="list_model_desapropriacao_individual_divisa[@item.Index].idi_id" id="model_desapropriacao_individual_divisa_idi_id_@item.Index" />
                                        <input type="hidden" value="@item.Row.idi_tipo" name="list_model_desapropriacao_individual_divisa[@item.Index].idi_tipo" id="model_desapropriacao_individual_divisa_idi_tipo_@item.Index" />
                                        <input type="hidden" value="@item.Row.idi_descricao" name="list_model_desapropriacao_individual_divisa[@item.Index].idi_descricao" id="model_desapropriacao_individual_divisa_idi_descricao_@item.Index" />
                                        <input type="hidden" value="@item.Row.idi_quantidade" name="list_model_desapropriacao_individual_divisa[@item.Index].idi_quantidade" id="model_desapropriacao_individual_divisa_idi_quantidade_@item.Index" />
                                        <input type="hidden" value="@item.Row.idi_unidade" name="list_model_desapropriacao_individual_divisa[@item.Index].idi_unidade" id="model_desapropriacao_individual_divisa_idi_unidade_@item.Index" />
                                        <input type="hidden" value="@item.Row.idi_observacao" name="list_model_desapropriacao_individual_divisa[@item.Index].idi_observacao" id="model_desapropriacao_individual_divisa_idi_observacao_@item.Index" />
                                        <input type="hidden" value="@item.Row.idi_valor_total" name="list_model_desapropriacao_individual_divisa[@item.Index].idi_valor_total" id="model_desapropriacao_individual_divisa_idi_valor_total_@item.Index" />
                                        <input type="hidden" value="0" name="list_model_desapropriacao_individual_divisa[@item.Index].idi_acao" id="model_desapropriacao_individual_divisa_idi_acao_@item.Index" />
                                        <input type="hidden" value="@item.Row.idi_anexo_identificador_id" name="list_model_desapropriacao_individual_divisa[@item.Index].idi_anexo_identificador_id" id="model_desapropriacao_individual_divisa_idi_anexo_identificador_id_@item.Index" />
                                        <input type="hidden" value="@item.Row.idi_cadastro_dt" name="list_model_desapropriacao_individual_divisa[@item.Index].idi_cadastro_dt" id="model_desapropriacao_individual_divisa_idi_cadastro_dt_@item.Index" />
                                        <input type="hidden" value="@item.Row.userCreate" name="list_model_desapropriacao_individual_divisa[@item.Index].userCreate" id="model_desapropriacao_individual_divisa_userCreate_@item.Index" />
                                        <input type="hidden" value="@item.Row.dtCreate" name="list_model_desapropriacao_individual_divisa[@item.Index].dtCreate" id="model_desapropriacao_individual_divisa_dtCreate_@item.Index" />

                                        <input type="hidden" value="@item.Row.model_anexo_identificador.aid_id" name="list_model_desapropriacao_individual_divisa[@item.Index].model_anexo_identificador.aid_id" id="model_desapropriacao_individual_divisa_aid_id_@item.Index" />
                                        <input type="hidden" value="@item.Row.model_anexo_identificador.aid_form" name="list_model_desapropriacao_individual_divisa[@item.Index].model_anexo_identificador.aid_form" id="model_desapropriacao_individual_divisa_aid_form_@item.Index" />
                                        <input type="hidden" value="@item.Row.model_anexo_identificador.aid_guia" name="list_model_desapropriacao_individual_divisa[@item.Index].model_anexo_identificador.aid_guia" id="model_desapropriacao_individual_divisa_aid_guia_@item.Index" />
                                        <input type="hidden" value="@item.Row.model_anexo_identificador.aid_tipo" name="list_model_desapropriacao_individual_divisa[@item.Index].model_anexo_identificador.aid_tipo" id="model_desapropriacao_individual_divisa_aid_tipo_@item.Index" />
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="modalDivisa" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Editar Divisa
                    </h4>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.idi_tipo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.idi_tipo)</label>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        @Html.TextBoxFor(model => model.idi_tipo, htmlAttributes: new { id = "modal_idi_tipo", @class = "form-control", maxlength = "50", placeholder = "Tipo", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.idi_descricao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.idi_descricao)</label>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                        @Html.TextBoxFor(model => model.idi_descricao, htmlAttributes: new { id = "modal_idi_descricao", @class = "form-control", maxlength = "200", placeholder = "Descrição", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.idi_quantidade)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.idi_quantidade)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.idi_quantidade, htmlAttributes: new { id = "modal_idi_quantidade", @class = "form-control", maxlength = "20", @data_only_number = "true", placeholder = "Quantidade", disabled = "disabled" })
                    </div>
                    <label for="@Html.DisplayNameFor(model => model.idi_unidade)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.idi_unidade)</label>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        @Html.TextBoxFor(model => model.idi_unidade, htmlAttributes: new { id = "modal_idi_unidade", @class = "form-control", maxlength = "50", placeholder = "Unidade", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.idi_observacao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.idi_observacao)</label>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                        @Html.TextAreaFor(model => model.idi_observacao, htmlAttributes: new { id = "modal_idi_observacao", style = "height: 110px;", @class = "form-control", maxlength = "500", placeholder = "Digite a observação", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.idi_valor_total)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.idi_valor_total)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.idi_valor_total, htmlAttributes: new { id = "modal_idi_valor_total", @class = "form-control", maxlength = "11", @data_money_mask = "true", placeholder = "R$", disabled = "disabled" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnEditarDivisa" type="button" class="btn btn-success" data-dismiss="modal">
                        Salvar
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">

    $("#modalDivisa").on("show.bs.modal", function (e) {
        var index = Number(e.relatedTarget.dataset['index']);
        $(this).attr('data-index', index);

        $("#modal_idi_tipo").val($("#model_desapropriacao_individual_divisa_idi_tipo_" + index).val());
        $("#modal_idi_descricao").val($("#model_desapropriacao_individual_divisa_idi_descricao_" + index).val());
        $("#modal_idi_quantidade").val($("#model_desapropriacao_individual_divisa_idi_quantidade_" + index).val());
        $("#modal_idi_unidade").val($("#model_desapropriacao_individual_divisa_idi_unidade_" + index).val());
        $("#modal_idi_observacao").val($("#model_desapropriacao_individual_divisa_idi_observacao_" + index).val());
        $("#modal_idi_valor_total").val($("#model_desapropriacao_individual_divisa_idi_valor_total_" + index).val());
    })

    $("#btnEditarDivisa").on('click', function (e) {
        var index = $("#modalDivisa").attr("data-index");
        EditarDivisa(Number(index));
    });

    function EditarDivisa(index) {
        var tipo = $("#modal_idi_tipo").val();
        var descricao = $("#modal_idi_descricao").val();
        var quantidade = $("#modal_idi_quantidade").val();
        var unidade = $("#modal_idi_unidade").val();
        var observacao = $("#modal_idi_observacao").val();
        var valor_total = $("#modal_idi_valor_total").val();

        $("#tr_table_divisa_" + index + " td:nth-child(1)").html(tipo);
        $("#tr_table_divisa_" + index + " td:nth-child(2)").html(descricao);
        $("#tr_table_divisa_" + index + " td:nth-child(3)").html(quantidade);
        $("#tr_table_divisa_" + index + " td:nth-child(4)").html(unidade);
        $("#tr_table_divisa_" + index + " td:nth-child(5)").html(observacao);
        $("#tr_table_divisa_" + index + " td:nth-child(6)").html(valor_total);

        $("#model_desapropriacao_individual_divisa_idi_tipo_" + index).val(tipo);
        $("#model_desapropriacao_individual_divisa_idi_descricao_" + index).val(descricao);
        $("#model_desapropriacao_individual_divisa_idi_quantidade_" + index).val(quantidade);
        $("#model_desapropriacao_individual_divisa_idi_unidade_" + index).val(unidade);
        $("#model_desapropriacao_individual_divisa_idi_observacao_" + index).val(observacao);
        $("#model_desapropriacao_individual_divisa_idi_valor_total_" + index).val(valor_total);

        $("#model_desapropriacao_individual_divisa_idi_acao_" + index).val(2);
    }

    function AdicionarDivisa() {
        $("#divGridDivisa").css({ "display": "inline" });

        var index = $("#table_divisa > tbody > tr").length;

        var model_desapropriacao_individual_divisa_idi_tipo = $("#idi_tipo").val();
        var model_desapropriacao_individual_divisa_idi_descricao = $("#idi_descricao").val();
        var model_desapropriacao_individual_divisa_idi_quantidade = $("#idi_quantidade").val();
        var model_desapropriacao_individual_divisa_idi_unidade = $("#idi_unidade").val();
        var model_desapropriacao_individual_divisa_idi_observacao = $("#idi_observacao").val();
        var model_desapropriacao_individual_divisa_idi_valor_total = $("#idi_valor_total").val();

        var model_desapropriacao_individual_divisa_idi_acao = 1;
        var model_desapropriacao_individual_divisa_idi_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();
        var model_desapropriacao_individual_divisa_userCreate = $("#userCreate").val();
        var model_desapropriacao_individual_divisa_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var tbody = $("#table_divisa").find("tbody:first");

        var gvRow = '';

        gvRow += "<tr id=\"tr_table_divisa_" + index + "\">";
        gvRow += "<td>" + model_desapropriacao_individual_divisa_idi_tipo + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_divisa_idi_descricao + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_divisa_idi_quantidade + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_divisa_idi_unidade + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_divisa_idi_observacao + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_divisa_idi_valor_total + "</td>";

        var inputName = ($("#browser").val() == "InternetExplorer" ? "input-divisa-" + index : "file-input-divisa-" + index);

        gvRow += "<td class='td-upload'>" +
                    "<div class='box box-default'>" +
                        "<div class='box-header with-border'>" +
                            "<span class='box-title' data-widget='collapse'>Imagens</span>" +
                            "<div class='box-tools pull-right'>" +
                                "<button class='btn btn-box-tool' data-widget='collapse' type='button'><i class='fa fa-minus'></i></button>" +
                            "</div>" +
                        "</div>" +
                        "<div class='box-body'>" +
                            "<label class='label-button btn btn-success' for='file-input-divisa-" + index + "'>Adicionar Imagem</label>" +
                            "<input id='" + inputName + "' class='image-upload' type='file' accept='image/*' onchange='AdicionarImagemDivisa(" + index + ");' />" +
                        "</div>" +
                        "<div class='box-body sortable' style='display: block;'></div>" +
                    "</div>" +
                 "</td>";

        gvRow += "<td><button class=\"fa fa-trash btn btn-danger btn-sm\" alt=\"Exluir\" title=\"Excluir\" type=\"button\" id=\"btnExcluirDivisa\" onclick=\"DeletarRegistro('Divisa', 'idi', " + index + ")\"></button>";

        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_divisa_idi_tipo + '" name="list_model_desapropriacao_individual_divisa[' + index + '].idi_tipo" id="model_desapropriacao_individual_divisa_idi_tipo_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_divisa_idi_descricao + '" name="list_model_desapropriacao_individual_divisa[' + index + '].idi_descricao" id="model_desapropriacao_individual_divisa_idi_descricao_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_divisa_idi_quantidade + '" name="list_model_desapropriacao_individual_divisa[' + index + '].idi_quantidade" id="model_desapropriacao_individual_divisa_idi_quantidade_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_divisa_idi_unidade + '" name="list_model_desapropriacao_individual_divisa[' + index + '].idi_unidade" id="model_desapropriacao_individual_divisa_idi_unidade_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_divisa_idi_observacao + '" name="list_model_desapropriacao_individual_divisa[' + index + '].idi_observacao" id="model_desapropriacao_individual_divisa_idi_observacao_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_divisa_idi_valor_total + '" name="list_model_desapropriacao_individual_divisa[' + index + '].idi_valor_total" id="model_desapropriacao_individual_divisa_idi_valor_total_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_divisa_idi_acao + '" name="list_model_desapropriacao_individual_divisa[' + index + '].idi_acao" id="model_desapropriacao_individual_divisa_idi_acao_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_divisa_idi_cadastro_dt + '" name="list_model_desapropriacao_individual_divisa[' + index + '].idi_cadastro_dt" id="model_desapropriacao_individual_divisa_idi_cadastro_dt_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_divisa_userCreate + '" name="list_model_desapropriacao_individual_divisa[' + index + '].userCreate" id="model_desapropriacao_individual_divisa_userCreate_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_divisa_dtCreate + '" name="list_model_desapropriacao_individual_divisa[' + index + '].dtCreate" id="model_desapropriacao_individual_divisa_dtCreate_' + index + '" />';

        gvRow += '<span id="fileDivisa_' + index + '" style="display: none"></span>';
        gvRow += '</td></tr>';

        tbody.append(gvRow);

        LimparCampos("divDivisas");
    }

    function AdicionarImagemDivisa(index) {
        var input = $("#file-input-divisa-" + index);
        var parentDiv = $("#table_divisa tr:nth-child(" + (index + 1) + ") td.td-upload div.sortable");

        var files = input.prop('files');
        var imageIndex = parentDiv.children('div').length;

        if (files.length === 1) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var div = '<div>' +
                             '<a href="' + e.target.result + '" data-lightbox="' + input.attr('id') + '-' + index + '" tabindex="-1">' +
                                '<img src="' + e.target.result + '" alt="Imagem" class="control-upload" />' +
                             '</a>' +
                             '<button type="button" class="btn btn-danger" alt="Remover Imagem" tabindex="-1"><i class="fa fa-minus"></i></button>' +
                             '<br />' +
                             '<input type="text" class="control-upload" maxlength="100" placeholder="Legenda" ' +
                                 'name="list_model_desapropriacao_individual_divisa[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].ane_legenda" data-index="' + imageIndex + '" />' +
                             '<input type="hidden" class="ordem-anexo" value="' + (imageIndex + 1) + '" style="display: none;" ' +
                                'name="list_model_desapropriacao_individual_divisa[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].ane_ordem" />' +
                             '<input type="hidden" value="' + $("#userCreateDivisa").val() + '" ' +
                                'name="list_model_desapropriacao_individual_divisa[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].userCreate" />' +
                             '<br /><br />' +
                          '</div>';

                parentDiv.append(div);
                var lastDiv = parentDiv.find('div:last');

                if ($("#browser").val() == "InternetExplorer") {
                    input.attr('id', 'list_model_desapropriacao_individual_divisa_' + index + '_model_anexo_identificador_list_model_anexo_' + imageIndex + '_ane_arquivo')
                        .attr('name', 'list_model_desapropriacao_individual_divisa[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].ane_arquivo');
                }
                else {
                    var clone = input.clone();
                    clone.attr('id', 'list_model_desapropriacao_individual_divisa_' + index + '_model_anexo_identificador_list_model_anexo_' + imageIndex + '_ane_arquivo')
                        .attr('name', 'list_model_desapropriacao_individual_divisa[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].ane_arquivo')
                        .css('display', 'none');
                    lastDiv.append(clone);
                }

                $("input.control-upload:last").on("input", function (e) {
                    $(this).parent().find('a:first').attr('data-title', $(this).val());
                    $(this).parent().find('img:first').attr('alt', $(this).val());
                });

            }

            reader.readAsDataURL(files[0]);
        }

        $('div.sortable').sortable({
            update: function (event, ui) {
                AtualizarOrdem(ui.item.parent());
            }
        });
    }

    function RemoverImagemDivisa(div) {
        var parentDiv = div.parent();
        var td = parentDiv.parent().parent();

        div.remove();

        parentDiv.find("div input[type=text]").each(function (index) {
            $(this)
               .attr('name', 'list_model_desapropriacao_individual_divisa[' + td.parent().index() + '].model_anexo_identificador.list_model_anexo[' + index + '].ane_legenda');
        });

        parentDiv.find("div input[type=file]").each(function (index) {
            $(this)
               .attr('id', 'list_model_desapropriacao_individual_divisa_' + td.parent().index() + '_model_anexo_identificador_list_model_anexo_' + index + '_ane_arquivo')
               .attr('name', 'list_model_desapropriacao_individual_divisa[' + td.parent().index() + '].model_anexo_identificador.list_model_anexo[' + index + '].ane_arquivo');
        });

        AtualizarOrdem(parentDiv);
    }

    function AtualizarOrdem(parentDiv) {
        var td = parentDiv.parent().parent()

        parentDiv.find("div input[type=hidden][class='ordem-anexo']").each(function (index) {
            $(this).val(index + 1);
        });
    }

    function ValidacaoDivisa() {
        $("#btnAdicionarDivisa").click(function (e) {

            var msg = "";
            var isValid = true;

            if (jQuery("#idi_tipo").val().length <= 0) { msg += "- digite o tipo.<br/>"; isValid = false; }
            if (jQuery("#idi_descricao").val().length <= 0) { msg += "- digite a descrição.<br/>"; isValid = false; }
            if (jQuery("#idi_quantidade").val().length <= 0) { msg += "- digite a quantidade.<br/>"; isValid = false; }
            if (jQuery("#idi_unidade").val().length <= 0) { msg += "- digite a unidade.<br/>"; isValid = false; }
            if (jQuery("#idi_observacao").val().length <= 0) { msg += "- digite a observação.<br/>"; isValid = false; }
            if (jQuery("#idi_valor_total").val().length <= 0) { msg += "- digite o valor total.<br/>"; isValid = false; }

            if (!isValid) {
                Mensagens.Modal("Atenção", msg, BootstrapDialog.TYPE_WARNING);
                e.preventDefault();
            } else {
                AdicionarDivisa();
            }

            return isValid;
        });
    };

    jQuery(document).ready(function () {
        ValidacaoDivisa();

        $("#table_divisa tbody").on("click", "tr td.td-upload div.sortable button", function (event) {
            RemoverImagemDivisa($(this).parent());
        });
    });
</script>
