﻿@using Entity.GERENCIADORPORTAL
@using WebAppMvc.Areas.Desapropriacao.Models
@model WebAppMvc.Areas.Desapropriacao.Models.model_desapropriacao_individual_edificacao
@{
    var edificacoesItems = (List<model_desapropriacao_individual_edificacao>)ViewBag.ListModelEdificacoes;
    var material = new model_desapropriacao_individual_edificacao_material();
}
<div id="divEdificacoes" class="box-body">
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.ied_tipologia)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ied_tipologia)</label>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            @Html.TextBoxFor(model => model.ied_tipologia, htmlAttributes: new { @class = "form-control", maxlength = "50", placeholder = "Tipologia Construtiva", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.ied_pavimento_numero)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ied_pavimento_numero)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.ied_pavimento_numero, htmlAttributes: new { @class = "form-control", maxlength = "2", placeholder = "Nº de Pavimentos", disabled = "disabled" })
        </div>
        <label for="@Html.DisplayNameFor(model => model.ied_area_construida)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ied_area_construida)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.ied_area_construida, htmlAttributes: new { @class = "form-control", maxlength = "16", placeholder = "Área Construída", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.ied_valor)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ied_valor)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.ied_valor, htmlAttributes: new { @class = "form-control", maxlength = "16", @data_money_mask = "true", placeholder = "R$", disabled = "disabled" })
        </div>
        <label for="@Html.DisplayNameFor(model => model.ied_implantacao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ied_implantacao)</label>
        <div class="col-xs-12 col-sm-3 col-md-6 col-lg-6">
            @Html.TextBoxFor(model => model.ied_implantacao, htmlAttributes: new { @class = "form-control", maxlength = "50", placeholder = "Implantação", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.ied_conservacao_estado)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ied_conservacao_estado)</label>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            @Html.TextBoxFor(model => model.ied_conservacao_estado, htmlAttributes: new { @class = "form-control", maxlength = "50", placeholder = "Estado de Conservação", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.ied_padrao_construtivo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ied_padrao_construtivo)</label>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            @Html.TextBoxFor(model => model.ied_padrao_construtivo, htmlAttributes: new { @class = "form-control", maxlength = "50", placeholder = "Padrão Construtivo", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" disabled="disabled" id="btnAdicionarEdificacao">
                <i class="fa fa-plus-square"></i> Adicionar</button>
        </div>
    </div>
    <div id="divGridEdificacao" class="form-group" style="display: @(edificacoesItems.Count > 0 ? "inline" : "none");">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_edificacao">
                    <thead>
                        <tr>
                            <th>
                                Tipologia Construtiva
                            </th>
                            <th>
                                Nº de Pavimentos
                            </th>
                            <th>
                                Área Construída
                            </th>
                            <th>
                                Valor
                            </th>
                            <th>
                                Implantação
                            </th>
                            <th>
                                Conservação
                            </th>
                            <th>
                                Padrão Construtivo
                            </th>
                            <th>
                                Materiais Empregados
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in edificacoesItems.Select((r, i) => new { Row = r, Index = i }))
                        {
                            <tr id="tr_table_edificacao_@item.Index">
                                <td>@item.Row.ied_tipologia
                                </td>
                                <td>@item.Row.ied_pavimento_numero
                                </td>
                                <td>@item.Row.ied_area_construida
                                </td>
                                <td>@item.Row.ied_valor
                                </td>
                                <td>@item.Row.ied_implantacao
                                </td>
                                <td>@item.Row.ied_conservacao_estado
                                </td>
                                <td>@item.Row.ied_padrao_construtivo
                                </td>
                                <td>
                                    @foreach (var materialEmpregado in item.Row.list_model_desapropriacao_individual_edificacao_material.Select((r, i) => new { Row = r, Index = i }))
                                    {
                                        <div>
                                            <p>
                                                <div>
                                                    <strong>Material @(materialEmpregado.Index + 1)</strong>
                                                </div>
                                                Material: @materialEmpregado.Row.iem_material<br />
                                                Quantidade: @materialEmpregado.Row.iem_quantidade<br />
                                                Descrição: @materialEmpregado.Row.iem_descricao<br />
                                                Valor Total: @materialEmpregado.Row.iem_valor_total<br />
                                            </p>
                                            <input type="hidden" name="list_model_desapropriacao_individual_edificacao[@item.Index].list_model_desapropriacao_individual_edificacao_material[@materialEmpregado.Index].ied_id" value="@materialEmpregado.Row.ied_id" />
                                            <input type="hidden" name="list_model_desapropriacao_individual_edificacao[@item.Index].list_model_desapropriacao_individual_edificacao_material[@materialEmpregado.Index].iem_id" value="@materialEmpregado.Row.iem_id" />
                                            <input type="hidden" name="list_model_desapropriacao_individual_edificacao[@item.Index].list_model_desapropriacao_individual_edificacao_material[@materialEmpregado.Index].iem_material" value="@materialEmpregado.Row.iem_material" />
                                            <input type="hidden" name="list_model_desapropriacao_individual_edificacao[@item.Index].list_model_desapropriacao_individual_edificacao_material[@materialEmpregado.Index].iem_quantidade" value="@materialEmpregado.Row.iem_quantidade" />
                                            <input type="hidden" name="list_model_desapropriacao_individual_edificacao[@item.Index].list_model_desapropriacao_individual_edificacao_material[@materialEmpregado.Index].iem_descricao" value="@materialEmpregado.Row.iem_descricao" />
                                            <input type="hidden" name="list_model_desapropriacao_individual_edificacao[@item.Index].list_model_desapropriacao_individual_edificacao_material[@materialEmpregado.Index].iem_valor_total" value="@materialEmpregado.Row.iem_valor_total" />
                                        </div>

                                    }
                                </td>
                                <td>
                                    <button class="fa fa-edit btn btn-primary btn-sm" alt="Editar" title="Editar" type="button" disabled="disabled" data-toggle="modal" data-target="#modalEdificacao" data-index="@item.Index"></button>
                                    <button class="fa fa-trash btn btn-danger btn-sm" alt="Exluir" title="Excluir" type="button" disabled="disabled" id="btnExcluirEdificacao_@item.Index" onclick="DeletarRegistro('Edificacao', 'ied', @item.Index)"></button>
                                    <span>
                                        <input type="hidden" value="@item.Row.ied_id" name="list_model_desapropriacao_individual_edificacao[@item.Index].ied_id" id="model_desapropriacao_individual_edificacao_ied_id_@item.Index" />
                                        <input type="hidden" value="@item.Row.ied_tipologia" name="list_model_desapropriacao_individual_edificacao[@item.Index].ied_tipologia" id="model_desapropriacao_individual_edificacao_ied_tipologia_@item.Index" />
                                        <input type="hidden" value="@item.Row.ied_pavimento_numero" name="list_model_desapropriacao_individual_edificacao[@item.Index].ied_pavimento_numero" id="model_desapropriacao_individual_edificacao_ied_pavimento_numero_@item.Index" />
                                        <input type="hidden" value="@item.Row.ied_area_construida" name="list_model_desapropriacao_individual_edificacao[@item.Index].ied_area_construida" id="model_desapropriacao_individual_edificacao_ied_area_construida_@item.Index" />
                                        <input type="hidden" value="@item.Row.ied_valor" name="list_model_desapropriacao_individual_edificacao[@item.Index].ied_valor" id="model_desapropriacao_individual_edificacao_ied_valor_@item.Index" />
                                        <input type="hidden" value="@item.Row.ied_implantacao" name="list_model_desapropriacao_individual_edificacao[@item.Index].ied_implantacao" id="model_desapropriacao_individual_edificacao_ied_implantacao_@item.Index" />
                                        <input type="hidden" value="@item.Row.ied_conservacao_estado" name="list_model_desapropriacao_individual_edificacao[@item.Index].ied_conservacao_estado" id="model_desapropriacao_individual_edificacao_ied_conservacao_estado_@item.Index" />
                                        <input type="hidden" value="@item.Row.ied_padrao_construtivo" name="list_model_desapropriacao_individual_edificacao[@item.Index].ied_padrao_construtivo" id="model_desapropriacao_individual_edificacao_ied_padrao_construtivo_@item.Index" />
                                        <input type="hidden" value="0" name="list_model_desapropriacao_individual_edificacao[@item.Index].ied_acao" id="model_desapropriacao_individual_edificacao_ied_acao_@item.Index" />
                                        <input type="hidden" value="@item.Row.ied_cadastro_dt" name="list_model_desapropriacao_individual_edificacao[@item.Index].ied_cadastro_dt" id="model_desapropriacao_individual_edificacao_ied_cadastro_dt_@item.Index" />
                                        <input type="hidden" value="@item.Row.userCreate" name="list_model_desapropriacao_individual_edificacao[@item.Index].userCreate" id="model_desapropriacao_individual_edificacao_userCreate_@item.Index" />
                                        <input type="hidden" value="@item.Row.dtCreate" name="list_model_desapropriacao_individual_edificacao[@item.Index].dtCreate" id="model_desapropriacao_individual_edificacao_dtCreate_@item.Index" />
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="modalEdificacao" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Editar Edificação
                    </h4>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.ied_tipologia)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ied_tipologia)</label>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        @Html.TextBoxFor(model => model.ied_tipologia, htmlAttributes: new { id = "modal_ied_tipologia", @class = "form-control", maxlength = "50", placeholder = "Tipologia Construtiva", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.ied_pavimento_numero)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ied_pavimento_numero)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.ied_pavimento_numero, htmlAttributes: new { id = "modal_ied_pavimento_numero", @class = "form-control", maxlength = "2", placeholder = "Nº de Pavimentos", disabled = "disabled" })
                    </div>
                    <label for="@Html.DisplayNameFor(model => model.ied_area_construida)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ied_area_construida)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.ied_area_construida, htmlAttributes: new { id = "modal_ied_area_construida", @class = "form-control", maxlength = "16", placeholder = "Área Construída", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.ied_valor)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ied_valor)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.ied_valor, htmlAttributes: new { id = "modal_ied_valor", @class = "form-control", maxlength = "16", @data_money_mask = "true", placeholder = "R$", disabled = "disabled" })
                    </div>
                    <label for="@Html.DisplayNameFor(model => model.ied_implantacao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ied_implantacao)</label>
                    <div class="col-xs-12 col-sm-3 col-md-5 col-lg-5">
                        @Html.TextBoxFor(model => model.ied_implantacao, htmlAttributes: new { id = "modal_ied_implantacao", @class = "form-control", maxlength = "50", placeholder = "Implantação", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.ied_conservacao_estado)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ied_conservacao_estado)</label>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        @Html.TextBoxFor(model => model.ied_conservacao_estado, htmlAttributes: new { id = "modal_ied_conservacao_estado", @class = "form-control", maxlength = "50", placeholder = "Estado de Conservação", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.ied_padrao_construtivo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ied_padrao_construtivo)</label>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        @Html.TextBoxFor(model => model.ied_padrao_construtivo, htmlAttributes: new { id = "modal_ied_padrao_construtivo", @class = "form-control", maxlength = "50", placeholder = "Padrão Construtivo", disabled = "disabled" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnEditarEdificacao" type="button" class="btn btn-success" data-dismiss="modal">
                        Salvar
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalAdicionarMaterial" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;</button>
                    <h4 class="modal-title">
                        Adicionar Material Empregado</h4>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(m => material.iem_material)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(m => material.iem_material)</label>
                    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">
                        @Html.TextBoxFor(m => material.iem_material, htmlAttributes: new { @class = "form-control", maxlength = "100", placeholder = "Material" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(m => material.iem_quantidade)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(m => material.iem_quantidade)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(m => material.iem_quantidade, htmlAttributes: new { @class = "form-control", maxlength = "20", @data_only_number = "true", placeholder = "Quantidade" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(m => material.iem_descricao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(m => material.iem_descricao)</label>
                    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">
                        @Html.TextBoxFor(m => material.iem_descricao, htmlAttributes: new { @class = "form-control", maxlength = "100", placeholder = "Descrição" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(m => material.iem_valor_total)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(m => material.iem_valor_total)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(m => material.iem_valor_total, htmlAttributes: new { @class = "form-control", maxlength = "16", @data_money_mask = "true", placeholder = "R$" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btAdicionarMaterial" type="button" class="btn btn-success" data-dismiss="modal">
                        Adicionar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $("#modalEdificacao").on("show.bs.modal", function (e) {
        var index = Number(e.relatedTarget.dataset['index']);
        $(this).attr('data-index', index);

        $("#modal_ied_tipologia").val($("#model_desapropriacao_individual_edificacao_ied_tipologia_" + index).val());
        $("#modal_ied_pavimento_numero").val($("#model_desapropriacao_individual_edificacao_ied_pavimento_numero_" + index).val());
        $("#modal_ied_area_construida").val($("#model_desapropriacao_individual_edificacao_ied_area_construida_" + index).val());
        $("#modal_ied_valor").val($("#model_desapropriacao_individual_edificacao_ied_valor_" + index).val());
        $("#modal_ied_implantacao").val($("#model_desapropriacao_individual_edificacao_ied_implantacao_" + index).val());
        $("#modal_ied_conservacao").val($("#model_desapropriacao_individual_edificacao_ied_conservacao_" + index).val());
        $("#modal_ied_padrao_construtivo").val($("#model_desapropriacao_individual_edificacao_ied_padrao_construtivo_" + index).val());
    })

    $("#btnEditarEdificacao").on('click', function (e) {
        var index = $("#modalEdificacao").attr("data-index");
        EditarEdificacao(Number(index));
    });

    function EditarEdificacao(index) {
        var tipologia = $("#modal_ied_tipologia").val();
        var pavimento_numero = $("#modal_ied_pavimento_numero").val();
        var area_construida = $("#modal_ied_area_construida").val();
        var valor = $("#modal_ied_valor").val();
        var implantacao = $("#modal_ied_implantacao").val();
        var conservacao = $("#modal_ied_conservacao").val();
        var padrao_construtivo = $("#modal_ied_padrao_construtivo").val();

        $("#tr_table_edificacao_" + index + " td:nth-child(1)").html(tipologia);
        $("#tr_table_edificacao_" + index + " td:nth-child(2)").html(pavimento_numero);
        $("#tr_table_edificacao_" + index + " td:nth-child(3)").html(area_construida);
        $("#tr_table_edificacao_" + index + " td:nth-child(4)").html(valor);
        $("#tr_table_edificacao_" + index + " td:nth-child(5)").html(implantacao);
        $("#tr_table_edificacao_" + index + " td:nth-child(6)").html(conservacao);
        $("#tr_table_edificacao_" + index + " td:nth-child(7)").html(padrao_construtivo);

        $("#model_desapropriacao_individual_edificacao_ied_tipologia_" + index).val(tipologia);
        $("#model_desapropriacao_individual_edificacao_ied_pavimento_numero_" + index).val(pavimento_numero);
        $("#model_desapropriacao_individual_edificacao_ied_area_construida_" + index).val(area_construida);
        $("#model_desapropriacao_individual_edificacao_ied_valor_" + index).val(valor);
        $("#model_desapropriacao_individual_edificacao_ied_implantacao_" + index).val(implantacao);
        $("#model_desapropriacao_individual_edificacao_ied_conservacao_" + index).val(conservacao);
        $("#model_desapropriacao_individual_edificacao_ied_padrao_construtivo_" + index).val(padrao_construtivo);

        $("#model_desapropriacao_individual_edificacao_ied_acao_" + index).val(2);
    }

    $('#modalAdicionarMaterial').on('show.bs.modal', function (e) {
        var index = Number(e.relatedTarget.dataset['index']);
        $(this).attr('data-index', index);
    })

    function AdicionarEdificacao() {

        $("#divGridEdificacao").css({ "display": "inline" });

        var index = $("#table_edificacao > tbody > tr").length;

        var model_desapropriacao_individual_edificacao_ied_tipologia = $("#ied_tipologia").val();
        var model_desapropriacao_individual_edificacao_ied_pavimento_numero = $("#ied_pavimento_numero").val();
        var model_desapropriacao_individual_edificacao_ied_area_construida = $("#ied_area_construida").val();
        var model_desapropriacao_individual_edificacao_ied_valor = $("#ied_valor").val();
        var model_desapropriacao_individual_edificacao_ied_implantacao = $("#ied_implantacao").val();
        var model_desapropriacao_individual_edificacao_ied_conservacao_estado = $("#ied_conservacao_estado").val();
        var model_desapropriacao_individual_edificacao_ied_padrao_construtivo = $("#ied_padrao_construtivo").val();

        var model_desapropriacao_individual_edificacao_ied_acao = 1;
        var model_desapropriacao_individual_edificacao_ied_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();
        var model_desapropriacao_individual_edificacao_userCreate = $("#userCreate").val();
        var model_desapropriacao_individual_edificacao_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();


        var tbody = $("#table_edificacao").find("tbody");

        var gvRow = '';

        gvRow += "<tr id=\"tr_table_edificacao_" + index + "\">";
        gvRow += "<td>" + model_desapropriacao_individual_edificacao_ied_tipologia + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_edificacao_ied_pavimento_numero + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_edificacao_ied_area_construida + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_edificacao_ied_valor + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_edificacao_ied_implantacao + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_edificacao_ied_conservacao_estado + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_edificacao_ied_padrao_construtivo + "</td>";

        gvRow += "<td class='td-material'>" +
                    "<div class='box box-default'>" +
                        "<div class='box-header with-border'>" +
                            "<span class='box-title' data-widget='collapse'>Materiais Empregados</span>" +
                            "<div class='box-tools pull-right'>" +
                                "<button class='btn btn-box-tool' data-widget='collapse' type='button'><i class='fa fa-minus'></i></button>" +
                            "</div>" +
                        "</div>" +
                        "<div class='box-body'>" +
                            "<button type='button' class='btn btn-success' data-toggle='modal' data-target='#modalAdicionarMaterial' data-index='" + index + "'>Adicionar Material</button>" +
                        "</div>" +
                        "<div class='box-body listaMateriais' style='display: block;'></div>" +
                    "</div>" +
                 "</td>";

        gvRow += "<td><button class=\"fa fa-trash btn btn-danger btn-sm\" alt=\"Exluir\" title=\"Excluir\" type=\"button\" id=\"btnExcluirEdificacao\" onclick=\"DeletarRegistro('Edificacao', 'ied', " + index + ")\"></button>";

        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_edificacao_ied_tipologia + '" name="list_model_desapropriacao_individual_edificacao[' + index + '].ied_tipologia" id="model_desapropriacao_individual_edificacao_ied_tipologia_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_edificacao_ied_pavimento_numero + '" name="list_model_desapropriacao_individual_edificacao[' + index + '].ied_pavimento_numero" id="model_desapropriacao_individual_edificacao_ied_pavimento_numero_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_edificacao_ied_area_construida + '" name="list_model_desapropriacao_individual_edificacao[' + index + '].ied_area_construida" id="model_desapropriacao_individual_edificacao_ied_area_construida_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_edificacao_ied_valor + '" name="list_model_desapropriacao_individual_edificacao[' + index + '].ied_valor" id="model_desapropriacao_individual_edificacao_ied_valor_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_edificacao_ied_implantacao + '" name="list_model_desapropriacao_individual_edificacao[' + index + '].ied_implantacao" id="model_desapropriacao_individual_edificacao_ied_implantacao_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_edificacao_ied_conservacao_estado + '" name="list_model_desapropriacao_individual_edificacao[' + index + '].ied_conservacao_estado" id="model_desapropriacao_individual_edificacao_ied_conservacao_estado_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_edificacao_ied_padrao_construtivo + '" name="list_model_desapropriacao_individual_edificacao[' + index + '].ied_padrao_construtivo" id="model_desapropriacao_individual_edificacao_ied_padrao_construtivo_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_edificacao_ied_acao + '" name="list_model_desapropriacao_individual_edificacao[' + index + '].ied_acao" id="model_desapropriacao_individual_edificacao_ied_acao_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_edificacao_ied_cadastro_dt + '" name="list_model_desapropriacao_individual_edificacao[' + index + '].ied_cadastro_dt" id="model_desapropriacao_individual_edificacao_ied_cadastro_dt_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_edificacao_userCreate + '" name="list_model_desapropriacao_individual_edificacao[' + index + '].userCreate" id="model_desapropriacao_individual_edificacao_userCreate_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_edificacao_dtCreate + '" name="list_model_desapropriacao_individual_edificacao[' + index + '].dtCreate" id="model_desapropriacao_individual_edificacao_dtCreate_' + index + '" />';

        gvRow += '<span id="fileEdificacao_' + index + '" style="display: none"></span>';
        gvRow += '</td></tr>';

        tbody.append(gvRow);

        LimparCampos("divEdificacoes");
    }

    function AdicionarMaterial(index) {
        var parentDiv = $("#table_edificacao tr:nth-child(" + (index + 1) + ") td.td-material div.listaMateriais");

        var materialIndex = parentDiv.children('div').length;

        var div = '<div>' +
                     '<p>' +
                        '<div><strong>Material ' + (materialIndex + 1) + '</strong><button type="button" class="close pull-right">&times;</button></div>' +
                        'Material: ' + $("#material_iem_material").val() + '<br />' +
                        'Quantidade: ' + $("#material_iem_quantidade").val() + '<br />' +
                        'Descrição: ' + $("#material_iem_descricao").val() + '<br />' +
                        'Valor total: ' + $("#material_iem_valor_total").val() + '<br /><br />' +
                     '</p>' +
                     '<input type="hidden" name="list_model_desapropriacao_individual_edificacao[' + index + '].list_model_desapropriacao_individual_edificacao_material[' + materialIndex + '].iem_material" value="' + $("#material_iem_material").val() + '" />' +
                     '<input type="hidden" name="list_model_desapropriacao_individual_edificacao[' + index + '].list_model_desapropriacao_individual_edificacao_material[' + materialIndex + '].iem_quantidade" value="' + $("#material_iem_quantidade").val() + '" />' +
                     '<input type="hidden" name="list_model_desapropriacao_individual_edificacao[' + index + '].list_model_desapropriacao_individual_edificacao_material[' + materialIndex + '].iem_descricao" value="' + $("#material_iem_descricao").val() + '" />' +
                     '<input type="hidden" name="list_model_desapropriacao_individual_edificacao[' + index + '].list_model_desapropriacao_individual_edificacao_material[' + materialIndex + '].iem_valor_total" value="' + $("#material_iem_valor_total").val() + '" />' +
                     '<input type="hidden" name="list_model_desapropriacao_individual_edificacao[' + index + '].list_model_desapropriacao_individual_edificacao_material[' + materialIndex + '].userCreate" value="' + $("#userCreateEdificacao").val() + '" />' +
                     '<input type="hidden" name="list_model_desapropriacao_individual_edificacao[' + index + '].list_model_desapropriacao_individual_edificacao_material[' + materialIndex + '].iem_cadastro_dt" value="' + $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes() + '" />' +
                     '<input type="hidden" name="list_model_desapropriacao_individual_edificacao[' + index + '].list_model_desapropriacao_individual_edificacao_material[' + materialIndex + '].dtCreate" value="' + $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes() + '" />' +
                  '</div>';

        parentDiv.append(div);

        LimparCampos("modalAdicionarMaterial");
    }

    function RemoverMaterial(div) {
        div.remove();
    }

    function ValidacaoEdificacao() {

        $("#btnAdicionarEdificacao").click(function (e) {

            var msg = "";
            var isValid = true;

            if (jQuery("#ied_tipologia").val().length <= 0) { msg += "- digite a tipologia.<br/>"; isValid = false; }
            if (jQuery("#ied_pavimento_numero").val().length <= 0) { msg += "- digite o número de pavimentos.<br/>"; isValid = false; }
            if (jQuery("#ied_area_construida").val().length <= 0) { msg += "- digite a área construída.<br/>"; isValid = false; }
            if (jQuery("#ied_valor").val().length <= 0) { msg += "- digite o valor.<br/>"; isValid = false; }
            if (jQuery("#ied_implantacao").val().length <= 0) { msg += "- digite a implantação.<br/>"; isValid = false; }
            if (jQuery("#ied_conservacao_estado").val().length <= 0) { msg += "- digite o estado de conservação.<br/>"; isValid = false; }
            if (jQuery("#ied_padrao_construtivo").val().length <= 0) { msg += "- digite o padrão construtivo.<br/>"; isValid = false; }

            if (!isValid) {
                Mensagens.Modal("Atenção", msg, BootstrapDialog.TYPE_WARNING);
                e.preventDefault();
            } else {
                AdicionarEdificacao();
            }

            return isValid;
        });
    };

    jQuery(document).ready(function () {
        ValidacaoEdificacao();

        $('#btAdicionarMaterial').on('click', function (e) {
            var index = $("#modalAdicionarMaterial").attr("data-index");
            AdicionarMaterial(Number(index));
        });

        $("#table_edificacao tbody").on("click", "tr td.td-material div.listaMateriais button", function (event) {
            RemoverMaterial($(this).parent().parent());
        });
    });

</script>
