﻿@using Entity.GERENCIADORPORTAL
@using WebAppMvc.Areas.Desapropriacao.Models
@model WebAppMvc.Areas.Desapropriacao.Models.model_desapropriacao_individual_estrada_acesso
@{
    var estradasAcessosItems = (List<model_desapropriacao_individual_estrada_acesso>)ViewBag.ListModelEstradasAcessos;

    var browser = Request.Browser.Browser;
}
<div id="divEstradasAcessos" class="box-body">
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iea_tipo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iea_tipo)</label>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            @Html.TextBoxFor(model => model.iea_tipo, htmlAttributes: new { @class = "form-control", maxlength = "50", placeholder = "Tipo", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iea_conservacao_estado)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iea_conservacao_estado)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextBoxFor(model => model.iea_conservacao_estado, htmlAttributes: new { @class = "form-control", maxlength = "100", placeholder = "Estado de Conservação", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iea_estaca_inicial)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iea_estaca_inicial)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.iea_estaca_inicial, htmlAttributes: new { @class = "form-control", maxlength = "20", placeholder = "Estaca Inicial", disabled = "disabled" })
        </div>
        <label for="@Html.DisplayNameFor(model => model.iea_dimensao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iea_dimensao)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.iea_dimensao, htmlAttributes: new { @class = "form-control", maxlength = "20", placeholder = "Dimensão", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iea_pavimento)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iea_pavimento)</label>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            @Html.TextBoxFor(model => model.iea_pavimento, htmlAttributes: new { @class = "form-control", maxlength = "50", placeholder = "Pavimento", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iea_valor_total)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iea_valor_total)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.iea_valor_total, htmlAttributes: new { @class = "form-control", maxlength = "11", @data_money_mask = "true", placeholder = "R$", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iea_observacao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iea_observacao)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextAreaFor(model => model.iea_observacao, htmlAttributes: new { style = "height: 110px;", @class = "form-control", maxlength = "500", placeholder = "Digite a observação", disabled = "disabled" })
        </div>
    </div>
    @{
        if (browser == "InternetExplorer")
        {
            for (int i = estradasAcessosItems.Count; i < estradasAcessosItems.Count + 10; i++)
            {
                <div class="form-group upload" style="display: none">
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        <input id="file-input-estrada_acesso-@i.ToString()" class="image-upload" type="file" accept="image/*" onchange="AdicionarImagemEstradaAcesso(@i.ToString());" />
                    </div>
                </div>
            }
        }
    }
    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" disabled="disabled" id="btnAdicionarEstradaAcesso">
                <i class="fa fa-plus-square"></i> Adicionar</button>
        </div>
    </div>
    <div id="divGridEstradaAcesso" class="form-group" style="display: @(estradasAcessosItems.Count > 0 ? "inline" : "none");">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_estrada_acesso">
                    <thead>
                        <tr>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Estado de Conservação
                            </th>
                            <th>
                                Estaca Inicial
                            </th>
                            <th>
                                Dimensão
                            </th>
                            <th>
                                Pavimento
                            </th>
                            <th>
                                Valor Total
                            </th>
                            <th>
                                Observação
                            </th>
                            <th>
                                Anexos
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in estradasAcessosItems.Select((r, i) => new { Row = r, Index = i }))
                        {
                            <tr id="tr_table_estrada_acesso_@item.Index">
                                <td>@item.Row.iea_tipo
                                </td>
                                <td>@item.Row.iea_conservacao_estado
                                </td>
                                <td>@item.Row.iea_estaca_inicial
                                </td>
                                <td>@item.Row.iea_dimensao
                                </td>
                                <td>@item.Row.iea_pavimento
                                </td>
                                <td>@item.Row.iea_valor_total
                                </td>
                                <td>@item.Row.iea_observacao
                                </td>
                                <td class='td-upload'>
                                    <div class='box box-default'>
                                        <div class='box-header with-border'>
                                           <span class='box-title' data-widget='collapse'>Imagens</span>
                                           <div class='box-tools pull-right'>
                                                <button class='btn btn-box-tool' data-widget='collapse' type='button'><i class='fa fa-minus'></i></button>
                                           </div>
                                        </div>
                                        <div class='box-body sortable' style='display: block;'>
                                            @foreach (var anexo in item.Row.model_anexo_identificador.list_model_anexo.Select((r, i) => new { Row = r, Index = i }))
                                            {
                                                <div>
                                                    <a href="@Url.Content(anexo.Row.ane_pasta)" data-lightbox="@anexo.Index" tabindex="-1">
                                                        <img src="@Url.Content(anexo.Row.ane_pasta)" alt="Imagem" class="control-upload" />
                                                    </a>
                                                    <input type="text" value="@anexo.Row.ane_legenda" class="form-control control-upload" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_legenda" data-index="@anexo.Index" readonly />
                                                    <br />

                                                    <input type="hidden" value="@anexo.Row.aid_id" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].aid_id" />
                                                    <input type="hidden" value="@anexo.Row.ane_id" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_id" />
                                                    <input type="hidden" value="@anexo.Row.ane_nome" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_nome" />
                                                    <input type="hidden" value="@anexo.Row.ane_nome_original" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_nome_original" />
                                                    <input type="hidden" value="@anexo.Row.ane_pasta" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_pasta" />
                                                    <input type="hidden" value="@anexo.Row.ane_ordem" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_ordem" />
                                                    <input type="hidden" value="@anexo.Row.userCreate" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].userCreate" />
                                                    <input type="hidden" value="@anexo.Row.dtCreate" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].dtCreate" />
                                                </div>
                                            }
                                        </div>
                                    </div>
                                 </td>
                                <td>
                                    <button class="fa fa-edit btn btn-primary btn-sm" alt="Editar" title="Editar" type="button" disabled="disabled" data-toggle="modal" data-target="#modalEstradaAcesso" data-index="@item.Index"></button>
                                    <button class="fa fa-trash btn btn-danger btn-sm" alt="Exluir" title="Excluir" type="button" disabled="disabled" id="btnExcluirEstradaAcesso_@item.Index" onclick="DeletarRegistro('Estrada_Acesso', 'iea', @item.Index)"></button>
                                    <span>
                                        <input type="hidden" value="@item.Row.iea_id" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].iea_id" id="model_desapropriacao_individual_estrada_acesso_iea_id_@item.Index" />
                                        <input type="hidden" value="@item.Row.iea_tipo" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].iea_tipo" id="model_desapropriacao_individual_estrada_acesso_iea_tipo_@item.Index" />
                                        <input type="hidden" value="@item.Row.iea_conservacao_estado" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].iea_conservacao_estado" id="model_desapropriacao_individual_estrada_acesso_iea_conservacao_estado_@item.Index" />
                                        <input type="hidden" value="@item.Row.iea_estaca_inicial" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].iea_estaca_inicial" id="model_desapropriacao_individual_estrada_acesso_iea_estaca_inicial_@item.Index" />
                                        <input type="hidden" value="@item.Row.iea_dimensao" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].iea_dimensao" id="model_desapropriacao_individual_estrada_acesso_iea_dimensao_@item.Index" />
                                        <input type="hidden" value="@item.Row.iea_pavimento" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].iea_pavimento" id="model_desapropriacao_individual_estrada_acesso_iea_pavimento_@item.Index" />
                                        <input type="hidden" value="@item.Row.iea_valor_total" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].iea_valor_total" id="model_desapropriacao_individual_estrada_acesso_iea_valor_total_@item.Index" />
                                        <input type="hidden" value="@item.Row.iea_observacao" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].iea_observacao" id="model_desapropriacao_individual_estrada_acesso_iea_observacao_@item.Index" />
                                        <input type="hidden" value="0" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].iea_acao" id="model_desapropriacao_individual_estrada_acesso_iea_acao_@item.Index" />
                                        <input type="hidden" value="@item.Row.iea_anexo_identificador_id" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].iea_anexo_identificador_id" id="model_desapropriacao_individual_estrada_acesso_iea_anexo_identificador_id_@item.Index" />
                                        <input type="hidden" value="@item.Row.iea_cadastro_dt" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].iea_cadastro_dt" id="model_desapropriacao_individual_estrada_acesso_iea_cadastro_dt_@item.Index" />
                                        <input type="hidden" value="@item.Row.userCreate" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].userCreate" id="model_desapropriacao_individual_estrada_acesso_userCreate_@item.Index" />
                                        <input type="hidden" value="@item.Row.dtCreate" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].dtCreate" id="model_desapropriacao_individual_estrada_acesso_dtCreate_@item.Index" />

                                        <input type="hidden" value="@item.Row.model_anexo_identificador.aid_id" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].model_anexo_identificador.aid_id" id="model_desapropriacao_individual_estrada_acesso_aid_id_@item.Index" />
                                        <input type="hidden" value="@item.Row.model_anexo_identificador.aid_form" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].model_anexo_identificador.aid_form" id="model_desapropriacao_individual_estrada_acesso_aid_form_@item.Index" />
                                        <input type="hidden" value="@item.Row.model_anexo_identificador.aid_guia" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].model_anexo_identificador.aid_guia" id="model_desapropriacao_individual_estrada_acesso_aid_guia_@item.Index" />
                                        <input type="hidden" value="@item.Row.model_anexo_identificador.aid_tipo" name="list_model_desapropriacao_individual_estrada_acesso[@item.Index].model_anexo_identificador.aid_tipo" id="model_desapropriacao_individual_estrada_acesso_aid_tipo_@item.Index" />
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="modalEstradaAcesso" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Editar Servidão/Estrada e Acesso
                    </h4>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iea_tipo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iea_tipo)</label>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        @Html.TextBoxFor(model => model.iea_tipo, htmlAttributes: new { id = "modal_iea_tipo", @class = "form-control", maxlength = "50", placeholder = "Tipo", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iea_conservacao_estado)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iea_conservacao_estado)</label>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                        @Html.TextBoxFor(model => model.iea_conservacao_estado, htmlAttributes: new { id = "modal_iea_conservacao_estado", @class = "form-control", maxlength = "100", placeholder = "Estado de Conservação", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iea_estaca_inicial)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iea_estaca_inicial)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.iea_estaca_inicial, htmlAttributes: new { id = "modal_iea_estaca_inicial", @class = "form-control", maxlength = "20", placeholder = "Estaca Inicial", disabled = "disabled" })
                    </div>
                    <label for="@Html.DisplayNameFor(model => model.iea_dimensao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iea_dimensao)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.iea_dimensao, htmlAttributes: new { id = "modal_iea_dimensao", @class = "form-control", maxlength = "20", placeholder = "Dimensão", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iea_pavimento)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iea_pavimento)</label>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        @Html.TextBoxFor(model => model.iea_pavimento, htmlAttributes: new { id = "modal_iea_pavimento", @class = "form-control", maxlength = "50", placeholder = "Pavimento", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iea_valor_total)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iea_valor_total)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.iea_valor_total, htmlAttributes: new { id = "modal_iea_valor_total", @class = "form-control", maxlength = "11", @data_money_mask = "true", placeholder = "R$", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iea_observacao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iea_observacao)</label>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                        @Html.TextAreaFor(model => model.iea_observacao, htmlAttributes: new { id = "modal_iea_observacao", style = "height: 110px;", @class = "form-control", maxlength = "500", placeholder = "Digite a observação", disabled = "disabled" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnEditarEstradaAcesso" type="button" class="btn btn-success" data-dismiss="modal">
                        Salvar
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    
    $("#modalEstradaAcesso").on("show.bs.modal", function (e) {
        var index = Number(e.relatedTarget.dataset['index']);
        $(this).attr('data-index', index);

        $("#modal_iea_tipo").val($("#model_desapropriacao_individual_estrada_acesso_iea_tipo_" + index).val());
        $("#modal_iea_conservacao_estado").val($("#model_desapropriacao_individual_estrada_acesso_iea_conservacao_estado_" + index).val());
        $("#modal_iea_estaca_inicial").val($("#model_desapropriacao_individual_estrada_acesso_iea_estaca_inicial_" + index).val());
        $("#modal_iea_dimensao").val($("#model_desapropriacao_individual_estrada_acesso_iea_dimensao_" + index).val());
        $("#modal_iea_pavimento").val($("#model_desapropriacao_individual_estrada_acesso_iea_pavimento_" + index).val());
        $("#modal_iea_valor_total").val($("#model_desapropriacao_individual_estrada_acesso_iea_valor_total_" + index).val());
        $("#modal_iea_observacao").val($("#model_desapropriacao_individual_estrada_acesso_iea_observacao_" + index).val());
    })

    $("#btnEditarEstradaAcesso").on('click', function (e) {
        var index = $("#modalEstradaAcesso").attr("data-index");
        EditarEstradaAcesso(Number(index));
    });

    function EditarEstradaAcesso(index) {
        var tipo = $("#modal_iea_tipo").val();
        var conservacao_estado = $("#modal_iea_conservacao_estado").val();
        var estaca_inicial = $("#modal_iea_estaca_inicial").val();
        var dimensao = $("#modal_iea_dimensao").val();
        var pavimento = $("#modal_iea_pavimento").val();
        var valor_total = $("#modal_iea_valor_total").val();
        var observacao = $("#modal_iea_observacao_instalacoes").val();

        $("#tr_table_estrada_acesso_" + index + " td:nth-child(1)").html(tipo);
        $("#tr_table_estrada_acesso_" + index + " td:nth-child(2)").html(conservacao_estado);
        $("#tr_table_estrada_acesso_" + index + " td:nth-child(3)").html(estaca_inicial);
        $("#tr_table_estrada_acesso_" + index + " td:nth-child(4)").html(dimensao);
        $("#tr_table_estrada_acesso_" + index + " td:nth-child(5)").html(pavimento);
        $("#tr_table_estrada_acesso_" + index + " td:nth-child(6)").html(valor_total);
        $("#tr_table_estrada_acesso_" + index + " td:nth-child(7)").html(observacao);

        $("#model_desapropriacao_individual_estrada_acesso_iea_tipo_" + index).val(tipo);
        $("#model_desapropriacao_individual_estrada_acesso_iea_conservacao_estado_" + index).val(conservacao_estado);
        $("#model_desapropriacao_individual_estrada_acesso_iea_estaca_inicial_" + index).val(estaca_inicial);
        $("#model_desapropriacao_individual_estrada_acesso_iea_dimensao_" + index).val(dimensao);
        $("#model_desapropriacao_individual_estrada_acesso_iea_pavimento_" + index).val(pavimento);
        $("#model_desapropriacao_individual_estrada_acesso_iea_valor_total_" + index).val(valor_total);
        $("#model_desapropriacao_individual_estrada_acesso_iea_observacao_" + index).val(observacao);

        $("#model_desapropriacao_individual_estrada_acesso_iea_acao_" + index).val(2);
    }

    function AdicionarEstradaAcesso() {

        $("#divGridEstradaAcesso").css({ "display": "inline" });

        var index = $("#table_estrada_acesso > tbody > tr").length;

        var model_desapropriacao_individual_estrada_acesso_iea_tipo = $("#iea_tipo").val();
        var model_desapropriacao_individual_estrada_acesso_iea_conservacao_estado = $("#iea_conservacao_estado").val();
        var model_desapropriacao_individual_estrada_acesso_iea_estaca_inicial = $("#iea_estaca_inicial").val();
        var model_desapropriacao_individual_estrada_acesso_iea_dimensao = $("#iea_dimensao").val();
        var model_desapropriacao_individual_estrada_acesso_iea_pavimento = $("#iea_pavimento").val();
        var model_desapropriacao_individual_estrada_acesso_iea_valor_total = $("#iea_valor_total").val();
        var model_desapropriacao_individual_estrada_acesso_iea_observacao = $("#iea_observacao").val();

        var model_desapropriacao_individual_estrada_acesso_iea_acao = 1;
        var model_desapropriacao_individual_estrada_acesso_iea_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();
        var model_desapropriacao_individual_estrada_acesso_userCreate = $("#userCreate").val();
        var model_desapropriacao_individual_estrada_acesso_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var tbody = $("#table_estrada_acesso").find("tbody");

        var gvRow = '';

        gvRow += "<tr id=\"tr_table_estrada_acesso_" + index + "\">";
        gvRow += "<td>" + model_desapropriacao_individual_estrada_acesso_iea_tipo + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_estrada_acesso_iea_conservacao_estado + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_estrada_acesso_iea_estaca_inicial + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_estrada_acesso_iea_dimensao + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_estrada_acesso_iea_pavimento + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_estrada_acesso_iea_valor_total + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_estrada_acesso_iea_observacao + "</td>";

        var inputName = ($("#browser").val() == "InternetExplorer" ? "input-estrada_acesso-" + index : "file-input-estrada_acesso-" + index);

        gvRow += "<td class='td-upload'>" +
                    "<div class='box box-default'>" +
                        "<div class='box-header with-border'>" +
                            "<span class='box-title' data-widget='collapse'>Imagens</span>" +
                            "<div class='box-tools pull-right'>" +
                                "<button class='btn btn-box-tool' data-widget='collapse' type='button'><i class='fa fa-minus'></i></button>" +
                            "</div>" +
                        "</div>" +
                        "<div class='box-body'>" +
                            "<label class='label-button btn btn-success' for='file-input-estrada_acesso-" + index + "'>Adicionar Imagem</label>" +
                            "<input id='" + inputName + "' class='image-upload' type='file' accept='image/*' onchange='AdicionarImagemEstradaAcesso(" + index + ");' />" +
                        "</div>" +
                        "<div class='box-body sortable' style='display: block;'></div>" +
                    "</div>" +
                 "</td>";

        gvRow += "<td><button class=\"fa fa-trash btn btn-danger btn-sm\" alt=\"Exluir\" title=\"Excluir\" type=\"button\" id=\"btnExcluirEstradaAcesso\" onclick=\"DeletarRegistro('Estrada_Acesso', 'iea', " + index + ")\"></button>";

        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_estrada_acesso_iea_tipo + '" name="list_model_desapropriacao_individual_estrada_acesso[' + index + '].iea_tipo" id="model_desapropriacao_individual_estrada_acesso_iea_tipo_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_estrada_acesso_iea_conservacao_estado + '" name="list_model_desapropriacao_individual_estrada_acesso[' + index + '].iea_conservacao_estado" id="model_desapropriacao_individual_estrada_acesso_iea_conservacao_estado_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_estrada_acesso_iea_estaca_inicial + '" name="list_model_desapropriacao_individual_estrada_acesso[' + index + '].iea_estaca_inicial" id="model_desapropriacao_individual_estrada_acesso_iea_estaca_inicial_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_estrada_acesso_iea_dimensao + '" name="list_model_desapropriacao_individual_estrada_acesso[' + index + '].iea_dimensao" id="model_desapropriacao_individual_estrada_acesso_iea_dimensao_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_estrada_acesso_iea_pavimento + '" name="list_model_desapropriacao_individual_estrada_acesso[' + index + '].iea_pavimento" id="model_desapropriacao_individual_estrada_acesso_iea_pavimento_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_estrada_acesso_iea_valor_total + '" name="list_model_desapropriacao_individual_estrada_acesso[' + index + '].iea_valor_total" id="model_desapropriacao_individual_estrada_acesso_iea_valor_total_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_estrada_acesso_iea_observacao + '" name="list_model_desapropriacao_individual_estrada_acesso[' + index + '].iea_observacao" id="model_desapropriacao_individual_estrada_acesso_iea_observacao_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_estrada_acesso_iea_acao + '" name="list_model_desapropriacao_individual_estrada_acesso[' + index + '].iea_acao" id="model_desapropriacao_individual_estrada_acesso_iea_acao_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_estrada_acesso_iea_cadastro_dt + '" name="list_model_desapropriacao_individual_estrada_acesso[' + index + '].iea_cadastro_dt" id="model_desapropriacao_individual_estrada_acesso_iea_cadastro_dt_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_estrada_acesso_userCreate + '" name="list_model_desapropriacao_individual_estrada_acesso[' + index + '].userCreate" id="model_desapropriacao_individual_estrada_acesso_userCreate_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_estrada_acesso_dtCreate + '" name="list_model_desapropriacao_individual_estrada_acesso[' + index + '].dtCreate" id="model_desapropriacao_individual_estrada_acesso_dtCreate_' + index + '" />';

        gvRow += '<span id="fileEstradaAcesso_' + index + '" style="display: none"></span>';
        gvRow += '</td></tr>';

        tbody.append(gvRow);

        LimparCampos("divEstradasAcessos");
    }

    function AdicionarImagemEstradaAcesso(index) {
        var input = $("#file-input-estrada_acesso-" + index);
        var parentDiv = $("#table_estrada_acesso tr:nth-child(" + (index + 1) + ") td.td-upload div.sortable");

        var files = input.prop('files');
        var imageIndex = parentDiv.children('div').length;

        if (files.length === 1) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var div = '<div>' +
                             '<a href="' + e.target.result + '" data-lightbox="' + input.attr('id') + '-' + index + '" tabindex="-1">' +
                                '<img src="' + e.target.result + '" alt="Imagem" class="control-upload" />' +
                             '</a>' +
                             '<button type="button" class="btn btn-danger" alt="Remover Imagem" tabindex="-1"><i class="fa fa-minus"></i></button>' +
                             '<br />' +
                             '<input type="text" class="control-upload" maxlength="100" placeholder="Legenda" ' +
                                 'name="list_model_desapropriacao_individual_estrada_acesso[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].ane_legenda" data-index="' + imageIndex + '" />' +
                            '<input type="hidden" class="ordem-anexo" value="' + (imageIndex + 1) + '" style="display: none;" ' +
                                'name="list_model_desapropriacao_individual_estrada_acesso[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].ane_ordem" />' +
                            '<input type="hidden" value="' + $("#userCreateestrada_acesso").val() + '" ' +
                                'name="list_model_desapropriacao_individual_estrada_acesso[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].userCreate" />' +
                             '<br /><br />' +
                          '</div>';

                parentDiv.append(div);
                var lastDiv = parentDiv.find('div:last');

                if ($("#browser").val() == "InternetExplorer") {
                    input.attr('id', 'list_model_desapropriacao_individual_estrada_acesso_' + index + '_model_anexo_identificador_list_model_anexo_' + imageIndex + '_ane_arquivo')
                        .attr('name', 'list_model_desapropriacao_individual_estrada_acesso[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].ane_arquivo');
                }
                else {
                    var clone = input.clone();
                    clone.attr('id', 'list_model_desapropriacao_individual_estrada_acesso_' + index + '_model_anexo_identificador_list_model_anexo_' + imageIndex + '_ane_arquivo')
                        .attr('name', 'list_model_desapropriacao_individual_estrada_acesso[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].ane_arquivo')
                        .css('display', 'none');
                    lastDiv.append(clone);
                }

                $("input.control-upload:last").on("input", function (e) {
                    $(this).parent().find('a:first').attr('data-title', $(this).val());
                    $(this).parent().find('img:first').attr('alt', $(this).val());
                });

            }

            reader.readAsDataURL(files[0]);
        }


        $('div.sortable').sortable({
            update: function (event, ui) {
                AtualizarOrdem(ui.item.parent());
            }
        });
    }

    function RemoverImagemEstradaAcesso(div) {
        var parentDiv = div.parent();
        var td = parentDiv.parent().parent();

        div.remove();

        parentDiv.find("div input[type=text]").each(function (index) {
            $(this)
               .attr('name', 'list_model_desapropriacao_individual_estrada_acesso[' + td.parent().index() + '].model_anexo_identificador.list_model_anexo[' + index + '].ane_legenda');
        });

        parentDiv.find("div input[type=file]").each(function (index) {
            $(this)
               .attr('id', 'list_model_desapropriacao_individual_estrada_acesso_' + td.parent().index() + '_model_anexo_identificador_list_model_anexo_' + index + '_ane_arquivo')
               .attr('name', 'list_model_desapropriacao_individual_estrada_acesso[' + td.parent().index() + '].model_anexo_identificador.list_model_anexo[' + index + '].ane_arquivo');
        });

        AtualizarOrdem(parentDiv);
    }

    function ValidacaoEstradaAcesso() {

        $("#btnAdicionarEstradaAcesso").click(function (e) {

            var msg = "";
            var isValid = true;

            if (jQuery("#iea_tipo").val().length <= 0) { msg += "- digite o tipo.<br/>"; isValid = false; }
            if (jQuery("#iea_estaca_inicial").val().length <= 0) { msg += "- digite o estaca_inicial.<br/>"; isValid = false; }
            if (jQuery("#iea_dimensao").val().length <= 0) { msg += "- digite a área.<br/>"; isValid = false; }
            if (jQuery("#iea_pavimento").val().length <= 0) { msg += "- digite o pavimento.<br/>"; isValid = false; }
            if (jQuery("#iea_valor_total").val().length <= 0) { msg += "- digite o valor total.<br/>"; isValid = false; }
            if (jQuery("#iea_observacao").val().length <= 0) { msg += "- digite a observação.<br/>"; isValid = false; }

            if (!isValid) {
                Mensagens.Modal("Atenção", msg, BootstrapDialog.TYPE_WARNING);
                e.preventDefault();
            } else {
                AdicionarEstradaAcesso();
            }

            return isValid;
        });
    };

    function DeletarEstradaAcesso(index) {
        BootstrapDialog.show({
            title: "<b>Confirma&ccedil;&atilde;o</b>",
            message: 'Deseja realmente excluir?',
            type: BootstrapDialog.TYPE_PRIMARY,
            buttons: [
                    {
                        label: "N&atilde;o",
                        cssClass: "btn btn-default active",
                        action: function (dialog) {
                            dialog.close();
                        }
                    },
                    {
                        label: "Sim",
                        cssClass: "btn btn-default active",
                        action: function (dialog) {
                            dialog.close();

                            jQuery("#model_desapropriacao_individual_estrada_acesso_iea_acao_" + index).val('3');

                            $("#tr_table_estrada_acesso_" + index + "").css({ "display": "none" });

                            if ($("#table_estrada_acesso > tbody > tr:visible").length === 0) {

                                $("#divGridEstradaAcesso").css({ "display": "none" });
                            }
                        }
                    }
                ]
        });
    }

    jQuery(document).ready(function () {
        ValidacaoEstradaAcesso();

        $("#table_estrada_acesso tbody").on("click", "tr td.td-upload div.sortable button", function (event) {
            RemoverImagemEstradaAcesso($(this).parent());
        });
    });

</script>
