﻿@using Entity.GERENCIADORPORTAL
@using WebAppMvc.Areas.Desapropriacao.Models
@model WebAppMvc.Areas.Desapropriacao.Models.model_desapropriacao_individual_instalacao
@{
    var instalacoesItems = (List<model_desapropriacao_individual_instalacao>)ViewBag.ListModelInstalacoes;

    var browser = Request.Browser.Browser;
}
<div id="divInstalacoes" class="box-body">
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iin_tipo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_tipo)</label>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            @Html.TextBoxFor(model => model.iin_tipo, htmlAttributes: new { @class = "form-control", maxlength = "50", placeholder = "Tipo", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iin_conservacao_estado)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_conservacao_estado)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextBoxFor(model => model.iin_conservacao_estado, htmlAttributes: new { @class = "form-control", maxlength = "100", placeholder = "Estado de conservação", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iin_extensao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_extensao)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.iin_extensao, htmlAttributes: new { @class = "form-control", maxlength = "20", placeholder = "Extensão", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iin_observacao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_observacao)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextAreaFor(model => model.iin_observacao, htmlAttributes: new { style = "height: 110px;", @class = "form-control", maxlength = "500", placeholder = "Digite a observação", disabled = "disabled", id = "instalacoes_iin_observacao" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iin_valor_total)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_valor_total)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.iin_valor_total, htmlAttributes: new { @class = "form-control", maxlength = "11", @data_money_mask = "true", placeholder = "R$", disabled = "disabled" })
        </div>
    </div>
    @{
        if (browser == "InternetExplorer")
        {
            for (int i = instalacoesItems.Count; i < instalacoesItems.Count + 1; i++)
            {
                <div class="form-group upload" style="display: none">
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        <input id="file-input-instalacao-@i.ToString()" class="image-upload" type="file" accept="image/*" onchange="AdicionarImagemInstalacao(@i.ToString());" />
                    </div>
                </div>
            }
        }
    }
    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" disabled="disabled" id="btnAdicionarInstalacao">
                <i class="fa fa-plus-square"></i> Adicionar</button>
        </div>
    </div>
    <div id="divGridInstalacao" class="form-group" style="display: @(instalacoesItems.Count > 0 ? "inline" : "none");">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_instalacao">
                    <thead>
                        <tr>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Conservação
                            </th>
                            <th>
                                Extensão
                            </th>
                            <th>
                                Observação
                            </th>
                            <th>
                                Valor Total
                            </th>
                            <th>
                                Anexos
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in instalacoesItems.Select((r, i) => new { Row = r, Index = i }))
                        {
                            <tr id="tr_table_instalacao_@item.Index">
                                <td>@item.Row.iin_tipo
                                </td>
                                <td>@item.Row.iin_conservacao_estado
                                </td>
                                <td>@item.Row.iin_extensao
                                </td>
                                <td>@item.Row.iin_observacao
                                </td>
                                <td>@item.Row.iin_valor_total
                                </td>
                                <td class='td-upload'>
                                    <div class='box box-default'>
                                        <div class='box-header with-border'>
                                           <span class='box-title' data-widget='collapse'>Imagens</span>
                                           <div class='box-tools pull-right'>
                                                <button class='btn btn-box-tool' data-widget='collapse' type='button'><i class='fa fa-minus'></i></button>
                                           </div>
                                        </div>
                                        <div class='box-body sortable' style='display: block;'>
                                            @foreach (var anexo in item.Row.model_anexo_identificador.list_model_anexo.Select((r, i) => new { Row = r, Index = i }))
                                            {
                                                <div>
                                                    <a href="@Url.Content(anexo.Row.ane_pasta)" data-lightbox="@anexo.Index" tabindex="-1">
                                                        <img src="@Url.Content(anexo.Row.ane_pasta)" alt="Imagem" class="control-upload" />
                                                    </a>
                                                    <input type="text" value="@anexo.Row.ane_legenda" class="form-control control-upload" name="list_model_desapropriacao_individual_instalacao[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_legenda" data-index="@anexo.Index" readonly />
                                                    <br />

                                                    <input type="hidden" value="@anexo.Row.aid_id" name="list_model_desapropriacao_individual_instalacao[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].aid_id" />
                                                    <input type="hidden" value="@anexo.Row.ane_id" name="list_model_desapropriacao_individual_instalacao[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_id" />
                                                    <input type="hidden" value="@anexo.Row.ane_nome" name="list_model_desapropriacao_individual_instalacao[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_nome" />
                                                    <input type="hidden" value="@anexo.Row.ane_nome_original" name="list_model_desapropriacao_individual_instalacao[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_nome_original" />
                                                    <input type="hidden" value="@anexo.Row.ane_pasta" name="list_model_desapropriacao_individual_instalacao[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_pasta" />
                                                    <input type="hidden" value="@anexo.Row.ane_ordem" name="list_model_desapropriacao_individual_instalacao[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].ane_ordem" />
                                                    <input type="hidden" value="@anexo.Row.userCreate" name="list_model_desapropriacao_individual_instalacao[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].userCreate" />
                                                    <input type="hidden" value="@anexo.Row.dtCreate" name="list_model_desapropriacao_individual_instalacao[@item.Index].model_anexo_identificador.list_model_anexo[@anexo.Index].dtCreate" />
                                                </div>
                                            }
                                        </div>
                                    </div>
                                 </td>
                                <td>
                                    <button class="fa fa-edit btn btn-primary btn-sm" alt="Editar" title="Editar" type="button" disabled="disabled" data-toggle="modal" data-target="#modalInstalacao" data-index="@item.Index"></button>
                                    <button class="fa fa-trash btn btn-danger btn-sm" alt="Exluir" title="Excluir" type="button" disabled="disabled" id="btnExcluirInstalacao_@item.Index" onclick="DeletarRegistro('Instalacao', 'iin', @item.Index)"></button>
                                    <span>
                                        <input type="hidden" value="@item.Row.iin_id" name="list_model_desapropriacao_individual_instalacao[@item.Index].iin_id" id="model_desapropriacao_individual_instalacao_iin_id_@item.Index" />
                                        <input type="hidden" value="@item.Row.iin_tipo" name="list_model_desapropriacao_individual_instalacao[@item.Index].iin_tipo" id="model_desapropriacao_individual_instalacao_iin_tipo_@item.Index" />
                                        <input type="hidden" value="@item.Row.iin_conservacao_estado" name="list_model_desapropriacao_individual_instalacao[@item.Index].iin_conservacao_estado" id="model_desapropriacao_individual_instalacao_iin_conservacao_estado_@item.Index" />
                                        <input type="hidden" value="@item.Row.iin_extensao" name="list_model_desapropriacao_individual_instalacao[@item.Index].iin_extensao" id="model_desapropriacao_individual_instalacao_iin_extensao_@item.Index" />
                                        <input type="hidden" value="@item.Row.iin_observacao" name="list_model_desapropriacao_individual_instalacao[@item.Index].iin_observacao" id="model_desapropriacao_individual_instalacao_iin_observacao_@item.Index" />
                                        <input type="hidden" value="@item.Row.iin_valor_total" name="list_model_desapropriacao_individual_instalacao[@item.Index].iin_valor_total" id="model_desapropriacao_individual_instalacao_iin_valor_total_@item.Index" />
                                        <input type="hidden" value="0" name="list_model_desapropriacao_individual_instalacao[@item.Index].iin_acao" id="model_desapropriacao_individual_instalacao_idi_acao_@item.Index" />
                                        <input type="hidden" value="@item.Row.iin_anexo_identificador_id" name="list_model_desapropriacao_instalacao[@item.Index].iin_anexo_identificador_id" id="model_desapropriacao_individual_instalacao_iin_anexo_identificador_id_@item.Index" />
                                        <input type="hidden" value="@item.Row.iin_cadastro_dt" name="list_model_desapropriacao_individual_instalacao[@item.Index].iin_cadastro_dt" id="model_desapropriacao_individual_instalacao_iin_cadastro_dt_@item.Index" />
                                        <input type="hidden" value="@item.Row.userCreate" name="list_model_desapropriacao_individual_instalacao[@item.Index].userCreate" id="model_desapropriacao_individual_instalacao_userCreate_@item.Index" />
                                        <input type="hidden" value="@item.Row.dtCreate" name="list_model_desapropriacao_individual_instalacao[@item.Index].dtCreate" id="model_desapropriacao_individual_instalacao_dtCreate_@item.Index" />

                                        <input type="hidden" value="@item.Row.model_anexo_identificador.aid_id" name="list_model_desapropriacao_individual_instalacao[@item.Index].model_anexo_identificador.aid_id" id="model_desapropriacao_individual_instalacao_aid_id_@item.Index" />
                                        <input type="hidden" value="@item.Row.model_anexo_identificador.aid_form" name="list_model_desapropriacao_individual_instalacao[@item.Index].model_anexo_identificador.aid_form" id="model_desapropriacao_individual_instalacao_aid_form_@item.Index" />
                                        <input type="hidden" value="@item.Row.model_anexo_identificador.aid_guia" name="list_model_desapropriacao_individual_instalacao[@item.Index].model_anexo_identificador.aid_guia" id="model_desapropriacao_individual_instalacao_aid_guia_@item.Index" />
                                        <input type="hidden" value="@item.Row.model_anexo_identificador.aid_tipo" name="list_model_desapropriacao_individual_instalacao[@item.Index].model_anexo_identificador.aid_tipo" id="model_desapropriacao_individual_instalacao_aid_tipo_@item.Index" />
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="modalInstalacao" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Editar Instalação
                    </h4>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iin_tipo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_tipo)</label>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        @Html.TextBoxFor(model => model.iin_tipo, htmlAttributes: new { id = "modal_iin_tipo", @class = "form-control", maxlength = "50", placeholder = "Tipo", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iin_conservacao_estado)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_conservacao_estado)</label>
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-9">
                        @Html.TextBoxFor(model => model.iin_conservacao_estado, htmlAttributes: new { id = "modal_iin_conservacao_estado", @class = "form-control", maxlength = "100", placeholder = "Estado de conservação", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iin_extensao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_extensao)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.iin_extensao, htmlAttributes: new { id = "modal_iin_extensao", @class = "form-control", maxlength = "20", placeholder = "Extensão", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iin_observacao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_observacao)</label>
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-9">
                        @Html.TextAreaFor(model => model.iin_observacao, htmlAttributes: new { id = "modal_iin_observacao_instalacoes", style = "height: 110px;", @class = "form-control", maxlength = "500", placeholder = "Digite a observação", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iin_valor_total)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_valor_total)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.iin_valor_total, htmlAttributes: new { id = "modal_iin_valor_total", @class = "form-control", maxlength = "11", @data_money_mask = "true", placeholder = "R$", disabled = "disabled" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnEditarInstalacao" type="button" class="btn btn-success" data-dismiss="modal">
                        Salvar
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    
    $("#modalInstalacao").on("show.bs.modal", function (e) {
        var index = Number(e.relatedTarget.dataset['index']);
        $(this).attr('data-index', index);

        $("#modal_iin_tipo").val($("#model_desapropriacao_individual_instalacao_iin_tipo_" + index).val());
        $("#modal_iin_conservacao_estado").val($("#model_desapropriacao_individual_instalacao_iin_conservacao_estado_" + index).val());
        $("#modal_iin_extensao").val($("#model_desapropriacao_individual_instalacao_iin_extensao_" + index).val());
        $("#modal_iin_observacao_instalacoes").val($("#model_desapropriacao_individual_instalacao_iin_observacao_" + index).val());
        $("#modal_iin_valor_total").val($("#model_desapropriacao_individual_instalacao_iin_valor_total_" + index).val());
    })

    $("#btnEditarInstalacao").on('click', function (e) {
        var index = $("#modalInstalacao").attr("data-index");
        EditarInstalacao(Number(index));
    });

    function EditarInstalacao(index) {
        var tipo = $("#modal_iin_tipo").val();
        var conservacao_estado = $("#modal_iin_conservacao_estado").val();
        var extensao = $("#modal_iin_extensao").val();
        var observacao = $("#modal_iin_observacao_instalacoes").val();
        var valor_total = $("#modal_iin_valor_total").val();

        $("#tr_table_instalacao_" + index + " td:nth-child(1)").html(tipo);
        $("#tr_table_instalacao_" + index + " td:nth-child(2)").html(conservacao_estado);
        $("#tr_table_instalacao_" + index + " td:nth-child(3)").html(extensao);
        $("#tr_table_instalacao_" + index + " td:nth-child(4)").html(observacao);
        $("#tr_table_instalacao_" + index + " td:nth-child(5)").html(valor_total);

        $("#model_desapropriacao_individual_instalacao_iin_tipo_" + index).val(tipo);
        $("#model_desapropriacao_individual_instalacao_iin_conservacao_estado_" + index).val(conservacao_estado);
        $("#model_desapropriacao_individual_instalacao_iin_extensao_" + index).val(extensao);
        $("#model_desapropriacao_individual_instalacao_iin_observacao_" + index).val(observacao);
        $("#model_desapropriacao_individual_instalacao_iin_valor_total_" + index).val(valor_total);

        $("#model_desapropriacao_individual_instalacao_iin_acao_" + index).val(2);
    }

    function AdicionarInstalacao() {
        $("#divGridInstalacao").css({ "display": "inline" });

        var index = $("#table_instalacao > tbody > tr").length;

        var model_desapropriacao_individual_instalacao_iin_tipo = $("#iin_tipo").val();
        var model_desapropriacao_individual_instalacao_iin_conservacao_estado = $("#iin_conservacao_estado").val();
        var model_desapropriacao_individual_instalacao_iin_extensao = $("#iin_extensao").val();
        var model_desapropriacao_individual_instalacao_iin_observacao = $("#instalacoes_iin_observacao").val();
        var model_desapropriacao_individual_instalacao_iin_valor_total = $("#iin_valor_total").val();

        var model_desapropriacao_individual_instalacao_iin_acao = 1;
        var model_desapropriacao_individual_instalacao_iin_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();
        var model_desapropriacao_individual_instalacao_userCreate = $("#userCreate").val();
        var model_desapropriacao_individual_instalacao_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();


        var tbody = $("#table_instalacao").find("tbody");

        var gvRow = '';

        gvRow += "<tr id=\"tr_table_instalacao_" + index + "\">";
        gvRow += "<td>" + model_desapropriacao_individual_instalacao_iin_tipo + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_instalacao_iin_conservacao_estado + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_instalacao_iin_extensao + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_instalacao_iin_observacao + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_instalacao_iin_valor_total + "</td>";

        var inputName = ($("#browser").val() == "InternetExplorer" ? "input-instalacao-" + index : "file-input-instalacao-" + index);

        gvRow += "<td class='td-upload'>" +
                    "<div class='box box-default'>" +
                        "<div class='box-header with-border'>" +
                            "<span class='box-title' data-widget='collapse'>Imagens</span>" +
                            "<div class='box-tools pull-right'>" +
                                "<button class='btn btn-box-tool' data-widget='collapse' type='button'><i class='fa fa-minus'></i></button>" +
                            "</div>" +
                        "</div>" +
                        "<div class='box-body'>" +
                            "<label class='label-button btn btn-success' for='file-input-instalacao-" + index + "'>Adicionar Imagem</label>" +
                            "<input id='" + inputName + "' class='image-upload' type='file' accept='image/*' onchange='AdicionarImagemInstalacao(" + index + ");' />" +
                        "</div>" +
                        "<div class='box-body sortable' style='display: block;'></div>" +
                    "</div>" +
                 "</td>";

        gvRow += "<td><button class=\"fa fa-trash btn btn-danger btn-sm\" alt=\"Exluir\" title=\"Excluir\" type=\"button\" id=\"btnExcluirInstalacao\" onclick=\"DeletarRegistro('Instalacao', 'iin', " + index + ")\"></button>";

        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_instalacao_iin_tipo + '" name="list_model_desapropriacao_individual_instalacao[' + index + '].iin_tipo" id="model_desapropriacao_individual_instalacao_iin_tipo_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_instalacao_iin_conservacao_estado + '" name="list_model_desapropriacao_individual_instalacao[' + index + '].iin_conservacao_estado" id="model_desapropriacao_individual_instalacao_iin_conservacao_estado_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_instalacao_iin_extensao + '" name="list_model_desapropriacao_individual_instalacao[' + index + '].iin_extensao" id="model_desapropriacao_individual_instalacao_iin_extensao_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_instalacao_iin_observacao + '" name="list_model_desapropriacao_individual_instalacao[' + index + '].iin_observacao" id="model_desapropriacao_individual_instalacao_iin_observacao_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_instalacao_iin_valor_total + '" name="list_model_desapropriacao_individual_instalacao[' + index + '].iin_valor_total" id="model_desapropriacao_individual_instalacao_iin_valor_total_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_instalacao_iin_acao + '" name="list_model_desapropriacao_individual_instalacao[' + index + '].iin_acao" id="model_desapropriacao_individual_instalacao_iin_acao_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_instalacao_iin_cadastro_dt + '" name="list_model_desapropriacao_individual_instalacao[' + index + '].iin_cadastro_dt" id="model_desapropriacao_individual_instalacao_iin_cadastro_dt_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_instalacao_userCreate + '" name="list_model_desapropriacao_individual_instalacao[' + index + '].userCreate" id="model_desapropriacao_individual_instalacao_userCreate_' + index + '" />';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_instalacao_dtCreate + '" name="list_model_desapropriacao_individual_instalacao[' + index + '].dtCreate" id="model_desapropriacao_individual_instalacao_dtCreate_' + index + '" />';

        gvRow += '<span id="fileInstalacao_' + index + '" style="display: none"></span>';
        gvRow += '</td></tr>';

        tbody.append(gvRow);

        LimparCampos("divInstalacoes");
    }

    function AdicionarImagemInstalacao(index) {
        var input = $("#file-input-instalacao-" + index);
        var parentDiv = $("#table_instalacao tr:nth-child(" + (index + 1) + ") td.td-upload div.sortable");

        var files = input.prop('files');
        var imageIndex = parentDiv.children('div').length;

        if (files.length === 1) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var div = '<div>' +
                             '<a href="' + e.target.result + '" data-lightbox="' + input.attr('id') + '-' + index + '" tabindex="-1">' +
                                '<img src="' + e.target.result + '" alt="Imagem" class="control-upload" />' +
                             '</a>' +
                             '<button type="button" class="btn btn-danger" alt="Remover Imagem" tabindex="-1"><i class="fa fa-minus"></i></button>' +
                             '<br />' +
                             '<input type="text" class="control-upload" maxlength="100" placeholder="Legenda" ' +
                                 'name="list_model_desapropriacao_individual_instalacao[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].ane_legenda" data-index="' + imageIndex + '" />' +
                            '<input type="hidden" class="ordem-anexo" value="' + (imageIndex + 1) + '" style="display: none;" ' +
                                'name="list_model_desapropriacao_individual_instalacao[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].ane_ordem" />' +
                            '<input type="hidden" value="' + $("#userCreateinstalacao").val() + '" ' +
                                'name="list_model_desapropriacao_individual_instalacao[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].userCreate" />' +
                             '<br /><br />' +
                          '</div>';

                parentDiv.append(div);
                var lastDiv = parentDiv.find('div:last');

                if ($("#browser").val() == "InternetExplorer") {
                    input.attr('id', 'list_model_desapropriacao_individual_instalacao_' + index + '_model_anexo_identificador_list_model_anexo_' + imageIndex + '_ane_arquivo')
                        .attr('name', 'list_model_desapropriacao_individual_instalacao[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].ane_arquivo');
                }
                else {
                    var clone = input.clone();
                    clone.attr('id', 'list_model_desapropriacao_individual_instalacao_' + index + '_model_anexo_identificador_list_model_anexo_' + imageIndex + '_ane_arquivo')
                        .attr('name', 'list_model_desapropriacao_individual_instalacao[' + index + '].model_anexo_identificador.list_model_anexo[' + imageIndex + '].ane_arquivo')
                        .css('display', 'none');
                    lastDiv.append(clone);
                }

                $("input.control-upload:last").on("input", function (e) {
                    $(this).parent().find('a:first').attr('data-title', $(this).val());
                    $(this).parent().find('img:first').attr('alt', $(this).val());
                });

            }

            reader.readAsDataURL(files[0]);
        }


        $('div.sortable').sortable({
            update: function (event, ui) {
                AtualizarOrdem(ui.item.parent());
            }
        });
    }

    function RemoverImagemInstalacao(div) {
        var parentDiv = div.parent();
        var td = parentDiv.parent().parent();

        div.remove();

        parentDiv.find("div input[type=text]").each(function (index) {
            $(this)
               .attr('name', 'list_model_desapropriacao_individual_instalacao[' + td.parent().index() + '].model_anexo_identificador.list_model_anexo[' + index + '].ane_legenda');
        });

        parentDiv.find("div input[type=file]").each(function (index) {
            $(this)
               .attr('id', 'list_model_desapropriacao_individual_instalacao_' + td.parent().index() + '_model_anexo_identificador_list_model_anexo_' + index + '_ane_arquivo')
               .attr('name', 'list_model_desapropriacao_individual_instalacao[' + td.parent().index() + '].model_anexo_identificador.list_model_anexo[' + index + '].ane_arquivo');
        });

        AtualizarOrdem(parentDiv);
    }

    function ValidacaoInstalacao() {

        $("#btnAdicionarInstalacao").click(function (e) {

            var msg = "";
            var isValid = true;

            if (jQuery("#iin_tipo").val().length <= 0) { msg += "- digite o tipo.<br/>"; isValid = false; }
            if (jQuery("#iin_conservacao_estado").val().length <= 0) { msg += "- digite o estado de conservação.<br/>"; isValid = false; }
            if (jQuery("#iin_extensao").val().length <= 0) { msg += "- digite a extensão.<br/>"; isValid = false; }
            if (jQuery("#instalacoes_iin_observacao").val().length <= 0) { msg += "- digite a observação.<br/>"; isValid = false; }
            if (jQuery("#iin_valor_total").val().length <= 0) { msg += "- digite o valor total.<br/>"; isValid = false; }

            if (!isValid) {
                Mensagens.Modal("Atenção", msg, BootstrapDialog.TYPE_WARNING);
                e.preventDefault();
            } else {
                AdicionarInstalacao();
            }

            return isValid;
        });
    };

    jQuery(document).ready(function () {
        ValidacaoInstalacao();

        $("#table_instalacao tbody").on("click", "tr td.td-upload div.sortable button", function (event) {
            RemoverImagemInstalacao($(this).parent());
        });
    });

</script>
