﻿@using Entity.GERENCIADORPORTAL
@using WebAppMvc.Areas.Desapropriacao.Models
@model model_desapropriacao_individual_interessado
@{
    var listaInteressados = (List<model_desapropriacao_individual_interessado>)ViewBag.ListModelInteressados;
}
<div class="box-body">
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iin_responsavel)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">
            <span style="color: Red">*</span> @Html.DisplayNameFor(model => model.iin_responsavel)
        </label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.DropDownListFor(model => model.iin_responsavel, new[] { new SelectListItem() { Text = "Não", Value = "false" }, new SelectListItem { Text = "Sim", Value = "true" } }, null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
            <span></span>
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iin_pessoa)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_pessoa)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.DropDownListFor(model => model.iin_pessoa, new[] { new SelectListItem() { Text = "Fisica", Value = "f" }, new SelectListItem { Text = "Juridica", Value = "j" } }, null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
            <span></span>
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iin_proprietario)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">
            <span style="color: Red">*</span> @Html.DisplayNameFor(model => model.iin_proprietario)
        </label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextBoxFor(model => model.iin_proprietario, htmlAttributes: new { @class = "form-control", maxlength = "150", placeholder = "Nome do Proprietário", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iin_logradouro)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">
            <span style="color: Red">*</span> @Html.DisplayNameFor(model => model.iin_logradouro)
        </label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextBoxFor(model => model.iin_logradouro, htmlAttributes: new { @class = "form-control", maxlength = "150", placeholder = "Endereço do Proprietário", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iin_logradouro_complemento)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_logradouro_complemento)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextBoxFor(model => model.iin_logradouro_complemento, htmlAttributes: new { @class = "form-control", maxlength = "100", placeholder = "Complemento", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iin_rg_rne)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_rg_rne)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.iin_rg_rne, htmlAttributes: new { @class = "form-control", maxlength = "15", placeholder = "Rg/Rne", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iin_cpf_cnpj)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_cpf_cnpj)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.iin_cpf_cnpj, htmlAttributes: new { @class = "form-control", maxlength = "20", @data_cpf_mask = "true", placeholder = "Cpf/Cnpj", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iin_email)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_email)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextBoxFor(model => model.iin_email, htmlAttributes: new { @class = "form-control", maxlength = "200", @data_email_mask = "true", placeholder = "Email", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iin_telefone)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_telefone)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.iin_telefone, htmlAttributes: new { @class = "form-control", @data_telefone_mask = "true", placeholder = "Telefone", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iin_celular)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_celular)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.iin_celular, htmlAttributes: new { @class = "form-control", @data_celular_mask = "true", placeholder = "Celular", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.iin_observacao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_observacao)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextAreaFor(model => model.iin_observacao, htmlAttributes: new { style = "height: 110px;", @class = "form-control", maxlength = "500", placeholder = "Digite as observações", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" disabled="disabled" id="btnAdicionarInteressado">
                <i class="fa fa-plus-square"></i> Adicionar</button>
        </div>
    </div>
    <div id="divGridInteressado" class="form-group" style="display: none">
        <div class="box">
            <div class="box-body">
                <table class="table table-striped table-bordered" id="table_interessado">
                    <thead>
                        <tr>
                            <th>
                                Responsável
                            </th>
                            <th>
                                Cpf/Cnpj
                            </th>
                            <th>
                                Proprietário
                            </th>
                            <th>
                                Logradouro
                            </th>
                            <th>
                                Complemento
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Celular
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="modalInteressado" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Editar Interessado
                    </h4>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iin_responsavel)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">
                        <span style="color: Red">*</span> @Html.DisplayNameFor(model => model.iin_responsavel)
                    </label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.DropDownListFor(model => model.iin_responsavel, new[] { new SelectListItem() { Text = "Não", Value = "false" }, new SelectListItem { Text = "Sim", Value = "true" } }, null, htmlAttributes: new { id = "modal_iin_responsavel", @class = "form-control", disabled = "disabled" })
                        <span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iin_pessoa)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_pessoa)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.DropDownListFor(model => model.iin_pessoa, new[] { new SelectListItem() { Text = "Fisica", Value = "f" }, new SelectListItem { Text = "Juridica", Value = "j" } }, null, htmlAttributes: new { id = "modal_iin_pessoa", @class = "form -control", disabled = "disabled" })
                        <span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iin_proprietario)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">
                        <span style="color: Red">*</span> @Html.DisplayNameFor(model => model.iin_proprietario)
                    </label>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                        @Html.TextBoxFor(model => model.iin_proprietario, htmlAttributes: new { id = "modal_iin_proprietario", @class = "form-control", maxlength = "150", placeholder = "Nome do Proprietário", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iin_logradouro)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">
                        <span style="color: Red">*</span> @Html.DisplayNameFor(model => model.iin_logradouro)
                    </label>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                        @Html.TextBoxFor(model => model.iin_logradouro, htmlAttributes: new { id = "modal_iin_logradouro", @class = "form-control", maxlength = "150", placeholder = "Endereço do Proprietário", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iin_logradouro_complemento)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_logradouro_complemento)</label>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                        @Html.TextBoxFor(model => model.iin_logradouro_complemento, htmlAttributes: new { id = "modal_iin_logradouro_complemento", @class = "form-control", maxlength = "100", placeholder = "Complemento", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iin_rg_rne)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_rg_rne)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.iin_rg_rne, htmlAttributes: new { id = "modal_iin_rg_rne", @class = "form-control", maxlength = "15", placeholder = "Rg/Rne", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iin_cpf_cnpj)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_cpf_cnpj)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.iin_cpf_cnpj, htmlAttributes: new { id = "modal_iin_cpf_cnpj", @class = "form-control", maxlength = "20", @data_cpf_mask = "true", placeholder = "Cpf/Cnpj", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iin_email)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_email)</label>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                        @Html.TextBoxFor(model => model.iin_email, htmlAttributes: new { id = "modal_iin_email", @class = "form-control", maxlength = "200", @data_email_mask = "true", placeholder = "Email", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iin_telefone)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_telefone)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.iin_telefone, htmlAttributes: new { id = "modal_iin_telefone", @class = "form-control", @data_telefone_mask = "true", placeholder = "Telefone", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iin_celular)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_celular)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.iin_celular, htmlAttributes: new { id = "modal_iin_celular", @class = "form-control", @data_celular_mask = "true", placeholder = "Celular", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.iin_observacao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.iin_observacao)</label>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                        @Html.TextAreaFor(model => model.iin_observacao, htmlAttributes: new { id = "modal_iin_observacao", style = "height: 110px;", @class = "form-control", maxlength = "500", placeholder = "Digite as observações", disabled = "disabled" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnEditarInteressado" type="button" class="btn btn-success" data-dismiss="modal">
                        Salvar
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">

    $("#modalInteressado").on("show.bs.modal", function (e) {
        var index = Number(e.relatedTarget.dataset['index']);
        $(this).attr('data-index', index);

        $("#modal_iin_responsavel").val($("#model_desapropriacao_individual_interessado_iin_responsavel_" + index).val()).trigger("chosen:updated");
        $("#modal_iin_pessoa").val($("#model_desapropriacao_individual_interessado_iin_pessoa_" + index).val());
        $("#modal_iin_proprietario").val($("#model_desapropriacao_individual_interessado_iin_proprietario_" + index).val());
        $("#modal_iin_logradouro").val($("#model_desapropriacao_individual_interessado_iin_logradouro_" + index).val());
        $("#modal_iin_logradouro_complemento").val($("#model_desapropriacao_individual_interessado_iin_logradouro_complemento_" + index).val());
        $("#modal_iin_rg_rne").val($("#model_desapropriacao_individual_interessado_iin_rg_rne_" + index).val());
        $("#modal_iin_cpf_cnpj").val($("#model_desapropriacao_individual_interessado_iin_cpf_cnpj_" + index).val());
        $("#modal_iin_email").val($("#model_desapropriacao_individual_interessado_iin_email_" + index).val());
        $("#modal_iin_telefone").val($("#model_desapropriacao_individual_interessado_iin_telefone_" + index).val());
        $("#modal_iin_celular").val($("#model_desapropriacao_individual_interessado_iin_celular_" + index).val());
        $("#modal_iin_observacao").val($("#model_desapropriacao_individual_interessado_iin_observacao_" + index).val());
    })

    $("#btnEditarInteressado").on('click', function (e) {
        var index = $("#modalInteressado").attr("data-index");
        EditarInteressado(Number(index));
    });

    function EditarInteressado(index) {
        var responsavel = $("#modal_iin_responsavel").val();
        var pessoa = $("#modal_iin_pessoa").val();
        var proprietario = $("#modal_iin_proprietario").val();
        var logradouro = $("#modal_iin_logradouro").val();
        var logradouro_complemento = $("#modal_iin_logradouro_complemento").val();
        var rg_rne = $("#modal_iin_rg_rne").val();
        var cpf_cnpj = $("#modal_iin_cpf_cnpj").val();
        var email = $("#modal_iin_email").val();
        var telefone = $("#modal_iin_telefone").val();
        var celular = $("#modal_iin_celular").val();
        var observacao = $("#modal_iin_observacao").val();

        $("#tr_table_interessado_" + index + " td:nth-child(1)").html($("#iin_responsavel option[value='" + responsavel + "']").text());
        $("#tr_table_interessado_" + index + " td:nth-child(2)").html(cpf_cnpj);
        $("#tr_table_interessado_" + index + " td:nth-child(3)").html(proprietario);
        $("#tr_table_interessado_" + index + " td:nth-child(4)").html(logradouro);
        $("#tr_table_interessado_" + index + " td:nth-child(5)").html(logradouro_complemento);
        $("#tr_table_interessado_" + index + " td:nth-child(6)").html(email);
        $("#tr_table_interessado_" + index + " td:nth-child(7)").html(celular);

        $("#model_desapropriacao_individual_interessado_iin_responsavel_" + index).val(responsavel);
        $("#model_desapropriacao_individual_interessado_iin_pessoa_" + index).val(pessoa);
        $("#model_desapropriacao_individual_interessado_iin_proprietario_" + index).val(proprietario);
        $("#model_desapropriacao_individual_interessado_iin_logradouro_" + index).val(logradouro);
        $("#model_desapropriacao_individual_interessado_iin_logradouro_complemento_" + index).val(logradouro_complemento);
        $("#model_desapropriacao_individual_interessado_iin_rg_rne_" + index).val(rg_rne);
        $("#model_desapropriacao_individual_interessado_iin_cpf_cnpj_" + index).val(cpf_cnpj);
        $("#model_desapropriacao_individual_interessado_iin_email_" + index).val(email);
        $("#model_desapropriacao_individual_interessado_iin_telefone_" + index).val(telefone);
        $("#model_desapropriacao_individual_interessado_iin_celular_" + index).val(celular);
        $("#model_desapropriacao_individual_interessado_iin_observacao_" + index).val(observacao);

        $("#model_desapropriacao_individual_interessado_iin_acao_" + index).val(2);
    }
    
    var interessadosList = [];

    function LoadInteressado() {

        @foreach (var interessado in listaInteressados.Select((r, i) => new { Row = r, Index = i }))
        {
            <text>
                $("#divGridInteressado").css({ "display": "inline" });

                var index = @(interessado.Index);

                var model_desapropriacao_individual_interessado_iin_id = '@(interessado.Row.iin_id)';
                var model_desapropriacao_individual_interessado_iin_responsavel = '@(interessado.Row.iin_responsavel)'.toLowerCase();
                var model_desapropriacao_individual_interessado_iin_responsavel_nome = $("#iin_responsavel option[value='"+ model_desapropriacao_individual_interessado_iin_responsavel +"']").text();

                var model_desapropriacao_individual_interessado_iin_proprietario = '@(interessado.Row.iin_proprietario)';
                var model_desapropriacao_individual_interessado_iin_logradouro = '@(interessado.Row.iin_logradouro)';
                var model_desapropriacao_individual_interessado_iin_logradouro_complemento = '@(interessado.Row.iin_logradouro_complemento)';
                var model_desapropriacao_individual_interessado_iin_rg_rne = '@(interessado.Row.iin_rg_rne)';
                var model_desapropriacao_individual_interessado_iin_cpf_cnpj = '@(interessado.Row.iin_cpf_cnpj)';
                var model_desapropriacao_individual_interessado_iin_email = '@(interessado.Row.iin_email)';
                var model_desapropriacao_individual_interessado_iin_telefone = '@(interessado.Row.iin_telefone)';
                var model_desapropriacao_individual_interessado_iin_celular = '@(interessado.Row.iin_celular)';
                var model_desapropriacao_individual_interessado_iin_observacao = '@(interessado.Row.iin_observacao)';

                var model_desapropriacao_individual_interessado_iin_acao = 0;
                var model_desapropriacao_individual_interessado_userCreate = '@(interessado.Row.userCreate)';
                var model_desapropriacao_individual_interessado_dtCreate = moment('@(interessado.Row.dtCreate)', 'DD/MM/YYYY HH:mm:SS').format('DD/MM/YYYY'); //$.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();
                var model_desapropriacao_individual_interessado_iin_cadastro_dt = moment('@(interessado.Row.iin_cadastro_dt)', 'DD/MM/YYYY HH:mm:SS').format('DD/MM/YYYY'); // $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

                var tbody = $("#table_interessado").find("tbody");

                var gvRow = '';

                gvRow += "<tr id=\"tr_table_interessado_" + index + "\">";
                gvRow += "<td>" + model_desapropriacao_individual_interessado_iin_responsavel_nome + "</td>";
                gvRow += "<td>" + model_desapropriacao_individual_interessado_iin_cpf_cnpj + "</td>";
                gvRow += "<td>" + model_desapropriacao_individual_interessado_iin_proprietario + "</td>";
                gvRow += "<td>" + model_desapropriacao_individual_interessado_iin_logradouro + "</td>";
                gvRow += "<td>" + model_desapropriacao_individual_interessado_iin_logradouro_complemento + "</td>";
                gvRow += "<td>" + model_desapropriacao_individual_interessado_iin_email + "</td>";
                gvRow += "<td>" + model_desapropriacao_individual_interessado_iin_celular + "</td>";
                gvRow += "<td><button class=\"fa fa-edit btn btn-primary btn-sm\" alt=\"Editar\" title=\"Editar\" disabled=\"disabled\" type=\"button\" data-toggle=\"modal\" data-target=\"#modalInteressado\" data-index=\"" + index + "\"></button>";
                gvRow += "<button class=\"fa fa-trash btn btn-danger btn-sm\" alt=\"Exluir\" title=\"Excluir\" disabled=\"disabled\" type=\"button\" onclick=\"DeletarRegistro('Interessado', 'iin', " + index + ")\"></button></td>";

                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_id + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_id" id="model_desapropriacao_individual_interessado_iin_id_' + index + '"/>';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_responsavel + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_responsavel" id="model_desapropriacao_individual_interessado_iin_responsavel_' + index + '"/>';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_cpf_cnpj + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_cpf_cnpj" id="model_desapropriacao_individual_interessado_iin_cpf_cnpj_' + index + '"/>';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_proprietario + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_proprietario" id="model_desapropriacao_individual_interessado_iin_proprietario_' + index + '"/>';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_logradouro + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_logradouro" id="model_desapropriacao_individual_interessado_iin_logradouro_' + index + '"/>';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_logradouro_complemento + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_logradouro_complemento" id="model_desapropriacao_individual_interessado_iin_logradouro_complemento_' + index + '"/>';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_rg_rne + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_rg_rne" id="model_desapropriacao_individual_interessado_iin_rg_rne_' + index + '"/>';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_email + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_email" id="model_desapropriacao_individual_interessado_iin_email_' + index + '"/>';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_telefone + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_telefone" id="model_desapropriacao_individual_interessado_iin_telefone_' + index + '"/>';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_celular + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_celular" id="model_desapropriacao_individual_interessado_iin_celular_' + index + '"/>';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_observacao + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_observacao" id="model_desapropriacao_individual_interessado_iin_observacao_' + index + '"/>';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_acao + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_acao" id="model_desapropriacao_individual_interessado_iin_acao_' + index + '"/>';

                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_userCreate + '" name="list_model_desapropriacao_individual_interessado[' + index + '].userCreate" id="model_desapropriacao_individual_statusevento_userCreate_' + index + '"/>';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_dtCreate + '" name="list_model_desapropriacao_individual_interessado[' + index + '].dtCreate" id="model_desapropriacao_individual_statusevento_dtCreate_' + index + '"/>';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_cadastro_dt + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_cadastro_dt" id="model_desapropriacao_individual_statusevento_iin_cadastro_dt_' + index + '"/>';

                gvRow += '</tr>';

                tbody.append(gvRow);

                interessadosList.push({
                    responsavel: model_desapropriacao_individual_interessado_iin_responsavel,
                    logradouro: model_desapropriacao_individual_interessado_iin_logradouro,
                    proprietario: model_desapropriacao_individual_interessado_iin_proprietario
                });
            </text>
        }
    }

    function AdicionarInteressado() {
        $("#divGridInteressado").css({ "display": "inline" });

        var index = $("#table_interessado > tbody > tr").length;

        var model_desapropriacao_individual_interessado_iin_responsavel = $("#iin_responsavel option:selected").val();
        var model_desapropriacao_individual_interessado_iin_responsavel_nome = $("#iin_responsavel option:selected").text();

        var model_desapropriacao_individual_interessado_iin_proprietario = $("#iin_proprietario").val();
        var model_desapropriacao_individual_interessado_iin_logradouro = $("#iin_logradouro").val();
        var model_desapropriacao_individual_interessado_iin_logradouro_complemento = $("#iin_logradouro_complemento").val();
        var model_desapropriacao_individual_interessado_iin_rg_rne = $("#iin_rg_rne").val();
        var model_desapropriacao_individual_interessado_iin_cpf_cnpj = $("#iin_cpf_cnpj").val();
        var model_desapropriacao_individual_interessado_iin_email = $("#iin_email").val();
        var model_desapropriacao_individual_interessado_iin_telefone = $("#iin_telefone").val();
        var model_desapropriacao_individual_interessado_iin_celular = $("#iin_celular").val();
        var model_desapropriacao_individual_interessado_iin_observacao = $("#iin_observacao").val();

        var model_desapropriacao_individual_interessado_iin_acao = 1;
        var model_desapropriacao_individual_interessado_userCreate = $("#userCreate").val();
        var model_desapropriacao_individual_interessado_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();
        var model_desapropriacao_individual_interessado_iin_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var tbody = $("#table_interessado").find("tbody");

        var gvRow = '';

        gvRow += "<tr id=\"tr_table_interessado_" + index + "\">";
        gvRow += "<td>" + model_desapropriacao_individual_interessado_iin_responsavel_nome + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_interessado_iin_cpf_cnpj + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_interessado_iin_proprietario + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_interessado_iin_logradouro + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_interessado_iin_logradouro_complemento + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_interessado_iin_email + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_interessado_iin_celular + "</td>";
        gvRow += "<td><button class=\"fa fa-trash btn btn-danger btn-sm\" type=\"button\" alt=\"Exluir\" title=\"Excluir\" onclick=\"DeletarRegistro('Interessado', 'iin', " + index + ")\"></span></td>";

        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_responsavel + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_responsavel" id="model_desapropriacao_individual_interessado_iin_responsavel_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_cpf_cnpj + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_cpf_cnpj" id="model_desapropriacao_individual_interessado_iin_cpf_cnpj_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_proprietario + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_proprietario" id="model_desapropriacao_individual_interessado_iin_proprietario_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_logradouro + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_logradouro" id="model_desapropriacao_individual_interessado_iin_logradouro_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_logradouro_complemento + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_logradouro_complemento" id="model_desapropriacao_individual_interessado_iin_logradouro_complemento_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_rg_rne + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_rg_rne" id="model_desapropriacao_individual_interessado_iin_rg_rne_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_email + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_email" id="model_desapropriacao_individual_interessado_iin_email_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_telefone + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_telefone" id="model_desapropriacao_individual_interessado_iin_telefone_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_celular + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_celular" id="model_desapropriacao_individual_interessado_iin_celular_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_observacao + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_observacao" id="model_desapropriacao_individual_interessado_iin_observacao_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_acao + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_acao" id="model_desapropriacao_individual_interessado_iin_acao_' + index + '"/>';

        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_userCreate + '" name="list_model_desapropriacao_individual_interessado[' + index + '].userCreate" id="model_desapropriacao_individual_statusevento_userCreate_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_dtCreate + '" name="list_model_desapropriacao_individual_interessado[' + index + '].dtCreate" id="model_desapropriacao_individual_statusevento_dtCreate_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_interessado_iin_cadastro_dt + '" name="list_model_desapropriacao_individual_interessado[' + index + '].iin_cadastro_dt" id="model_desapropriacao_individual_statusevento_iin_cadastro_dt_' + index + '"/>';

        gvRow += '</tr>';

        tbody.append(gvRow);

        $("#iin_responsavel").val('').trigger("chosen:updated");
        $("#iin_pessoa").val('').trigger("chosen:updated");

        $("#iin_proprietario").val('');
        $("#iin_logradouro").val('');
        $("#iin_logradouro_complemento").val('');
        $("#iin_rg_rne").val('');
        $("#iin_cpf_cnpj").val('');
        $("#iin_email").val('');
        $("#iin_telefone").val('');
        $("#iin_celular").val('');
        $("#iin_observacao").val('');
    }


    function ValidacaoInteressado() {

        $("#btnAdicionarInteressado").click(function (e) {

            var msg = "";
            var isValid = true;

            if (jQuery("#iin_proprietario").val().length <= 0) {
                msg += "- digite o nome do proprietário.<br/>";
                isValid = false;
            }

            if (jQuery("#iin_logradouro").val().length <= 0) {
                msg += "- digite o endereço do proprietário.<br/>";
                isValid = false;
            }

            if (!$("#iin_responsavel option:selected").val().length) {
                msg += "- selecione o tipo da data.<br/>";
                isValid = false;
            } else {
                if ($("#iin_responsavel option:selected").val() === "true") {
                    var responsavelList = interessadosList.filter(function (o) {
                        return o.responsavel === "true";
                    });

                    if (responsavelList.length > 0) {
                        msg += "- pertimido somente um responsável";
                        isValid = false;
                    }
                }
            }

            if (!isValid) {
                Mensagens.Modal("Atenção", msg, BootstrapDialog.TYPE_WARNING);
                e.preventDefault();
            } else {

                interessadosList.push({
                    responsavel: $("#iin_responsavel option:selected").val(),
                    logradouro: jQuery("#iin_logradouro").val(),
                    proprietario: jQuery("#iin_proprietario").val()
                });

                AdicionarInteressado();
            }

            return isValid;
        });
    };

    jQuery(document).ready(function () {
        LoadInteressado();
        ValidacaoInteressado();
    });
</script>
