﻿@using Entity.GERENCIADORPORTAL
@using WebAppMvc.Areas.Desapropriacao.Models;
@model model_desapropriacao_individual_pendencia
@{
    var pendenciasListModel = (List<model_desapropriacao_individual_pendencia>)ViewBag.ListModelPendencias;
}
<div class="box-body">
    <input id="userNameCreatePendencia" type="hidden" value="@(((tab_usuario)Session["objUsuario"]).usu_nome_login)" />
    <input id="userIdCreatePendencia" type="hidden" value="@(((tab_usuario)Session["objUsuario"]).usu_id)" />
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.ipe_descricao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ipe_descricao)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextAreaFor(model => model.ipe_descricao, htmlAttributes: new { style = "height: 110px;", @class = "form-control", maxlength = "500", placeholder = "Descrição", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" disabled="disabled" id="btnAdicionarPendencia">
                <i class="fa fa-plus-square"></i> Adicionar
            </button>
        </div>
    </div>
    <div id="divGridPendencia" class="form-group" style="display: @(pendenciasListModel.Count > 0 ? "inline" : "none");">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_pendencia">
                    <thead>
                        <tr>
                            <th>
                                Descrição
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Cadastrado Por
                            </th>
                            <th>
                                Dt. Cadastro
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in pendenciasListModel.Select((r, i) => new { Row = r, Index = i }))
                        {
                            <tr id="tr_table_pendencia_@(item.Index)">
                                <td>
                                    @(item.Row.ipe_descricao)
                            </td>
                            <td>
                                Pendente
                            </td>
                            <td>
                                @(item.Row.ipe_cadastro_usuario)
                        </td>
                        <td>
                            @(item.Row.ipe_cadastro_dt)
                    </td>
                    <td>
                        <button type="button" class="fa fa-trash btn btn-danger btn-sm" disabled="disabled" alt="Exluir" title="Excluir" id="btnExcluirPendencia" onclick="DeletarRegistro('Pendencia', 'ipe', @(item.Index))"></button>
                    </td>
                    <input type="hidden" value="@(item.Row.ipe_descricao)" name="list_model_desapropriacao_individual_pendencia[@(item.Index)].ipe_descricao" id="model_desapropriacao_individual_pendencia_ipe_descricao_@(item.Index)" />
                    <input type="hidden" value="@(item.Row.ipe_status)" name="list_model_desapropriacao_individual_pendencia[@(item.Index)].ipe_status" id="model_desapropriacao_individual_pendencia_ipe_status_@(item.Index)" />
                    <input type="hidden" value="@(item.Row.ipe_acao)" name="list_model_desapropriacao_individual_pendencia[@(item.Index)].ipe_acao" id="model_desapropriacao_individual_pendencia_ipe_acao_@(item.Index)" />
                    <input type="hidden" value="@(item.Row.usu_id)" name="list_model_desapropriacao_individual_pendencia[@(item.Index)].usu_id" id="model_desapropriacao_pendencia_usu_id_@(item.Index)" />
                    <input type="hidden" value="@(item.Row.ipe_cadastro_usuario)" name="list_model_desapropriacao_individual_pendencia[@(item.Index)].ipe_cadastro_usuario" id="model_desapropriacao_individual_pendencia_ipe_cadastro_usuario_@(item.Index)" />
                    <input type="hidden" value="@(item.Row.ipe_cadastro_dt)" name="list_model_desapropriacao_individual_pendencia[@(item.Index)].ipe_cadastro_dt" id="model_desapropriacao_individual_pendencia_ipe_cadastro_dt_@(item.Index)" />
                    <input type="hidden" value="@(item.Row.userCreate)" name="list_model_desapropriacao_individual_pendencia[@(item.Index)].userCreate" id="model_desapropriacao_pendencia_userCreate_@(item.Index)" />
                    <input type="hidden" value="@(item.Row.dtCreate)" name="list_model_desapropriacao_individual_pendencia[@(item.Index)].dtCreate" id="model_desapropriacao_pendencia_dtCreate_@(item.Index)" />
                    <input type="hidden" value="@(item.Row.ipe_id)" name="list_model_desapropriacao_individual_pendencia[@(item.Index)].ipe_id" id="model_desapropriacao_individual_pendencia_ipe_id_@(item.Index)" />
                    <input type="hidden" value="@(item.Row.ipe_concluido_usuario)" name="list_model_desapropriacao_individual_pendencia[@(item.Index)].ipe_concluido_usuario" id="model_desapropriacao_individual_pendencia_ipe_concluido_usuario_@(item.Index)" />
                    <input type="hidden" value="@(item.Row.ipe_concluido_dt)" name="list_model_desapropriacao_individual_pendencia[@(item.Index)].ipe_concluido_dt" id="model_desapropriacao_individual_pendencia_ipe_concluido_dt_@(item.Index)" />
                </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function AdicionarPendencia() {

        $("#divGridPendencia").css({ "display": "inline" });

        var index = $("#table_pendencia > tbody > tr").length;

        var model_desapropriacao_pendencia_ipe_descricao = $("#ipe_descricao").val();
        var model_desapropriacao_pendencia_ipe_status = 1;
        var model_desapropriacao_pendencia_ipe_acao = 1;

        var model_desapropriacao_pendencia_usu_id = $("#userIdCreatePendencia").val();

        var model_desapropriacao_pendencia_ipe_cadastro_usuario = $("#userNameCreatePendencia").val();
        var model_desapropriacao_pendencia_ipe_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var model_desapropriacao_pendencia_userCreate = $("#userNameCreatePendencia").val();
        var model_desapropriacao_pendencia_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var tbody = $("#table_pendencia").find("tbody");

        var gvRow = '';

        gvRow += "<tr id=\"tr_table_pendencia_" + index + "\">";
        gvRow += "<td>" + model_desapropriacao_pendencia_ipe_descricao + "</td>";
        gvRow += "<td>Pendente</td>";
        gvRow += "<td>" + model_desapropriacao_pendencia_ipe_cadastro_usuario + "</td>";
        gvRow += "<td>" + model_desapropriacao_pendencia_ipe_cadastro_dt + "</td>";
        gvRow += "<td><button class=\"fa fa-trash btn btn-danger btn-sm\" alt=\"Exluir\" type=\"button\" title=\"Excluir\" id=\"btnExcluirPendencia\" onclick=\"DeletarRegistro('Pendencia', 'ipe', " + index + ")\"></button></td>";

        gvRow += '<input type="hidden" value="' + model_desapropriacao_pendencia_ipe_descricao + '" name="list_model_desapropriacao_individual_pendencia[' + index + '].ipe_descricao" id="model_desapropriacao_individual_pendencia_ipe_descricao_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_pendencia_ipe_status + '" name="list_model_desapropriacao_individual_pendencia[' + index + '].ipe_status" id="model_desapropriacao_individual_pendencia_ipe_status_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_pendencia_ipe_acao + '" name="list_model_desapropriacao_individual_pendencia[' + index + '].ipe_acao" id="model_desapropriacao_individual_pendencia_ipe_acao_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_pendencia_usu_id + '" name="list_model_desapropriacao_individual_pendencia[' + index + '].usu_id" id="model_desapropriacao_pendencia_usu_id_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_pendencia_ipe_cadastro_usuario + '" name="list_model_desapropriacao_individual_pendencia[' + index + '].ipe_cadastro_usuario" id="model_desapropriacao_individual_pendencia_ipe_cadastro_usuario_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_pendencia_ipe_cadastro_dt + '" name="list_model_desapropriacao_individual_pendencia[' + index + '].ipe_cadastro_dt" id="model_desapropriacao_individual_pendencia_ipe_cadastro_dt_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_pendencia_userCreate + '" name="list_model_desapropriacao_individual_pendencia[' + index + '].userCreate" id="model_desapropriacao_pendencia_userCreate_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_pendencia_dtCreate + '" name="list_model_desapropriacao_individual_pendencia[' + index + '].dtCreate" id="model_desapropriacao_pendencia_dtCreate_' + index + '"/>';

        gvRow += '</tr>';

        tbody.append(gvRow);


        $("#ipe_descricao").val('');
    }

    function ValidacaoPendencia() {

        $("#btnAdicionarPendencia").click(function (e) {

            var msg = "";
            var isValid = true;

            if (jQuery("#ipe_descricao").val().length <= 0) {
                msg += "- digite a descrição.<br/>";
                isValid = false;
            }

            if (!isValid) {
                Mensagens.Modal("Atenção", msg, BootstrapDialog.TYPE_WARNING);
                e.preventDefault();
            } else {
                AdicionarPendencia();
            }

            return isValid;
        });
    };


    jQuery(document).ready(function () {
        ValidacaoPendencia();
    });

</script>
