﻿@using Entity.GERENCIADORPORTAL
@using WebAppMvc.Areas.Desapropriacao.Models
@model model_desapropriacao_individual_planta_propriedade
@{
    var plantaPropriedadeListModel = (List<model_desapropriacao_individual_planta_propriedade>)ViewBag.ListModelPlantaPropriedade;

    var browser = Request.Browser.Browser;
}
<div class="box-body">
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.ipp_descricao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ipp_descricao)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextBoxFor(model => model.ipp_descricao, htmlAttributes: new { @class = "form-control", maxlength = "100", placeholder = "Descrição", disabled = "disabled" })
        </div>
    </div>
    <div id="uploadPlantaPropriedade">
        <div class="form-group upload">
            <label for="@Html.DisplayNameFor(model => model.ipp_file_upload)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ipp_file_upload)</label>
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                <input id="ipp_file_upload" type="file" class="filestyle" data-buttontext="Selecione..."
                    data-placeholder="Sem Arquivo" data-buttonbefore="false" data-buttonname="btn-primary" />
            </div>
        </div>
        @{
            if (browser == "InternetExplorer")
            {
                for (int i = 0; i < 10; i++)
                {
                    <div class="form-group upload" style="display: none">
                        <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ipp_file_upload)</label>
                        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                            <input type="file" class="filestyle" data-buttontext="Selecione..." data-placeholder="Sem Arquivo" data-buttonbefore="false" data-buttonname="btn-primary" />
                        </div>
                    </div>
                }
            }
        }
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" disabled="disabled" id="btnAdicionarPlantaPropriedade">
                <i class="fa fa-plus-square"></i> Adicionar</button>
        </div>
    </div>
    <div id="divGridPlantaPropriedade" class="form-group" style="display: none">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_planta_propriedade">
                    <thead>
                        <tr>
                            <th>
                                Nome Arquivo
                            </th>
                            <th>
                                Descrição
                            </th>
                            <th>
                                Usuário
                            </th>
                            <th>
                                Data
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    
    function LoadPlantaPropriedadeTable() {
        @foreach (var item in plantaPropriedadeListModel.Select((r, i) => new { Row = r, Index = i }))
        {
            <text>
                
                $("#divGridPlantaPropriedade").css({ "display": "inline" });

                var index = @(item.Index);

                var model_desapropriacao_individual_planta_propriedade_ane_nome_original = '@(item.Row.model_anexo_identificador.list_model_anexo[0].ane_nome_original)';
                var model_desapropriacao_individual_planta_propriedade_ane_mime_type = '@(item.Row.model_anexo_identificador.list_model_anexo[0].ane_mime_type)';
                var model_desapropriacao_individual_planta_propriedade_ane_nome = '@(item.Row.model_anexo_identificador.list_model_anexo[0].ane_nome)';
                var model_desapropriacao_individual_planta_propriedade_ane_ordem = '@(item.Row.model_anexo_identificador.list_model_anexo[0].ane_ordem)';

                var model_desapropriacao_individual_planta_propriedade_ipp_id = '@(item.Row.ipp_id)';

                var model_desapropriacao_individual_planta_propriedade_ipp_descricao = '@(item.Row.ipp_descricao)';

                var model_desapropriacao_individual_planta_propriedade_aid_aid_id = '@(item.Row.model_anexo_identificador.aid_id)';
                var model_desapropriacao_individual_planta_propriedade_aid_aid_form = '@(item.Row.model_anexo_identificador.aid_form)';
                var model_desapropriacao_individual_planta_propriedade_aid_aid_guia = '@(item.Row.model_anexo_identificador.aid_guia)';
                var model_desapropriacao_individual_planta_propriedade_aid_aid_tipo = '@(item.Row.model_anexo_identificador.aid_tipo)';

                var model_desapropriacao_individual_planta_propriedade_ane_pasta =
                    "@Html.Raw(HttpUtility.JavaScriptStringEncode(item.Row.model_anexo_identificador.list_model_anexo[0].ane_pasta))".replace(/\\/g, "/");
                var model_desapropriacao_individual_planta_propriedade_ane_id = '@(item.Row.model_anexo_identificador.list_model_anexo[0].ane_id)';
                var model_desapropriacao_individual_planta_propriedade_ipp_acao = 0;
                var model_desapropriacao_individual_planta_propriedade_userCreate    = '@(item.Row.model_anexo_identificador.list_model_anexo[0].userCreate)';
                var model_desapropriacao_individual_planta_propriedade_dtCreate = moment('@(item.Row.model_anexo_identificador.list_model_anexo[0].dtCreate)', 'DD/MM/YYYY HH:mm:ss').format('DD/MM/YYYY HH:mm:ss'); //  $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();
                var model_desapropriacao_individual_planta_propriedade_ipp_anexo_dt = moment('@(item.Row.ipp_anexo_dt)', 'DD/MM/YYYY HH:mm:ss').format('DD/MM/YYYY HH:mm:ss'); //$.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

                var tbody = $("#table_planta_propriedade").find("tbody");

                var gvRow = '';

                gvRow += "<tr disabled=\"disabled\" id=\"tr_table_planta_propriedade_" + index + "\">";
                gvRow += "<td>" + model_desapropriacao_individual_planta_propriedade_ane_nome_original + "</td>";
                gvRow += "<td>" + model_desapropriacao_individual_planta_propriedade_ipp_descricao + "</td>";
                gvRow += "<td>" + model_desapropriacao_individual_planta_propriedade_userCreate + "</td>";
                gvRow += "<td>" + model_desapropriacao_individual_planta_propriedade_ipp_anexo_dt + "</td>";
                gvRow += "<td><button class=\"fa fa-download btn btn-primary btn-sm\" type=\"button\" disabled=\"disabled\" onclick=\"Download('" + model_desapropriacao_individual_planta_propriedade_ane_pasta + "')\"></button>";
                gvRow += "<span> </span>";
                gvRow +=
                    "<button class=\"fa fa-trash btn btn-danger btn-sm\" alt=\"Exluir\" title=\"Excluir\" type=\"button\" disabled=\"disabled\" onclick=\"DeletarRegistro('Planta_Propriedade', 'ipp', " + index + ")\"></button>";
                
                
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ipp_id + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].ipp_id" id="model_desapropriacao_individual_planta_propriedade_ipp_id_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ipp_acao + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].ipp_acao" id="model_desapropriacao_individual_planta_propriedade_ipp_acao_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ipp_descricao + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].ipp_descricao" id="model_desapropriacao_individual_planta_propriedade_ipp_descricao_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_userCreate + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].userCreate" id="model_desapropriacao_individual_planta_propriedade_userCreate_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_dtCreate + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].dtCreate" id="model_desapropriacao_individual_planta_propriedade_dtCreate_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ipp_anexo_dt + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].ipp_anexo_dt" id="model_desapropriacao_individual_planta_propriedade_ipp_anexo_dt_' + index + '" />';

                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ane_nome_original + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].ipp_anexo_nome" id="model_desapropriacao_individual_planta_propriedade_ipp_anexo_nome_nome_original_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ane_nome  + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].ipp_anexo" id="model_desapropriacao_individual_planta_propriedade_ipp_anexo_' + index + '"/>';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_aid_aid_id + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].ipp_anexo_identificador_id" id="model_desapropriacao_individual_planta_propriedade_ipp_anexo_identificador_id_' + index + '" />';
        
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_aid_aid_id + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.aid_id" id="model_desapropriacao_individual_planta_propriedade_aid_aid_id_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_aid_aid_form + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.aid_form" id="model_desapropriacao_individual_planta_propriedade_aid_aid_form_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_aid_aid_guia + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.aid_guia" id="model_desapropriacao_individual_planta_propriedade_aid_aid_guia_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_aid_aid_tipo + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.aid_tipo" id="model_desapropriacao_individual_planta_propriedade_aid_aid_tipo_' + index + '" />';

                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ane_id + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_id" id="model_desapropriacao_individual_planta_propriedade_ane_id_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_aid_aid_id + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.list_model_anexo[0].aid_id" id="model_desapropriacao_individual_planta_propriedade_ane_aid_aid_id_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ane_nome_original + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_nome_original" id="model_desapropriacao_individual_planta_propriedade_ane_nome_original_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ane_nome + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_nome" id="model_desapropriacao_individual_planta_propriedade_ane_nome_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ane_mime_type + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_mime_type" id="model_desapropriacao_individual_planta_propriedade_ane_mime_type_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ane_ordem + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_ordem" id="model_desapropriacao_individual_planta_propriedade_ane_ordem_' + index + '" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_dtCreate + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.list_model_anexo[0].dtCreate" />';
                gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_userCreate + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.list_model_anexo[0].userCreate" />';

                gvRow += '<span id="filePlantaPropriedade_' + index + '"></span>';

                gvRow += "</td></tr>";


                tbody.append(gvRow);
            </text>
        }
    }

    function Download(url) {
        //top.location.href = window.location.origin + url;
        //document.getElementById('my_iframe').src = window.location.origin + url;

        window.open(url);
    }

    function AdicionarPlantaPropriedade() {
        $("#divGridPlantaPropriedade").css({ "display": "inline" });

        var index = $("#table_planta_propriedade > tbody > tr").length;

        var file = $("#ipp_file_upload").prop("files")[0];

        var model_desapropriacao_individual_planta_propriedade_ane_nome_original = file.name;
        var model_desapropriacao_individual_planta_propriedade_ane_mime_type = file.type;

        var fileExt = (/[.]/.exec(file.name)) ? /[^.]+$/.exec(file.name)[0] : undefined;
        var model_desapropriacao_individual_planta_propriedade_ane_nome = Guid.Generate() + "." + fileExt;
        var model_desapropriacao_individual_planta_propriedade_ane_ordem = 1;

        var model_desapropriacao_individual_planta_propriedade_ipp_descricao = $("#ipp_descricao").val();

        var model_desapropriacao_individual_planta_propriedade_ipp_acao = 1;
        var model_desapropriacao_individual_planta_propriedade_userCreate = $("#userCreate").val();
        var model_desapropriacao_individual_planta_propriedade_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();
        var model_desapropriacao_individual_planta_propriedade_ipp_anexo_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var tbody = $("#table_planta_propriedade").find("tbody");

        var gvRow = '';

        gvRow += "<tr id=\"tr_table_planta_propriedade_" + index + "\">";
        gvRow += "<td>" + model_desapropriacao_individual_planta_propriedade_ane_nome_original + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_planta_propriedade_ipp_descricao + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_planta_propriedade_userCreate + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_planta_propriedade_ipp_anexo_dt + "</td>";
        gvRow += "<td><button class=\"fa fa-trash btn btn-danger btn-sm\" alt=\"Exluir\" title=\"Excluir\" type=\"button\" id=\"btnExcluirInteressado\" onclick=\"DeletarRegistro('Planta_Propriedade', 'ipp', " + index + ")\"></button>";
        
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ipp_acao + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].ipp_acao" id="model_desapropriacao_individual_planta_propriedade_ipp_acao_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ipp_descricao + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].ipp_descricao" id="model_desapropriacao_individual_planta_propriedade_ipp_descricao_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_userCreate + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].userCreate" id="model_desapropriacao_individual_planta_propriedade_userCreate_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_dtCreate + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].dtCreate" id="model_desapropriacao_individual_planta_propriedade_dtCreate_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ipp_anexo_dt + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].ipp_anexo_dt" id="model_desapropriacao_individual_planta_propriedade_ipp_anexo_dt_' + index + '"/>';

        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ane_nome_original + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].ipp_anexo_nome" id="model_desapropriacao_individual_planta_propriedade_ipp_anexo_nome_nome_original_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ane_nome  + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].ipp_anexo" id="model_desapropriacao_individual_planta_propriedade_ane_nome_' + index + '"/>';
        
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ane_nome_original + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_nome_original" id="model_desapropriacao_individual_planta_propriedade_ane_nome_original_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ane_nome + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_nome" id="model_desapropriacao_individual_planta_propriedade_ane_nome_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ane_mime_type + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_mime_type" id="model_desapropriacao_individual_planta_propriedade_ane_mime_type_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_ane_ordem + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_ordem" id="model_desapropriacao_individual_planta_propriedade_ane_ordem_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_dtCreate + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.list_model_anexo[0].dtCreate" id="model_desapropriacao_individual_planta_propriedade_dtCreate_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_planta_propriedade_userCreate + '" name="list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.list_model_anexo[0].userCreate" id="model_desapropriacao_individual_planta_propriedade_userCreate_' + index + '"/>';
        
        gvRow += '<span id="filePlantaPropriedade_' + index + '"></span>';

        gvRow += "</td></tr>";

        tbody.append(gvRow);

        if ($("#browser").val() == "InternetExplorer") {
            var input = $("#uploadPlantaPropriedade input[type='file']").first();
            input.attr("id", "model_desapropriacao_individual_planta_propriedade_ane_arquivo_" + index).attr("name", "list_model_desapropriacao_individual_planta_propriedade[" + index + "].model_anexo_identificador.list_model_anexo[0].ane_arquivo");
            input.parents("div.upload").first().detach();
            $("#filePlantaPropriedade_" + index).append(input);

            input = $("#uploadPlantaPropriedade input[type='file']").first();
            input.attr("id", "ipp_file_upload");
            var parent = input.parents("div.upload");
            parent.find("label").attr("for", "ipp_file_upload");
            parent.show();
        }
        else {
            //CLONA FILE UPLOAD///
            var clone = $("#ipp_file_upload").clone();
            clone.attr('id', 'model_desapropriacao_individual_planta_propriedade_ane_arquivo_' + index).attr('name', 'list_model_desapropriacao_individual_planta_propriedade[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_arquivo');
            $('#filePlantaPropriedade_' + index).append(clone);
            //-----------------------------------------------------------------------------------------------------------------------------------------------------------------------//
        }

        $("#ipp_anexo_dt").val('');
        $("#ipp_descricao").val('');

        $("#ipp_file_upload").val('');
        $("#ipp_file_upload").filestyle('clear');
    }

    function ValidacaoPlantaPropriedade() {

        $("#btnAdicionarPlantaPropriedade").click(function (e) {

            var msg = "";
            var isValid = true;


            if (jQuery("#ipp_file_upload").val().length <= 0) {
                msg += "- escolha o anexo.<br/>";
                isValid = false;
            }

            if (!isValid) {
                Mensagens.Modal("Atenção", msg, BootstrapDialog.TYPE_WARNING);
                e.preventDefault();
            } else {
                AdicionarPlantaPropriedade();
            }

            return isValid;
        });
    }


    
    jQuery(document).ready(function () {
        LoadPlantaPropriedadeTable();
        ValidacaoPlantaPropriedade();
    });

</script>
