﻿@using Entity.GERENCIADORPORTAL
@using WebAppMvc.Areas.Desapropriacao.Models;
@model model_desapropriacao_individual_registro_fotografico
@{
    var registroFotografico = (List<model_desapropriacao_individual_registro_fotografico>)ViewBag.ListModelRegistroFotografico;

    var browser = Request.Browser.Browser;
}
<div id="divRegistrosFotograficos" class="box-body">
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.irf_data)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.irf_data)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.irf_data, htmlAttributes: new { @class = "form-control", maxlength = "10", @data_date_mask = "true", placeholder = "Dt. Inicial", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.irf_descricao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.irf_descricao)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextBoxFor(model => model.irf_descricao, htmlAttributes: new { @class = "form-control", maxlength = "100", placeholder = "Descrição", disabled = "disabled" })
        </div>
    </div>
    <div id="uploadRegistroFotografico">
        <div class="form-group">
            <label for="irf_file_upload_rf" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">
                Upload
            </label>
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                <input id="irf_file_upload_rf" type="file" disabled="disabled" class="filestyle"
                       data-buttontext=" Selecione..." data-placeholder="Sem Arquivo" data-buttonbefore="false"
                       data-buttonname="btn-primary" accept="image/*" />
            </div>
        </div>
        @{
            if (browser == "InternetExplorer")
            {
                for (int i = 0; i < 10; i++)
                {
                    <div class="form-group upload" style="display: none">
                        <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.irf_file_upload)</label>
                        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                            <input type="file" disabled="disabled" class="filestyle" data-buttontext="Selecione..." data-placeholder="Sem Arquivo" data-buttonbefore="false" data-buttonname="btn-primary" accept="image/*" />
                        </div>
                    </div>
                }
            }
        }
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button disabled="disabled" type="button" class="btn btn-primary" id="btnAdicionarRegistroFotografico">
                <i class="fa fa-plus-square"></i> Adicionar</button>
        </div>
    </div>
    <div id="divGridRegistroFotografico" class="form-group" style="display: none">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_registro_fotografico">
                    <thead>
                        <tr>
                            <th>
                                Data
                            </th>
                            <th>
                                Descrição
                            </th>
                            <th>
                                Foto
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function LoadRegistroFotograficoTable() {

        @foreach (var item in registroFotografico.Select((r, i) => new { Row = r, Index = i }))
        {
            <text>
                $("#divGridRegistroFotografico").css({ "display": "inline" });

                var index = @(item.Index);

                var tbody = $("#table_registro_fotografico").find("tbody");

                var model_desapropriacao_registro_fotografico_irf_id = '@(item.Row.irf_id)';

                var model_desapropriacao_individual_registro_fotografico_ane_pasta =
                    "@Html.Raw(HttpUtility.JavaScriptStringEncode(item.Row.model_anexo_identificador.list_model_anexo[0].ane_pasta))".replace(/\\/g, "/");

                var gvRow = '';

                gvRow += "<tr id=\"tr_table_registro_fotografico_" + index + "\">";
                gvRow += "<td>" + '@(item.Row.irf_data.Value.ToShortDateString())' + "</td>";
                gvRow += "<td>" + '@(item.Row.irf_descricao)' + "</td>";
                gvRow += "<td>" + '@(item.Row.irf_anexo_nome)' + "</td>";

                gvRow += "<td><button class=\"fa fa-download btn btn-primary btn-sm\" type=\"button\" disabled=\"disabled\" onclick=\"Download('" + model_desapropriacao_individual_registro_fotografico_ane_pasta + "')\"></button>";
                gvRow += "<span> </span>";
                gvRow += "<button class=\"fa fa-trash btn btn-danger btn-sm\" alt=\"Excluir\" title=\"Excluir\" type=\"button\" disabled=\"disabled\" onclick=\"DeletarRegistro('registro_fotografico', 'irf', " + index + ")\"></button>";
                
                gvRow += '<input type=\"hidden\" value=\"' + model_desapropriacao_registro_fotografico_irf_id + '\" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].irf_id" id="model_desapropriacao_individual_registro_fotografico_irf_id_' + index + '"/>';
                gvRow += '<input type=\"hidden\" value=\"' + '@(item.Row.irf_data)' + '\" name="list_model_desapropriacao_individual_registro_fotografico[' + index + '].irf_data" id="model_desapropriacao_individual_registro_fotografico_irf_data_' + index + '"/>';
                gvRow += '<input type=\"hidden\" value=\"' + '@(item.Row.irf_descricao)' + '\" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].irf_descricao" id="model_desapropriacao_individual_registro_fotografico_irf_descricao_' + index + '"/>';
                gvRow += '<input type=\"hidden\" value=\"' + '@(item.Row.irf_acao)' + '\" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].irf_acao" id="model_desapropriacao_individual_registro_fotografico_irf_acao_@(item.Index)"/>';
                gvRow += '<input type=\"hidden\" value=\"' + '@(item.Row.irf_cadastro_dt)'+ '\" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].irf_cadastro_dt" id="model_desapropriacao_individual_registro_fotografico_irf_cadastro_dt_@(item.Index)"/>';
                gvRow += '<input type=\"hidden\" value=\"' + '@(item.Row.userCreate)' + '\" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].userCreate" id="model_desapropriacao_individual_registro_fotografico_userCreate_@(item.Index)"/>';
                gvRow += '<input type=\"hidden\" value=\"' + '@(item.Row.dtCreate)' + '\" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].dtCreate" id="model_desapropriacao_individual_registro_fotografico_dtCreate_@(item.Index)"/>';
                gvRow += '<input type=\"hidden\" value=\"' + '@(item.Row.irf_anexo)' + '\" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].irf_anexo" id="model_desapropriacao_individual_registro_fotografico_irf_anexo_@(item.Index)"/>';
                gvRow += '<input type=\"hidden\" value=\"' + '@(item.Row.irf_anexo_nome)' + '\" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].irf_anexo_nome" id="model_desapropriacao_individual_registro_fotografico_irf_anexo_nome_@(item.Index)"/>';
                gvRow += '<input type=\"hidden\" value=\"' + '@(item.Row.irf_orgem)' + '\" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].irf_orgem" id="model_desapropriacao_registro_individual_fotografico_irf_orgem_@(item.Index)"/>';

                gvRow += '<input type="hidden" value="@(item.Row.model_anexo_identificador.aid_id)" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].model_anexo_identificador.aid_id" id="model_desapropriacao_individual_registro_fotografico_model_anexo_identificador_aid_id_@(item.Index)"/>';
                gvRow += '<input type="hidden" value="@(item.Row.aid_id)" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].aid_id" id="model_desapropriacao_individual_registro_fotografico_aid_id_@(item.Index)"/>';
                gvRow += '<input type="hidden" value="@(item.Row.model_anexo_identificador.aid_guia)" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].model_anexo_identificador.aid_guia" id="model_desapropriacao_individual_registro_fotografico_model_anexo_identificador_aid_guia_@(item.Index)"/>';
                gvRow += '<input type="hidden" value="@(item.Row.model_anexo_identificador.aid_tipo)" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].model_anexo_identificador.aid_tipo" id="model_desapropriacao_individual_registro_fotografico_model_anexo_identificador_aid_tipo_@(item.Index)"/>';

                gvRow += '<input type="hidden" value="@(item.Row.model_anexo_identificador.list_model_anexo[0].aid_id)" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].model_anexo_identificador.list_model_anexo[0].aid_id" id="model_desapropriacao_individual_registro_fotografico_model_anexo_identificador_list_model_anexo_aid_id_@(item.Index)"/>';
                gvRow += '<input type="hidden" value="@(item.Row.model_anexo_identificador.list_model_anexo[0].ane_id)" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].model_anexo_identificador.list_model_anexo[0].ane_id" id="model_desapropriacao_individual_registro_fotografico_model_anexo_identificador_list_model_anexo_ane_id_@(item.Index)"/>';
                gvRow += '<input type="hidden" value="@(item.Row.model_anexo_identificador.list_model_anexo[0].ane_mime_type)" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].model_anexo_identificador.list_model_anexo[0].ane_mime_type" id="model_desapropriacao_individual_registro_fotografico_model_anexo_identificador_list_model_anexo_ane_mime_type_@(item.Index)"/>';
                gvRow += '<input type="hidden" value="@(item.Row.model_anexo_identificador.list_model_anexo[0].ane_pasta)" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].model_anexo_identificador.list_model_anexo[0].ane_pasta" id="model_desapropriacao_individual_registro_fotografico_model_anexo_identificador_list_model_anexo_ane_pasta_@(item.Index)"/>';
                gvRow += '<input type="hidden" value="@(item.Row.model_anexo_identificador.list_model_anexo[0].ane_nome)" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].model_anexo_identificador.list_model_anexo[0].ane_nome" id="model_desapropriacao_individual_registro_fotografico_model_anexo_identificador_list_model_anexo_ane_nome_@(item.Index)"/>';
                gvRow += '<input type="hidden" value="@(item.Row.model_anexo_identificador.list_model_anexo[0].ane_nome_original)" name="list_model_desapropriacao_individual_registro_fotografico[@(item.Index)].model_anexo_identificador.list_model_anexo[0].ane_nome_original" id="model_desapropriacao_individual_registro_fotografico_model_anexo_identificador_list_model_anexo_ane_nome_original_@(item.Index)"/>';
        
                gvRow += "</td></tr>";

                tbody.append(gvRow);
            </text>
        }
        
    }

    function AdicionarRegistroFotografico() {
        if (Date.parse($("#irf_data").val()) < Date.parse('01/01/1900')) {
            Mensagens.Modal("Atenção", "Data inválida. Preencha com uma data superior à 01/01/1900", BootstrapDialog.TYPE_WARNING);
            $("#irf_data").focus();
            return;
        }

        $("#divGridRegistroFotografico").css({ "display": "inline" });

        var index = $("#table_registro_fotografico > tbody > tr").length;

        var file = $("#irf_file_upload_rf").prop("files")[0];

        var fileExt = (/[.]/.exec(file.name)) ? /[^.]+$/.exec(file.name)[0] : undefined;

        // Falta adicionar essas informações
        // model_anexo_identificador
        // list_anexo
        var model_desapropriacao_registro_fotografico_irf_anexo = Guid.Generate() + "." + fileExt;
        var model_desapropriacao_registro_fotografico_irf_anexo_nome = file.name;
        var model_desapropriacao_registro_fotografico_irf_anexo_mime_type = file.type;
        var model_desapropriacao_registro_fotografico_irf_anexo_ordem = 1;

        var model_desapropriacao_registro_fotografico_irf_data = $("#irf_data").val();
        var model_desapropriacao_registro_fotografico_irf_descricao = $("#irf_descricao").val();
        var model_desapropriacao_registro_fotografico_irf_acao = 1;

        //var model_desapropriacao_registro_fotografico_irf_cadastro_usuario = $("#userNameCreateRegistroFotografico").val();
        var model_desapropriacao_registro_fotografico_irf_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();
        var model_desapropriacao_registro_fotografico_userCreate = $("#userCreate").val();
        var model_desapropriacao_registro_fotografico_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var tbody = $("#table_registro_fotografico").find("tbody");

        var gvRow = '';

        gvRow += "<tr id=\"tr_table_registro_fotografico_" + index + "\">";
        gvRow += "<td>" + model_desapropriacao_registro_fotografico_irf_data + "</td>";
        gvRow += "<td>" + model_desapropriacao_registro_fotografico_irf_descricao + "</td>";
        gvRow += "<td>" + model_desapropriacao_registro_fotografico_irf_anexo_nome + "</td>";
        gvRow += "<td><button type=\"button\" class=\"fa fa-trash btn btn-danger btn-sm\" alt=\"Excluir\" title=\"Excluir\" onclick=\"DeletarRegistro('Registro_Fotografico', 'irf', " + index + ")\"></button>";

        gvRow += '<input type="hidden" value="' + model_desapropriacao_registro_fotografico_irf_anexo + '" name="list_model_desapropriacao_individual_registro_fotografico[' + index + '].irf_anexo" id="model_desapropriacao_registro_fotografico_irf_anexo_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_registro_fotografico_irf_anexo_nome + '" name="list_model_desapropriacao_individual_registro_fotografico[' + index + '].irf_anexo_nome" id="model_desapropriacao_registro_fotografico_irf_anexo_nome_' + index + '"/>';

        gvRow += '<input type="hidden" value="' + model_desapropriacao_registro_fotografico_irf_anexo_nome + '" name="list_model_desapropriacao_individual_registro_fotografico[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_nome_original" id="model_desapropriacao_individual_irf_anexos_ane_nome_original_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_registro_fotografico_irf_anexo + '" name="list_model_desapropriacao_individual_registro_fotografico[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_nome" id="model_desapropriacao_individual_irf_anexos_ane_nome_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_registro_fotografico_irf_anexo_mime_type + '" name="list_model_desapropriacao_individual_registro_fotografico[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_mime_type" id="model_desapropriacao_individual_irf_anexos_ane_mime_type_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_registro_fotografico_irf_anexo_ordem + '" name="list_model_desapropriacao_individual_registro_fotografico[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_ordem" id="model_desapropriacao_individual_irf_anexos_ane_ordem_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_registro_fotografico_dtCreate + '" name="list_model_desapropriacao_individual_registro_fotografico[' + index + '].model_anexo_identificador.list_model_anexo[0].dtCreate" id="model_desapropriacao_individual_irf_anexos_dtCreate_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_registro_fotografico_userCreate + '" name="list_model_desapropriacao_individual_registro_fotografico[' + index + '].model_anexo_identificador.list_model_anexo[0].userCreate" id="model_desapropriacao_individual_irf_anexos_userCreate_' + index + '"/>';
        
        gvRow += '<input type="hidden" value="' + model_desapropriacao_registro_fotografico_irf_data + '" name="list_model_desapropriacao_individual_registro_fotografico[' + index + '].irf_data" id="model_desapropriaca_individual_registro_fotografico_irf_data_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_registro_fotografico_irf_descricao + '" name="list_model_desapropriacao_individual_registro_fotografico[' + index + '].irf_descricao" id="model_desapropriacao_individual_registro_fotografico_irf_descricao_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_registro_fotografico_irf_acao + '" name="list_model_desapropriacao_individual_registro_fotografico[' + index + '].irf_acao" id="model_desapropriacao_individual_registro_fotografico_irf_acao_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_registro_fotografico_irf_cadastro_dt + '" name="list_model_desapropriacao_individual_registro_fotografico[' + index + '].irf_cadastro_dt" id="model_desapropriacao_individual_registro_fotografico_irf_cadastro_dt_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_registro_fotografico_userCreate + '" name="list_model_desapropriacao_individual_registro_fotografico[' + index + '].userCreate" id="model_desapropriacao_individual_registro_fotografico_userCreate_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_registro_fotografico_dtCreate + '" name="list_model_desapropriacao_individual_registro_fotografico[' + index + '].dtCreate" id="model_desapropriacao_individual_registro_fotografico_dtCreate_' + index + '"/>';

        gvRow += '<span id="fileRegistroFotografico_' + index + '" style="display: none"></span>';
        gvRow += '</td></tr>';

        tbody.append(gvRow);

        if ($("#browser").val() == "InternetExplorer") {
            var input = $("#uploadRegistroFotografico input[type='file']").first();
            input.attr("id", "model_desapropriacao_individual_registro_fotografico_irf_file_upload_" + index).attr("name", "list_model_desapropriacao_individual_registro_fotografico[" + index + "].model_anexo_identificador.list_model_anexo[0].ane_arquivo");
            input.parents("div.upload").first().detach();
            $("#fileRegistroFotografico_" + index).append(input);

            input = $("#uploadRegistroFotografico input[type='file']").first();
            input.attr("id", "irf_file_upload");
            var parent = input.parents("div.upload");
            parent.find("label").attr("for", "irf_file_upload");
            parent.show();
        }
        else {
            var clone = $("#irf_file_upload_rf").clone();
            clone.attr('id', 'model_desapropriacao_individual_registro_fotografico_irf_file_upload_' + index).attr('name', 'list_model_desapropriacao_individual_registro_fotografico[' + index + '].model_anexo_identificador.list_model_anexo[0].ane_arquivo');
            $('#fileRegistroFotografico_' + index).append(clone);
        }

        LimparCampos("divRegistrosFotograficos");
    }

    function ValidacaoRegistroFotografico() {
        $("#btnAdicionarRegistroFotografico").click(function (e) {

            var msg = "";
            var isValid = true;

            if ($("#irf_data").val().length <= 0) {
                msg += "- digite uma data.<br/>";
                isValid = false;
            }

            if ($("#irf_descricao").val().length <= 0) {
                msg += "- digite uma descrição.<br/>";
                isValid = false;
            }

            if (jQuery("#irf_file_upload_rf").val().length <= 0) {
                msg += "- escolha o anexo.<br/>";
                isValid = false;
            }

            if (!isValid) {
                Mensagens.Modal("Atenção", msg, BootstrapDialog.TYPE_WARNING);
                e.preventDefault();
            } else {
                AdicionarRegistroFotografico();
            }

            return isValid;
        });
    };

    function Download(url) {
        window.open(url);
    }

    jQuery(document).ready(function () {
        LoadRegistroFotograficoTable();
        ValidacaoRegistroFotografico();
    });

</script>
