﻿@using Entity.GERENCIADORPORTAL
@using WebAppMvc.Areas.Desapropriacao.Models
@model model_desapropriacao_individual_revisao
@{
    var revisaoItems = (List<model_desapropriacao_individual_revisao>)ViewBag.ListModelRevisao;
}
<div id="divRevisao" class="box-body">
    <input id="userRevisor"  type="hidden" value="@(((tab_usuario)Session["objUsuario"]).usu_nome_login)" />
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.ire_descricao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ire_descricao)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextAreaFor(model => model.ire_descricao, htmlAttributes: new { style = "height: 110px;", @class = "form-control", maxlength = "500", placeholder = "Descrição da Revisão" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" id="btnAdicionarRevisao">
                <i class="fa fa-plus-square"></i> Adicionar</button>
        </div>
    </div>
    <div id="divGridRevisao" class="form-group" style="display: none">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_revisao">
                    <thead>
                        <tr>
                            <th>
                                Descrição
                            </th>
                            <th>
                                Revisor
                            </th>
                            <th>
                                Cadastro
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in revisaoItems.Select((r, i) => new { Row = r, Index = i }))
                        {
                            <tr id="tr_table_revisao_@item.Index">
                                <td>@item.Row.ire_descricao</td>
                                <td>@item.Row.ire_revisor</td>
                                <td>@item.Row.ire_cadastro_dt</td>
                                <td><button class="fa fa-trash btn btn-danger btn-sm" type="button" alt="Excluir" title="Excluir" id="btnExcluirRevisao_@item.Index" onclick="DeletarRegistro('Revisao', 'ire', @item.Index)"></button></td>
                                
                                <input type="hidden" value="@(item.Row.ire_id)" name="list_model_desapropriacao_individual_revisao[@(item.Index)].ire_id" id="model_desapropriacao_individual_revisao_ire_id_@(item.Index)"/>
                                <input type="hidden" value="@(item.Row.ire_acao)" name="list_model_desapropriacao_individual_revisao[@(item.Index)].ire_acao" id="model_desapropriacao_individual_revisao_ire_acao_@(item.Index)"/>
                                <input type="hidden" value="@(item.Row.ire_descricao)" name="list_model_desapropriacao_individual_revisao[@(item.Index)].ire_descricao" id="model_desapropriacao_individual_revisao_ire_descricao_@(item.Index)"/>
                                <input type="hidden" value="@(item.Row.ire_revisor)" name="list_model_desapropriacao_individual_revisao[@(item.Index)].ire_revisor" id="model_desapropriacao_individual_revisao_ire_revisor_@(item.Index)"/>
                                <input type="hidden" value="@(item.Row.ire_cadastro_dt)" name="list_model_desapropriacao_individual_revisao[@(item.Index)].ire_cadastro_dt" id="model_desapropriacao_individual_revisao_ire_cadastro_dt_@(item.Index)"/>

                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    
    function LoadRevisaoTable() {
        @if (revisaoItems.Count > 0)
        {
            <text>
                $("#divGridRevisao").css({ "display": "inline" });
            </text>
        }
    }

    function AdicionarRevisao() {

        $("#divGridRevisao").css({ "display": "inline" });

        var index = $("#table_revisao > tbody > tr").length;

        var model_desapropriacao_individual_revisao_ire_descricao = $("#ire_descricao").val();
        var model_desapropriacao_individual_revisao_ire_revisor = $("#userRevisor").val();

        var model_desapropriacao_individual_revisao_ire_acao = 1;

        var model_desapropriacao_individual_revisao_ire_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();


        var tbody = $("#table_revisao").find("tbody");

        var gvRow = '';

        gvRow += "<tr id=\"tr_table_revisao_" + index + "\">";
        gvRow += "<td>" + model_desapropriacao_individual_revisao_ire_descricao + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_revisao_ire_revisor + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_revisao_ire_cadastro_dt + "</td>";
        gvRow += "<td><button class=\"fa fa-trash btn btn-danger btn-sm\" type=\"button\" alt=\"Excluir\" title=\"Excluir\" id=\"btnExcluirRevisao\" onclick=\"DeletarRegistro('Revisao', 'ire', " + index + ")\"></button></td>";

        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_revisao_ire_acao + '" name="list_model_desapropriacao_individual_revisao[' + index + '].ire_acao" id="model_desapropriacao_individual_revisao_ire_acao_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_revisao_ire_descricao + '" name="list_model_desapropriacao_individual_revisao[' + index + '].ire_descricao" id="model_desapropriacao_individual_revisao_ire_descricao_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_revisao_ire_revisor + '" name="list_model_desapropriacao_individual_revisao[' + index + '].ire_revisor" id="model_desapropriacao_individual_revisao_ire_revisor_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_revisao_ire_cadastro_dt + '" name="list_model_desapropriacao_individual_revisao[' + index + '].ire_cadastro_dt" id="model_desapropriacao_individual_revisao_ire_cadastro_dt_' + index + '"/>';

        gvRow += '</tr>';

        tbody.append(gvRow);

        $("#ire_descricao").val('');
    }
    
    function ValidacaoRevisao() {

        $("#btnAdicionarRevisao").click(function (e) {

            var msg = "";
            var isValid = true;

            if (jQuery("#ire_descricao").val().length <= 0) { msg += "- digite a descrição.<br/>"; isValid = false; }


            if (!isValid) {
                Mensagens.Modal("Atenção", msg, BootstrapDialog.TYPE_WARNING);
                e.preventDefault();
            } else {
                AdicionarRevisao();
            }

            return isValid;
        });
    };

    jQuery(document).ready(function () {
        ValidacaoRevisao();
        LoadRevisaoTable();
    });

</script>
