﻿@using Entity.GERENCIADORPORTAL
@using WebAppMvc.Areas.Desapropriacao.Models
@model model_desapropriacao_individual_status_evento
@{
    var listaStatusEvento = (List<model_desapropriacao_individual_status_evento>)ViewBag.ListModelStatusEvento;
}
<input id="userStatusEvento" type="hidden" value="@(((tab_usuario)Session["objUsuario"]).usu_nome_login)"/>
<div class="box-body">
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.set_id)" class="col-xs-12 col-sm-5 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.set_id)</label>
        <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
            @Html.DropDownListFor(model => model.set_id, (IEnumerable<SelectListItem>)ViewBag.CarregarStatusEventoTipo, "--selecione--", htmlAttributes: new { @class = "form-control", disabled = "true" })
            <span></span>
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.ise_data)" class="col-xs-12 col-sm-5 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ise_data)</label>
        <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
            @Html.TextBoxFor(model => model.ise_data, htmlAttributes: new { @class = "form-control", maxlength = "10", @data_date_mask = "true", placeholder = "Data", disabled = "true" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.ise_valor)" class="col-xs-12 col-sm-5 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ise_valor)</label>
        <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
            @Html.TextBoxFor(model => model.ise_valor, htmlAttributes: new { @class = "form-control", @data_money_mask = "true", maxlength = "14", placeholder = "R$", disabled = "true" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" disabled="disabled" id="btnAdicionarStatusEvento">
                <i class="fa fa-plus-square"></i> Adicionar</button>
        </div>
    </div>
    <div id="divGridStatusEvento" class="form-group" style="display: none">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_status_evento">
                    <thead>
                        <tr>
                            <th>
                                Status Evento Tipo
                            </th>
                            <th>
                                Data
                            </th>
                            <th>
                                Valor
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function LoadCurrentStatusEvento() {

        @foreach (var item in listaStatusEvento.Select((r, i) => new { Row = r, Index = i }))
        {
          <text>
            $("#divGridStatusEvento").css({ "display": "inline" });

            var index = @(item.Index);

            var model_desapropriacao_individual_status_evento_set_id = '@(item.Row.set_id)';
            var model_desapropriacao_individual_status_evento_set_nome = $("#set_id option[value='"+ model_desapropriacao_individual_status_evento_set_id +"']").text();

            var model_desapropriacao_individual_status_evento_ise_id = '@(item.Row.ise_id)';
            var model_desapropriacao_individual_status_evento_ise_valor = '@(item.Row.ise_valor)';
            var model_desapropriacao_individual_status_evento_ise_data = moment('@(item.Row.ise_data)', 'DD/MM/YYYY HH:mm:SS').format('DD/MM/YYYY HH:mm:SS');

            var model_desapropriacao_individual_status_evento_ise_acao = '@(item.Row.ise_acao)';
            var model_desapropriacao_individual_status_evento_userCreate = '@(item.Row.userCreate)';
            var model_desapropriacao_individual_status_evento_dtCreate = moment('@(item.Row.dtCreate)', 'DD/MM/YYYY HH:mm:SS').format('DD/MM/YYYY HH:mm:SS'); //$.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();
            var model_desapropriacao_individual_status_evento_ise_cadastro_dt =  moment('@(item.Row.ise_cadastro_dt)', 'DD/MM/YYYY HH:mm:SS').format('DD/MM/YYYY HH:mm:SS'); // $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();
            
            var tbody = $("#table_status_evento").find("tbody");

            var gvRow = '';

            gvRow += "<tr id=\"tr_table_status_evento_" + index + "\">";
            gvRow += "<td>" + model_desapropriacao_individual_status_evento_set_nome + "</td>";
            gvRow += "<td>" + model_desapropriacao_individual_status_evento_ise_data + "</td>";
            gvRow += "<td>" + model_desapropriacao_individual_status_evento_ise_valor + "</td>";
            gvRow += "<td><button class=\"fa fa-trash btn btn-danger btn-sm\" type=\"button\" alt=\"Exluir\" title=\"Excluir\" disabled=\"disabled\" onclick=\"DeletarRegistro('Status_Evento', 'ise', " + index + ")\"></button></td>";

            gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_status_evento_set_id + '" name="list_model_desapropriacao_individual_status_evento[' + index + '].set_id" id="model_desapropriacao_individual_status_evento_set_id_' + index + '"/>';
            gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_status_evento_ise_id + '" name="list_model_desapropriacao_individual_status_evento[' + index + '].ise_id" id="model_desapropriacao_individual_status_evento_ise_id_' + index + '"/>';
            gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_status_evento_ise_data + '" name="list_model_desapropriacao_individual_status_evento[' + index + '].ise_data" id="model_desapropriacao_individual_status_evento_ise_data_' + index + '"/>';
            gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_status_evento_ise_valor + '" name="list_model_desapropriacao_individual_status_evento[' + index + '].ise_valor" id="model_desapropriacao_individual_status_evento_ise_valor_' + index + '"/>';
            gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_status_evento_ise_acao + '" name="list_model_desapropriacao_individual_status_evento[' + index + '].ise_acao" id="model_desapropriacao_individual_status_evento_ise_acao_' + index + '"/>';

            gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_status_evento_userCreate + '" name="list_model_desapropriacao_individual_status_evento[' + index + '].userCreate" id="model_desapropriacao_individual_status_evento_userCreate_' + index + '"/>';
            gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_status_evento_dtCreate + '" name="list_model_desapropriacao_individual_status_evento[' + index + '].dtCreate" id="model_desapropriacao_individual_status_evento_dtCreate_' + index + '"/>';
            gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_status_evento_ise_cadastro_dt + '" name="list_model_desapropriacao_individual_status_evento[' + index + '].ise_cadastro_dt" id="model_desapropriacao_individual_status_evento_ise_cadastro_dt_' + index + '"/>';


            gvRow += '</tr>';

            tbody.append(gvRow);
          
          </text>  
        }
        //return $("#" + selectId + " option[value='" + selectValue + "']").text(); 
    }

    function AdicionarStatusEvento() {
       
        $("#divGridStatusEvento").css({ "display": "inline" });

        var index = $("#table_status_evento > tbody > tr").length;

        var model_desapropriacao_individual_status_evento_set_id = $("#set_id option:selected").val();
        var model_desapropriacao_individual_status_evento_set_nome = $("#set_id option:selected").text();

        var model_desapropriacao_individual_status_evento_ise_valor = $("#ise_valor").val();
        var model_desapropriacao_individual_status_evento_ise_data = $("#ise_data").val();

        var model_desapropriacao_individual_status_evento_ise_acao = 1;
        var model_desapropriacao_individual_status_evento_userCreate = $("#userStatusEvento").val();
        var model_desapropriacao_individual_status_evento_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();
        var model_desapropriacao_individual_status_evento_ise_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();


        var tbody = $("#table_status_evento").find("tbody");

        var gvRow = '';

        gvRow += "<tr id=\"tr_table_status_evento_" + index + "\">";
        gvRow += "<td>" + model_desapropriacao_individual_status_evento_set_nome + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_status_evento_ise_data + "</td>";
        gvRow += "<td>" + model_desapropriacao_individual_status_evento_ise_valor + "</td>";
        gvRow += "<td><button class=\"fa fa-trash btn btn-danger btn-sm\" type=\"button\" alt=\"Exluir\" title=\"Excluir\" onclick=\"DeletarRegistro('Status_Evento', 'ise', " + index + ")\"></button></td>";

        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_status_evento_set_id + '" name="list_model_desapropriacao_individual_status_evento[' + index + '].set_id" id="model_desapropriacao_individual_status_evento_set_id_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_status_evento_ise_data + '" name="list_model_desapropriacao_individual_status_evento[' + index + '].ise_data" id="model_desapropriacao_individual_status_evento_ise_data_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_status_evento_ise_valor + '" name="list_model_desapropriacao_individual_status_evento[' + index + '].ise_valor" id="model_desapropriacao_individual_status_evento_ise_valor_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_status_evento_ise_acao + '" name="list_model_desapropriacao_individual_status_evento[' + index + '].ise_acao" id="model_desapropriacao_individual_status_evento_ise_acao_' + index + '"/>';

        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_status_evento_userCreate + '" name="list_model_desapropriacao_individual_status_evento[' + index + '].userCreate" id="model_desapropriacao_individual_status_evento_userCreate_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_status_evento_dtCreate + '" name="list_model_desapropriacao_individual_status_evento[' + index + '].dtCreate" id="model_desapropriacao_individual_status_evento_dtCreate_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_individual_status_evento_ise_cadastro_dt + '" name="list_model_desapropriacao_individual_status_evento[' + index + '].ise_cadastro_dt" id="model_desapropriacao_individual_status_evento_ise_cadastro_dt_' + index + '"/>';


        gvRow += '</tr>';

        tbody.append(gvRow);

        $("#set_id").val("");
        $('#set_id').trigger("chosen:updated");
        $("#ise_valor").val("");
        $("#ise_data").val("");
    }


    function ValidacaoStatusEvento() {

        $("#btnAdicionarStatusEvento").click(function (e) {

            var msg = "";
            var isValid = true;

            if (jQuery("#ise_data").val().length <= 0) {
                msg += "- digite a data.<br/>";
                isValid = false;
            }

            if (!$("#set_id option:selected").val().length) {
                msg += "- selecione o tipo de evento.<br/>";
                isValid = false;
            }

            if (!isValid) {
                Mensagens.Modal("Atenção", msg, BootstrapDialog.TYPE_WARNING);
                e.preventDefault();
            } else {
                AdicionarStatusEvento();
            }

            return isValid;
        });
    };


    function Init () {
        LoadCurrentStatusEvento();
        ValidacaoStatusEvento();

        $("#set_id").val("");
        $('#set_id').trigger("chosen:updated");
        $("#ise_valor").val("");
        $("#ise_data").val("");
    }

    jQuery(document).ready(function () {
        Init();
    });
</script>
