﻿@using Entity.GERENCIADORPORTAL
@using WebAppMvc.Areas.Desapropriacao.Models

@model model_desapropriacao_emitente

@{
    var listEmitentes = ((List<model_desapropriacao_emitente>)ViewBag.ListModelEmitente);
}

<input id="userCreateEmitente" type="hidden" value="@(((tab_usuario) Session["objUsuario"]).usu_nome_login)" />

<div class="box-body">
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.emp_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.emp_id)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.DropDownListFor(model => model.emp_id, (IEnumerable<SelectListItem>)ViewBag.CarregarEmitentes, "--selecione--", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" id="btnAdicionarEmitente"><i class="fa fa-plus-square"></i>  Adicionar</button>
        </div>
    </div>

    <div id="divGridEmitente" class="form-group" style="display: inline">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_emitente">
                    <thead>
                        <tr>
                            <th>Emitente</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var emitente in listEmitentes.Select((r, i) => new { Row = r, Index = i }))
                        {
                            <tr id="tr_table_emitente_@(emitente.Index)">
                                <td>@(emitente.Row.emp_nome)</td>
                                <td>
                                    <span class="fa fa-trash" alt="Excluir" title="Excluir" style="cursor:pointer" id="btnExcluirEmitente" onclick="DeleteEmitente(@(emitente.Index))"></span>

                                    <input type="hidden" value="@(emitente.Row.emp_id)" name="list_model_desapropriacao_emitente[@(emitente.Index)].emp_id" id="model_desapropriacao_emitente_emp_id_@(emitente.Index)" />
                                    <input type="hidden" value="@(emitente.Row.dee_id)" name="list_model_desapropriacao_emitente[@(emitente.Index)].dee_id" id="model_desapropriacao_emitente_dee_id_@(emitente.Index)" />
                                    <input type="hidden" value="@(emitente.Row.dee_acao)" name="list_model_desapropriacao_emitente[@(emitente.Index)].dee_acao" id="model_desapropriacao_emitente_dee_acao_@(emitente.Index)" />
                                    <input type="hidden" value="@(emitente.Row.dee_cadastro_dt)" name="list_model_desapropriacao_emitente[@(emitente.Index)].dee_cadastro_dt" id="model_desapropriacao_emitente_dee_cadastro_dt_@(emitente.Index)" />
                                    <input type="hidden" value="@(emitente.Row.userCreate)" name="list_model_desapropriacao_emitente[@(emitente.Index)].userCreate" id="model_desapropriacao_emitente_userCreate_@(emitente.Index)" />
                                    <input type="hidden" value="@(emitente.Row.dtCreate)" name="list_model_desapropriacao_emitente[@(emitente.Index)].dtCreate" id="model_desapropriacao_emitente_dtCreate_@(emitente.Index)" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function ajaxError(xhr) {

        var err = eval("(" + xhr.responseText + ")");
        //alert(err.Message);
        Mensagens.Modal("Erro", err.Message, BootstrapDialog.TYPE_DANGER);
    }



    function AdicionarEmitente() {

        $("#divGridEmitente").css({ "display": "inline" });

        var index = $("#table_emitente > tbody > tr").length;

        var model_desapropriacao_emitente_emp_id = $("#emp_id option:selected").val();
        var model_desapropriacao_emitente_emp_nome = $("#emp_id option:selected").text();

        var model_desapropriacao_emitente_dee_acao = 1;
        var model_desapropriacao_emitente_dee_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var model_desapropriacao_emitente_userCreate = $("#userCreateEmitente").val();
        var model_desapropriacao_emitente_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var tbodyEmitente = $("#table_emitente").find("tbody");

        var gvRowEmitente = '';

        gvRowEmitente += "<tr id=\"tr_table_emitente_" + index + "\">";
        gvRowEmitente += "<td>" + model_desapropriacao_emitente_emp_nome + "</td>";
        gvRowEmitente += "<td><span class=\"fa fa-trash\" alt=\"Exluir\" title=\"Excluir\" style=\"cursor:pointer\" id=\"btnExcluirEmitente\" onclick=\"DeleteEmitente(" + index + ")\"></span>";

        gvRowEmitente += '<input type="hidden" value="' + model_desapropriacao_emitente_emp_id + '" name="list_model_desapropriacao_emitente[' + index + '].emp_id" id="model_desapropriacao_emitente_emp_id_' + index + '"/>';
        gvRowEmitente += '<input type="hidden" value="' + model_desapropriacao_emitente_dee_acao + '" name="list_model_desapropriacao_emitente[' + index + '].dee_acao" id="model_desapropriacao_emitente_dee_acao_' + index + '"/>';
        gvRowEmitente += '<input type="hidden" value="' + model_desapropriacao_emitente_dee_cadastro_dt + '" name="list_model_desapropriacao_emitente[' + index + '].dee_cadastro_dt" id="model_desapropriacao_emitente_dee_cadastro_dt_' + index + '"/>';
        gvRowEmitente += '<input type="hidden" value="' + model_desapropriacao_emitente_userCreate + '" name="list_model_desapropriacao_emitente[' + index + '].userCreate" id="model_desapropriacao_emitente_userCreate_' + index + '"/>';
        gvRowEmitente += '<input type="hidden" value="' + model_desapropriacao_emitente_dtCreate + '" name="list_model_desapropriacao_emitente[' + index + '].dtCreate" id="model_desapropriacao_emitente_dtCreate_' + index + '"/>';

        gvRowEmitente += '</td></tr>';

        tbodyEmitente.append(gvRowEmitente);


        $("#emp_id").val("");
        $('#emp_id').trigger("chosen:updated");

    }

    function ValidacaoEmitente() {

        $("#btnAdicionarEmitente").click(function (e) {

            if (validaFormularioDiv('tabEmitente')) {
                AdicionarEmitente();
            }
        });
    };

    function DeleteEmitente(index) {
        BootstrapDialog.show({
            title: "<b>Confirma&ccedil;&atilde;o</b>",
            message: 'Deseja realmente excluir este emitente?',
            type: BootstrapDialog.TYPE_PRIMARY,
            buttons: [
                    {
                        label: "N&atilde;o",
                        cssClass: "btn btn-default active",
                        action: function (dialog) {
                            dialog.close();
                        }
                    },
                    {
                        label: "Sim",
                        cssClass: "btn btn-default active",
                        action: function (dialog) {
                            dialog.close();

                            $("#model_desapropriacao_emitente_dee_acao_" + index).val('3');

                            if ($("#model_desapropriacao_emitente_emp_id_" + index).val() !== "0") {

                                $("#tr_table_emitente_" + index + " td:nth-child(2)").append('<input type="hidden" value="' + $("#userCreateEmitente").val() + '" name="list_model_desapropriacao_emitente[' + index + '].userDelete" id="model_desapropriacao_emitente_userDelete_' + index + '"/>');
                                $("#tr_table_emitente_" + index + " td:nth-child(2)").append('<input type="hidden" value="' + $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes() + '" name="list_model_desapropriacao_emitente[' + index + '].dtDelete" id="model_desapropriacao_emitente_dtDelete_' + index + '"/>');
                            }

                            $("#tr_table_emitente_" + index + "").css({ "display": "none" });

                            if ($("#table_emitente > tbody > tr:visible").length === 0) {

                                $("#divGridEmitente").css({ "display": "none" });
                            }
                        }
                    }
            ]
        });
    }

    $(document).ready(function () {

        //CarregarEmitenteEstado();
        ValidacaoEmitente();
    });

</script>
