﻿@using Entity.GERENCIADORPORTAL
@model WebAppMvc.Areas.Desapropriacao.Models.model_desapropriacao_empreendimento

@{
    var listaEmpreedimento = ((List<WebAppMvc.Areas.Desapropriacao.Models.model_desapropriacao_empreendimento>)ViewBag.ListModelEmpreendimento);
}

<input id="userEmpreendimento" type="hidden" value="@(((tab_usuario)Session["objUsuario"]).usu_nome_login)" />

<div class="box-body">
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dem_auto_decreto)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_auto_decreto)</label>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            @Html.TextBoxFor(model => model.dem_auto_decreto, htmlAttributes: new { @class = "form-control", maxlength = "30", @data_autosdodecreto_mask = "true", placeholder = "Nº Auto de Decreto" })
        </div>
    </div>

    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dem_lote)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_lote)</label>
        <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">
            @Html.TextBoxFor(model => model.dem_lote, htmlAttributes: new { @class = "form-control", maxlength = "2", @data_only_number = "true", placeholder = "Nº Lote" })
        </div>
    </div>

    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dem_rodovia_sp)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_rodovia_sp)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.dem_rodovia_sp, htmlAttributes: new { @class = "form-control", maxlength = "10", placeholder = "SP" })
        </div>
        <label for="km" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">km</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.dem_rodovia_km_inicial, htmlAttributes: new { @class = "form-control numeric", maxlength = "10", placeholder = "km Inicial" })
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.dem_rodovia_km_final, htmlAttributes: new { @class = "form-control numeric", maxlength = "10", placeholder = "km Final" })
        </div>
    </div>

    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dem_rodovia_nome)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_rodovia_nome)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextBoxFor(model => model.dem_rodovia_nome, htmlAttributes: new { @class = "form-control", maxlength = "300", placeholder = "Nome da Rodovia" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dem_rodovia_trecho)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_rodovia_trecho)</label>
        <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">
            @Html.TextBoxFor(model => model.dem_rodovia_trecho, htmlAttributes: new { @class = "form-control", maxlength = "300", placeholder = "Trecho" })
        </div>
    </div>

    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dem_dup_codigo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_dup_codigo)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.dem_dup_codigo, htmlAttributes: new { @class = "form-control", maxlength = "20", placeholder = "Código DUP" })
        </div>
        <label for="@Html.DisplayNameFor(model => model.dem_dup_dt)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_dup_dt)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.dem_dup_dt, htmlAttributes: new { @Value = "", @class = "form-control", @data_date_mask = "true", placeholder = "Data" })
        </div>
    </div>

    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dem_nota_reserva)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_nota_reserva)</label>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            @Html.TextBoxFor(model => model.dem_nota_reserva, htmlAttributes: new { @class = "form-control", maxlength = "20", placeholder = "Nota de Reserva" })
        </div>
    </div>

    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dem_file_upload)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.dem_file_upload)</label>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            <input id="dem_file_upload" type="file" class="filestyle" data-buttonText="Selecione..." data-placeholder="Sem Arquivo" data-buttonBefore="false" data-buttonName="btn-primary" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" id="btnAdicionarEmpreendimento"><i class="fa fa-plus-square"></i>  Adicionar</button>
        </div>
    </div>

    <div id="divGridEmpreendimento" class="form-group" style="display: none">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_empreendimento">
                    <thead>
                        <tr>
                            <th>SP</th>
                            <th>km</th>
                            <th>Nº Autos do Decreto</th>
                            <th>Lote</th>
                            <th>Código Dup</th>
                            <th>Dt. Dup</th>
                            <th>Nota de Reserva</th>
                            <th>Anexo</th>
                            <th>Dt. Cadastro</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in listaEmpreedimento.Select((r, i) => new { Row = r, Index = i }))
                        {
                            <tr id="tr_table_empreendimento_@(item.Index)">
                                <td>@(item.Row.dem_rodovia_sp)</td>
                                <td>@(item.Row.dem_rodovia_km_inicial + " / " + item.Row.dem_rodovia_km_final)</td>
                                <td>@(item.Row.dem_auto_decreto)</td>
                                <td>@(item.Row.dem_lote)</td>
                                <td>@(item.Row.dem_dup_codigo)</td>
                                <td>@(item.Row.dem_dup_dt.ToString("d"))</td>
                                <td>@(item.Row.dem_nota_reserva)</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Row.dem_anexo))
                                    {<a title="Download - @item.Row.dem_anexo_nome" onclick="window.open('@item.Row.dem_anexo_pasta.Replace(@"\", "/").Trim()@item.Row.dem_anexo.Trim()')" style="margin-right: 10px" target="_blank"><i class="fa fa-download"></i></a>}
                                </td>
                                <td>@(item.Row.dem_cadastro_dt.ToString("g"))</td>
                                <td>
                                    <span  class="fa fa-file" alt="Gerar Relatório" title="Gerar Relatório" style="margin:0 2px 0 2px; cursor:pointer;" onclick="GerarRelatorio('@item.Row.dem_auto_decreto', @item.Row.dem_lote);"></span>
                                    <a href="#modalEmpreendimento" data-toggle="modal" data-index="@item.Index"><span class="fa fa-edit" alt="Editar" title="Editar" style="cursor:pointer; color:black"></span></a>
                                    @*<span class="fa fa-trash" alt="Exluir" title="Excluir" style="cursor:pointer" id="btnExcluirEmpreendimento" onclick="DeleteEmpreendimento(@(item.Index));"></span>*@

                                    <input type="hidden" value="@(item.Row.des_id)" name="list_model_desapropriacao_empreendimento[@(item.Index)].des_id" id="model_desapropriacao_empreendimento_des_id_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dem_id)" name="list_model_desapropriacao_empreendimento[@(item.Index)].dem_id" id="model_desapropriacao_empreendimento_dem_id_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dem_auto_decreto)" name="list_model_desapropriacao_empreendimento[@(item.Index)].dem_auto_decreto" id="model_desapropriacao_empreendimento_dem_auto_decreto_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dem_lote)" name="list_model_desapropriacao_empreendimento[@(item.Index)].dem_lote" id="model_desapropriacao_empreendimento_dem_lote_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dem_rodovia_sp)" name="list_model_desapropriacao_empreendimento[@(item.Index)].dem_rodovia_sp" id="model_desapropriacao_empreendimento_dem_rodovia_sp_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dem_rodovia_nome)" name="list_model_desapropriacao_empreendimento[@(item.Index)].dem_rodovia_nome" id="model_desapropriacao_empreendimento_dem_rodovia_nome_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dem_rodovia_km_inicial)" name="list_model_desapropriacao_empreendimento[@(item.Index)].dem_rodovia_km_inicial" id="model_desapropriacao_empreendimento_dem_rodovia_km_inicial_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dem_rodovia_km_final)" name="list_model_desapropriacao_empreendimento[@(item.Index)].dem_rodovia_km_final" id="model_desapropriacao_empreendimento_dem_rodovia_km_final_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dem_rodovia_trecho)" name="list_model_desapropriacao_empreendimento[@(item.Index)].dem_rodovia_trecho" id="model_desapropriacao_empreendimento_dem_rodovia_trecho_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dem_dup_codigo)" name="list_model_desapropriacao_empreendimento[@(item.Index)].dem_dup_codigo" id="model_desapropriacao_empreendimento_dem_dup_codigo_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dem_dup_dt)" name="list_model_desapropriacao_empreendimento[@(item.Index)].dem_dup_dt" id="model_desapropriacao_empreendimento_dem_dup_dt_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dem_nota_reserva)" name="list_model_desapropriacao_empreendimento[@(item.Index)].dem_nota_reserva" id="model_desapropriacao_empreendimento_dem_nota_reserva_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dem_acao)" name="list_model_desapropriacao_empreendimento[@(item.Index)].dem_acao" id="model_desapropriacao_empreendimento_dem_acao_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dem_cadastro_dt)" name="list_model_desapropriacao_empreendimento[@(item.Index)].dem_cadastro_dt" id="model_desapropriacao_empreendimento_dem_cadastro_dt_@(item.Index)" />
                                    
                                    <input type="hidden" value="@(item.Row.dem_anexo)" name="list_model_desapropriacao_empreendimento[@(item.Index)].dem_anexo" id="model_desapropriacao_empreendimento_dem_anexo_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dem_anexo_nome)" name="list_model_desapropriacao_empreendimento[@(item.Index)].dem_anexo_nome" id="model_desapropriacao_empreendimento_dem_anexo_nome_@(item.Index)" />
                                    <input type="hidden" value="\Upload\Anexo\" name="list_model_desapropriacao_empreendimento[@(item.Index)].dem_anexo_pasta" id="model_desapropriacao_empreendimento_dem_anexo_pasta_@(item.Index)" />

                                    <input type="hidden" value="@(item.Row.userCreate)" name="list_model_desapropriacao_empreendimento[@(item.Index)].userCreate" id="model_desapropriacao_empreendimento_userCreate_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dtCreate)" name="list_model_desapropriacao_empreendimento[@(item.Index)].dtCreate" id="model_desapropriacao_empreendimento_dtCreate_@(item.Index)" />
                                    <input type="hidden" value="@(((tab_usuario)Session["objUsuario"]).usu_nome_login)" name="list_model_desapropriacao_empreendimento[@(item.Index)].userLastUpdate" id="model_desapropriacao_empreendimento_userLastUpdate_@(item.Index)" />
                                    <input type="hidden" value="@(DateTime.Now)" name="list_model_desapropriacao_empreendimento[@(item.Index)].dtLastUpdate" id="model_desapropriacao_empreendimento_dtLastUpdate_@(item.Index)" />
                                    
                                    <input type="hidden" value="false" name="list_model_desapropriacao_empreendimento[@(item.Index)].dem_update_anexo" id="model_desapropriacao_empreendimento_dem_update_anexo_@(item.Index)" />
                                    <span id="fileEmpreendimento_@(item.Index)" style="display:none"></span>

                                </td>
                            </tr>
                        }

                        @if (listaEmpreedimento.Count > 0)
                        {
                            <script type="text/javascript">
                                $("#divGridEmpreendimento").css({ "display": "inline" });
                            </script>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="modalEmpreendimento" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Editar Empreendimento
                    </h4>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.dem_auto_decreto)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_auto_decreto)</label>
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                        @Html.TextBoxFor(model => model.dem_auto_decreto, htmlAttributes: new { id = "modal_dem_auto_decreto", @class = "form-control", maxlength = "30", @data_autosdodecreto_mask = "true", placeholder = "Nº Auto de Decreto" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.dem_lote)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_lote)</label>
                    <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">
                        @Html.TextBoxFor(model => model.dem_lote, htmlAttributes: new { id = "modal_dem_lote", @class = "form-control", maxlength = "2", @data_only_number = "true", placeholder = "Nº Lote" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.dem_rodovia_sp)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_rodovia_sp)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.dem_rodovia_sp, htmlAttributes: new { id = "modal_dem_rodovia_sp", @class = "form-control", maxlength = "10", placeholder = "SP" })
                    </div>
                    <label for="km" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">Km</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.dem_rodovia_km_inicial, htmlAttributes: new { id = "modal_dem_rodovia_km_inicial", @class = "form-control numeric", maxlength = "10", placeholder = "Km Inicial" })
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.dem_rodovia_km_final, htmlAttributes: new { id = "modal_dem_rodovia_km_final", @class = "form-control numeric", maxlength = "10", placeholder = "Km Final" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.dem_rodovia_nome)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_rodovia_nome)</label>
                    <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
                        @Html.TextBoxFor(model => model.dem_rodovia_nome, htmlAttributes: new { id = "modal_dem_rodovia_nome", @class = "form-control", maxlength = "300", placeholder = "Nome da Rodovia" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.dem_rodovia_trecho)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_rodovia_trecho)</label>
                    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">
                        @Html.TextBoxFor(model => model.dem_rodovia_trecho, htmlAttributes: new { id = "modal_dem_rodovia_trecho", @class = "form-control", maxlength = "300", placeholder = "Trecho" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.dem_dup_codigo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_dup_codigo)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.dem_dup_codigo, htmlAttributes: new { id = "modal_dem_dup_codigo", @class = "form-control", maxlength = "20", placeholder = "Código DUP" })
                    </div>
                    <label for="@Html.DisplayNameFor(model => model.dem_dup_dt)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_dup_dt)</label>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.dem_dup_dt, htmlAttributes: new { id = "modal_dem_dup_dt", @Value = "", @class = "form-control", @data_date_mask = "true", placeholder = "Data" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.dem_nota_reserva)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_nota_reserva)</label>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        @Html.TextBoxFor(model => model.dem_nota_reserva, htmlAttributes: new { id = "modal_dem_nota_reserva", modal = "dem_nota_reserva", @class = "form-control", maxlength = "20", placeholder = "Nota de Reserva" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.dem_file_upload)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.dem_file_upload)</label>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        <input id="modal_dem_file_upload" type="file" class="filestyle" data-buttonText="Selecione..." data-placeholder="Sem Arquivo" data-buttonBefore="false" data-buttonName="btn-primary" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="btEditarEmpreendimento" type="button" class="btn btn-success" data-dismiss="modal">
                        Salvar
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    function ajaxError(xhr) {

        var err = eval("(" + xhr.responseText + ")");
        //alert(err.Message);
        Mensagens.Modal("Erro", err.Message, BootstrapDialog.TYPE_DANGER);
    }


    function AdicionarEmpreendimento() {

        $("#divGridEmpreendimento").css({ "display": "inline" });

        var index = $("#table_empreendimento > tbody > tr").length;

        var model_desapropriacao_empreendimento_dem_auto_decreto = $("#dem_auto_decreto").val();

        var model_desapropriacao_empreendimento_dem_lote = $("#dem_lote").val();

        var model_desapropriacao_empreendimento_dem_rodovia_sp = $("#dem_rodovia_sp").val();
        var model_desapropriacao_empreendimento_dem_rodovia_nome = $("#dem_rodovia_nome").val();
        var model_desapropriacao_empreendimento_dem_rodovia_trecho = $("#dem_rodovia_trecho").val();
        var model_desapropriacao_empreendimento_dem_rodovia_km_inicial = $("#dem_rodovia_km_inicial").val();
        var model_desapropriacao_empreendimento_dem_rodovia_km_final = $("#dem_rodovia_km_final").val();

        var model_desapropriacao_empreendimento_dem_dup_dt = $("#dem_dup_dt").val();
        var model_desapropriacao_empreendimento_dem_dup_codigo = $("#dem_dup_codigo").val();

        var model_desapropriacao_empreendimento_dem_nota_reserva = $("#dem_nota_reserva").val();

        var model_desapropriacao_empreendimento_dem_file_upload = $("#dem_file_upload").val();
        var model_desapropriacao_empreendimento_dem_anexo_pasta = "\\Upload\\Anexo\\";

        var model_desapropriacao_empreendimento_dem_acao = 1;
        var model_desapropriacao_empreendimento_dem_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var model_desapropriacao_empreendimento_userCreate = $("#userEmpreendimento").val();
        var model_desapropriacao_empreendimento_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();


        var tbodyEmpreendimento = $("#table_empreendimento").find("tbody");

        var gvRowEmpreendimento = '';

        gvRowEmpreendimento += "<tr id=\"tr_table_empreendimento_" + index + "\">";
        gvRowEmpreendimento += "<td>" + model_desapropriacao_empreendimento_dem_rodovia_sp + "</td>";
        gvRowEmpreendimento += "<td>" + model_desapropriacao_empreendimento_dem_rodovia_km_inicial + " / " + model_desapropriacao_empreendimento_dem_rodovia_km_final + "</td>";
        gvRowEmpreendimento += "<td>" + model_desapropriacao_empreendimento_dem_auto_decreto + "</td>";
        gvRowEmpreendimento += "<td>" + model_desapropriacao_empreendimento_dem_lote + "</td>";
        gvRowEmpreendimento += "<td>" + model_desapropriacao_empreendimento_dem_dup_codigo + "</td>";
        gvRowEmpreendimento += "<td>" + model_desapropriacao_empreendimento_dem_dup_dt + "</td>";
        gvRowEmpreendimento += "<td>" + model_desapropriacao_empreendimento_dem_nota_reserva + "</td>";
        gvRowEmpreendimento += "<td><span title='Aguardando o salvar' class='fa fa-upload'></span></td>";
        gvRowEmpreendimento += "<td>" + model_desapropriacao_empreendimento_dem_cadastro_dt + "</td>";
        gvRowEmpreendimento += "<td><span class=\"fa fa-trash\" alt=\"Exluir\" title=\"Excluir\" style=\"cursor:pointer\" id=\"btnExcluirEmpreendimento\" onclick=\"DeleteEmpreendimento(" + index + ")\"></span>";

        gvRowEmpreendimento += '<input type="hidden" value="0" name="list_model_desapropriacao_empreendimento[' + index + '].dem_id" id="model_desapropriacao_empreendimento_dem_id_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_auto_decreto + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_auto_decreto" id="model_desapropriacao_empreendimento_dem_auto_decreto_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_lote + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_lote" id="model_desapropriacao_empreendimento_dem_lote_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_rodovia_sp + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_rodovia_sp" id="model_desapropriacao_empreendimento_dem_rodovia_sp_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_rodovia_nome + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_rodovia_nome" id="model_desapropriacao_empreendimento_dem_rodovia_nome_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_rodovia_trecho + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_rodovia_trecho" id="model_desapropriacao_empreendimento_dem_rodovia_trecho_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_rodovia_km_inicial + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_rodovia_km_inicial" id="model_desapropriacao_empreendimento_dem_rodovia_km_inicial_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_rodovia_km_final + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_rodovia_km_final" id="model_desapropriacao_empreendimento_dem_rodovia_km_final_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_dup_dt + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_dup_dt" id="model_desapropriacao_empreendimento_dem_dup_dt_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_dup_codigo + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_dup_codigo" id="model_desapropriacao_empreendimento_dem_dup_codigo_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_nota_reserva + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_nota_reserva" id="model_desapropriacao_empreendimento_dem_nota_reserva_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_anexo_pasta + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_anexo_pasta" id="model_desapropriacao_empreendimento_dem_anexo_pasta_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_acao + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_acao" id="model_desapropriacao_empreendimento_dem_acao_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_cadastro_dt + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_cadastro_dt" id="model_desapropriacao_empreendimento_dem_cadastro_dt_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_userCreate + '" name="list_model_desapropriacao_empreendimento[' + index + '].userCreate" id="model_desapropriacao_empreendimento_userCreate_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dtCreate + '" name="list_model_desapropriacao_empreendimento[' + index + '].dtCreate" id="model_desapropriacao_empreendimento_dtCreate_' + index + '"/>';

        gvRowEmpreendimento += '<span id="fileEmpreendimento_' + index + '"></span>';

        gvRowEmpreendimento += '</td></tr>';

        tbodyEmpreendimento.append(gvRowEmpreendimento);

        //CLONA FILE UPLOAD///
        var clone = $("#dem_file_upload").clone();
        clone.attr('id', 'model_desapropriacao_empreendimento_dem_file_upload_' + index).attr('name', 'list_model_desapropriacao_empreendimento[' + index + '].dem_file_upload');
        $('#fileEmpreendimento_' + index).append(clone);
        //-----------------------------------------------------------------------------------------------------------------------------------------------------------------------//


        $("#dem_auto_decreto").val('');
        $("#dem_lote").val('');
        $("#dem_rodovia_sp").val('').trigger("chosen:updated");
        $("#dem_rodovia_nome").val('');
        $("#dem_rodovia_trecho").val('');
        $("#dem_rodovia_km_inicial").val('');
        $("#dem_rodovia_km_final").val('');

        $("#dem_unidade").val('').trigger("chosen:updated");

        $("#dem_dup_dt").val('');
        $("#dem_dup_codigo").val('');

        $("#dem_nota_reserva").val('');

        $("#dem_file_upload").val('');
        $("#dem_file_upload").filestyle('clear');
    }

    function ValidacaoEmpreendimento() {

        $("#btnAdicionarEmpreendimento").click(function (e) {

            if (validaFormularioDiv('tabEmpreendimento')) {
                AdicionarEmpreendimento();
            }
        });
    };

    $("#modalEmpreendimento").on("show.bs.modal", function (e) {
        var index = Number(e.relatedTarget.dataset['index']);
        $(this).attr('data-index', index);

        $("#modal_dem_auto_decreto").val($("#model_desapropriacao_empreendimento_dem_auto_decreto_" + index).val());
        $("#modal_dem_lote").val($("#model_desapropriacao_empreendimento_dem_lote_" + index).val());
        $("#modal_dem_rodovia_sp").val($("#model_desapropriacao_empreendimento_dem_rodovia_sp_" + index).val());
        $("#modal_dem_rodovia_km_inicial").val($("#model_desapropriacao_empreendimento_dem_rodovia_km_inicial_" + index).val());
        $("#modal_dem_rodovia_km_final").val($("#model_desapropriacao_empreendimento_dem_rodovia_km_final_" + index).val());
        $("#modal_dem_rodovia_nome").val($("#model_desapropriacao_empreendimento_dem_rodovia_nome_" + index).val());
        $("#modal_dem_rodovia_trecho").val($("#model_desapropriacao_empreendimento_dem_rodovia_trecho_" + index).val());
        $("#modal_dem_dup_codigo").val($("#model_desapropriacao_empreendimento_dem_dup_codigo_" + index).val());
        $("#modal_dem_dup_dt").val($("#model_desapropriacao_empreendimento_dem_dup_dt_" + index).val().substring(0, 10));
        $("#modal_dem_nota_reserva").val($("#model_desapropriacao_empreendimento_dem_nota_reserva_" + index).val());
    })

    $("#btEditarEmpreendimento").on('click', function (e) {
        var index = $("#modalEmpreendimento").attr("data-index");
        EditarEmpreendimento(Number(index));
    });

    function EditarEmpreendimento(index) {
        var auto_decreto = $("#modal_dem_auto_decreto").val();
        var lote = $("#modal_dem_lote").val();
        var rodovia_sp = $("#modal_dem_rodovia_sp").val();
        var km_inicial = $("#modal_dem_rodovia_km_inicial").val();
        var km_final = $("#modal_dem_rodovia_km_final").val();
        var rodovia_nome = $("#modal_dem_rodovia_nome").val();
        var rodovia_trecho = $("#modal_dem_rodovia_trecho").val();
        var dup_codigo = $("#modal_dem_dup_codigo").val();
        var dup_dt = $("#modal_dem_dup_dt").val();
        var nota_reserva = $("#modal_dem_nota_reserva").val();

        var file_upload = $("#modal_dem_file_upload").val();

        $("#tr_table_empreendimento_" + index + " td:nth-child(1)").html(rodovia_sp);
        $("#tr_table_empreendimento_" + index + " td:nth-child(2)").html(km_inicial + " / " + km_final);
        $("#tr_table_empreendimento_" + index + " td:nth-child(3)").html(auto_decreto);
        $("#tr_table_empreendimento_" + index + " td:nth-child(4)").html(lote);
        $("#tr_table_empreendimento_" + index + " td:nth-child(5)").html(dup_codigo);
        $("#tr_table_empreendimento_" + index + " td:nth-child(6)").html(dup_dt);
        $("#tr_table_empreendimento_" + index + " td:nth-child(7)").html(nota_reserva);

        $("#model_desapropriacao_empreendimento_dem_auto_decreto_" + index).val(auto_decreto);
        $("#model_desapropriacao_empreendimento_dem_lote_" + index).val(lote);
        $("#model_desapropriacao_empreendimento_dem_rodovia_sp_" + index).val(rodovia_sp);
        $("#model_desapropriacao_empreendimento_dem_rodovia_km_inicial_" + index).val(km_inicial);
        $("#model_desapropriacao_empreendimento_dem_rodovia_km_final_" + index).val(km_final);
        $("#model_desapropriacao_empreendimento_dem_rodovia_nome_" + index).val(rodovia_nome);
        $("#model_desapropriacao_empreendimento_dem_rodovia_trecho_" + index).val(rodovia_trecho);
        $("#model_desapropriacao_empreendimento_dem_dup_codigo_" + index).val(dup_codigo);
        $("#model_desapropriacao_empreendimento_dem_dup_dt_" + index).val(dup_dt);
        $("#model_desapropriacao_empreendimento_dem_nota_reserva_" + index).val(nota_reserva);

        if ($("#modal_dem_file_upload").get(0).files.length > 0) {

            $("#model_desapropriacao_empreendimento_dem_file_upload_" + index).remove();
            var clone = $("#modal_dem_file_upload").clone();
            clone.attr("id", "model_desapropriacao_empreendimento_dem_file_upload_" + index).attr("name", "list_model_desapropriacao_empreendimento[" + index + "].dem_file_upload");
            $("#fileEmpreendimento_" + index).append(clone);

            $("#tr_table_empreendimento_" + index + " td:nth-child(8)").html("<span title='Aguardando o salvar' class='fa fa-upload'></span>");

            $("#model_desapropriacao_empreendimento_dem_update_anexo_" + index).val(true);
        }

        $("#model_desapropriacao_empreendimento_dem_acao_" + index).val(2);
    }

    function DeleteEmpreendimento(index) {
        BootstrapDialog.show({
            title: "<b>Confirma&ccedil;&atilde;o</b>",
            message: 'Deseja realmente excluir esta empreendimento?',
            type: BootstrapDialog.TYPE_PRIMARY,
            buttons: [
                    {
                        label: "N&atilde;o",
                        cssClass: "btn btn-default active",
                        action: function (dialog) {
                            dialog.close();
                        }
                    },
                    {
                        label: "Sim",
                        cssClass: "btn btn-default active",
                        action: function (dialog) {
                            dialog.close();

                            jQuery("#model_desapropriacao_empreendimento_dem_acao_" + index).val('3');

                            if ($("#model_desapropriacao_empreendimento_dem_id_" + index).val() !== "0") {

                                $("#tr_table_empreendimento_" + index + " td:nth-child(8)").append('<input type="hidden" value="' + $("#userEmpreendimento").val() + '" name="list_model_desapropriacao_empreendimento[' + index + '].userDelete" id="model_desapropriacao_empreendimento_userDelete_' + index + '"/>');
                                $("#tr_table_empreendimento_" + index + " td:nth-child(8)").append('<input type="hidden" value="' + $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes() + '" name="list_model_desapropriacao_empreendimento[' + index + '].dtDelete" id="model_desapropriacao_empreendimento_dtDelete_' + index + '"/>');
                            }

                            $("#tr_table_empreendimento_" + index + "").css({ "display": "none" });

                            if ($("#table_empreendimento > tbody > tr:visible").length === 0) {

                                $("#divGridEmpreendimento").css({ "display": "none" });
                            }
                        }
                    }
            ]
        });
    }

    $(document).ready(function () {
        ValidacaoEmpreendimento();
        $(".numeric").numeric({ altDecimal: ",", decimal: ",", negative: false });
    });

    function GerarRelatorio(numeroAutoDecreto, lote) {
        window.open("~/../../../Areas/Relatorio/WebForms/RelatorioDesapropriacao.aspx?numeroAutoDecreto=" + numeroAutoDecreto + "&lote=" + lote)
    }

</script>