﻿@using Entity.GERENCIADORPORTAL

@model WebAppMvc.Areas.Desapropriacao.Models.model_desapropriacao_recurso_fonte

@{
    var listaFonteRecurso = ((List<WebAppMvc.Areas.Desapropriacao.Models.model_desapropriacao_recurso_fonte>)ViewBag.ListModelRecursoFonte);
}

<input id="userFonteRecurso" type="hidden" value="@(((tab_usuario)Session["objUsuario"]).usu_nome_login)" />

<div class="box-body">

    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.drf_contrato_numero)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.drf_contrato_numero)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.drf_contrato_numero, htmlAttributes: new { @class = "form-control", maxlength = "10", placeholder = "Nº Contrato" })
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            <button type="button" onclick="PreencherDadosContrato(event);" class="btn btn-secondary">Pesquisar Contrato</button>
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.drf_valor)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.drf_valor)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.drf_valor, htmlAttributes: new { @Value = "", @class = "form-control", @data_money_mask = "true", maxlength = "14", placeholder = "R$" })
        </div>
        <label for="@Html.DisplayNameFor(model => model.drf_percentual)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.drf_percentual)</label>
        <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">
            @Html.TextBoxFor(model => model.drf_percentual, htmlAttributes: new { @Value = "", @class = "form-control", placeholder = "%" })
        </div>
    </div>

    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.drf_assinatura_dt)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.drf_assinatura_dt)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.drf_assinatura_dt, htmlAttributes: new { @Value = "", @class = "form-control", @data_date_mask = "true", placeholder = "Data" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" id="btnAdicionarFonteRecurso"><i class="fa fa-plus-square"></i>  Adicionar</button>
        </div>
    </div>
    <div id="divGridFonteRecurso" class="form-group" style="display: none">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_fonte_recurso">
                    <thead>
                        <tr>
                            <th>Nº Contrato</th>
                            <th>Valor</th>
                            <th>Percentual</th>
                            <th>Dt. Assinatura</th>
                            <th>Dt. Cadastro</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in listaFonteRecurso.Select((r, i) => new { Row = r, Index = i }))
                        {
                            <tr id="tr_table_fonte_recurso_@(item.Index)">
                                <td class="editavel" data-campo="drf_contrato_numero" data-index="@item.Index">@(item.Row.drf_contrato_numero)</td>
                                <td class="editavel" data-campo="drf_valor" data-index="@item.Index">@(item.Row.drf_valor)</td>
                                <td class="editavel" data-campo="drf_percentual" data-index="@item.Index">@(item.Row.drf_percentual)</td>
                                <td class="editavel" data-campo="drf_assinatura_dt" data-index="@item.Index">@(item.Row.drf_assinatura_dt.ToString("d"))</td>
                                <td>@(item.Row.drf_cadastro_dt.ToString("d"))</td>
                                <td>
                                    <a href="#modalFonteRecurso" data-toggle="modal" data-index="@item.Index"><span class="fa fa-edit" alt="Editar" title="Editar" style="cursor:pointer; color:black"></span></a>
                                    <span class="fa fa-trash" alt="Exluir" title="Excluir" style="cursor:pointer" id="btnExcluirFonteRecurso" onclick="DeleteFonteRecurso(@(item.Index));"></span>

                                    <input type="hidden" value="@(item.Row.des_id)" name="list_model_desapropriacao_recurso_fonte[@(item.Index)].des_id" id="model_desapropriacao_recurso_fonte_des_id_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.drf_id)" name="list_model_desapropriacao_recurso_fonte[@(item.Index)].drf_id" id="model_desapropriacao_recurso_fonte_drf_id_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.drf_contrato_numero)" name="list_model_desapropriacao_recurso_fonte[@(item.Index)].drf_contrato_numero" id="model_desapropriacao_recurso_fonte_drf_contrato_numero_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.drf_valor)" name="list_model_desapropriacao_recurso_fonte[@(item.Index)].drf_valor" id="model_desapropriacao_recurso_fonte_drf_valor_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.drf_percentual.ToString())" name="list_model_desapropriacao_recurso_fonte[@(item.Index)].drf_percentual" id="model_desapropriacao_recurso_fonte_drf_percentual_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.drf_assinatura_dt.ToString())" name="list_model_desapropriacao_recurso_fonte[@(item.Index)].drf_assinatura_dt" id="model_desapropriacao_recurso_fonte_drf_assinatura_dt_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.drf_acao)" name="list_model_desapropriacao_recurso_fonte[@(item.Index)].drf_acao" id="model_desapropriacao_recurso_fonte_drf_acao_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.drf_cadastro_dt)" name="list_model_desapropriacao_recurso_fonte[@(item.Index)].drf_cadastro_dt" id="model_desapropriacao_recurso_fonte_drf_cadastro_dt_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.userCreate)" name="list_model_desapropriacao_recurso_fonte[@(item.Index)].userCreate" id="model_desapropriacao_recurso_fonte_userCreate_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dtCreate)" name="list_model_desapropriacao_recurso_fonte[@(item.Index)].dtCreate" id="model_desapropriacao_recurso_fonte_dtCreate_@(item.Index)" />
                                    <input type="hidden" value="@(((tab_usuario)Session["objUsuario"]).usu_nome_login)" name="list_model_desapropriacao_recurso_fonte[@(item.Index)].userLastUpdate" id="model_desapropriacao_recurso_fonte_userLastUpdate_@(item.Index)" />
                                    <input type="hidden" value="@(DateTime.Now)" name="list_model_desapropriacao_recurso_fonte[@(item.Index)].dtLastUpdate" id="model_desapropriacao_recurso_fonte_dtLastUpdate_@(item.Index)" />

                                </td>
                            </tr>
                        }

                        @if (listaFonteRecurso.Count > 0)
                        {
                            <script type="text/javascript">
                                $("#divGridFonteRecurso").css({ "display": "inline" });
                            </script>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="modalFonteRecurso" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Editar Contrato
                    </h4>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.drf_contrato_numero)" class="col-xs-12 col-sm-6 col-md-3 col-lg-3d control-label text-right required">@Html.DisplayNameFor(model => model.drf_contrato_numero)</label>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        @Html.TextBoxFor(model => model.drf_contrato_numero, htmlAttributes: new { id = "modal_drf_contrato_numero", @class = "form-control", maxlength = "10", placeholder = "Nº Contrato" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.drf_valor)" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 control-label text-right required">@Html.DisplayNameFor(model => model.drf_valor)</label>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        @Html.TextBoxFor(model => model.drf_valor, htmlAttributes: new { id = "modal_drf_valor", @Value = "", @class = "form-control", @data_money_mask = "true", maxlength = "14", placeholder = "R$" })
                    </div>
                    <label for="@Html.DisplayNameFor(model => model.drf_percentual)" class="col-xs-12 col-sm-4 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.drf_percentual)</label>
                    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                        @Html.TextBoxFor(model => model.drf_percentual, htmlAttributes: new { id = "modal_drf_percentual", @Value = "", @class = "form-control", placeholder = "%" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Html.DisplayNameFor(model => model.drf_assinatura_dt)" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 control-label text-right required">@Html.DisplayNameFor(model => model.drf_assinatura_dt)</label>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        @Html.TextBoxFor(model => model.drf_assinatura_dt, htmlAttributes: new { id = "modal_drf_assinatura_dt", @Value = "", @class = "form-control", @data_date_mask = "true", placeholder = "Data" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btEditarFonteRecurso" type="button" class="btn btn-success" data-dismiss="modal">
                        Salvar
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    function ajaxError(xhr) {

        var err = eval("(" + xhr.responseText + ")");
        //alert(err.Message);
        Mensagens.Modal("Erro", err.Message, BootstrapDialog.TYPE_DANGER);
    }


    function AdicionarFonteRecurso() {

        $("#divGridFonteRecurso").css({ "display": "inline" });

        var index = $("#table_fonte_recurso > tbody > tr").length;

        var model_desapropriacao_recurso_fonte_drf_contrato_numero = $("#drf_contrato_numero").val();
        var model_desapropriacao_recurso_fonte_drf_valor = $("#drf_valor").val();
        var model_desapropriacao_recurso_fonte_drf_percentual = $("#drf_percentual").val();
        var model_desapropriacao_recurso_fonte_drf_assinatura_dt = $("#drf_assinatura_dt").val();

        var model_desapropriacao_recurso_fonte_drf_acao = 1;
        var model_desapropriacao_recurso_fonte_drf_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var model_desapropriacao_recurso_fonte_userCreate = $("#userFonteRecurso").val();
        var model_desapropriacao_recurso_fonte_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();


        var tbodyrecurso_fonte = $("#table_fonte_recurso").find("tbody");

        var gvRowFonteRecurso = '';

        gvRowFonteRecurso += "<tr id=\"tr_table_fonte_recurso_" + index + "\">";
        gvRowFonteRecurso += "<td>" + model_desapropriacao_recurso_fonte_drf_contrato_numero + "</td>";
        gvRowFonteRecurso += "<td>" + model_desapropriacao_recurso_fonte_drf_valor + "</td>";
        gvRowFonteRecurso += "<td>" + model_desapropriacao_recurso_fonte_drf_percentual + "</td>";
        gvRowFonteRecurso += "<td>" + model_desapropriacao_recurso_fonte_drf_assinatura_dt + "</td>";
        gvRowFonteRecurso += "<td>" + model_desapropriacao_recurso_fonte_drf_cadastro_dt + "</td>";
        gvRowFonteRecurso += "<td><span class=\"fa fa-trash\" alt=\"Exluir\" title=\"Excluir\" style=\"cursor:pointer\" id=\"btnExcluirFonteRecurso\" onclick=\"DeleteFonteRecurso(" + index + ")\"></span></td>";

        gvRowFonteRecurso += '<input type="hidden" value="0" name="list_model_desapropriacao_recurso_fonte[' + index + '].drf_id" id="model_desapropriacao_recurso_fonte_drf_id_' + index + '"/>';
        gvRowFonteRecurso += '<input type="hidden" value="' + model_desapropriacao_recurso_fonte_drf_contrato_numero + '" name="list_model_desapropriacao_recurso_fonte[' + index + '].drf_contrato_numero" id="model_desapropriacao_recurso_fonte_drf_contrato_numero_' + index + '"/>';
        gvRowFonteRecurso += '<input type="hidden" value="' + model_desapropriacao_recurso_fonte_drf_valor + '" name="list_model_desapropriacao_recurso_fonte[' + index + '].drf_valor" id="model_desapropriacao_recurso_fonte_drf_valor_' + index + '"/>';
        gvRowFonteRecurso += '<input type="hidden" value="' + model_desapropriacao_recurso_fonte_drf_percentual + '" name="list_model_desapropriacao_recurso_fonte[' + index + '].drf_percentual" id="model_desapropriacao_recurso_fonte_drf_percentual_' + index + '"/>';
        gvRowFonteRecurso += '<input type="hidden" value="' + model_desapropriacao_recurso_fonte_drf_assinatura_dt + '" name="list_model_desapropriacao_recurso_fonte[' + index + '].drf_assinatura_dt" id="model_desapropriacao_recurso_fonte_drf_assinatura_dt_' + index + '"/>';
        gvRowFonteRecurso += '<input type="hidden" value="' + model_desapropriacao_recurso_fonte_drf_acao + '" name="list_model_desapropriacao_recurso_fonte[' + index + '].drf_acao" id="model_desapropriacao_recurso_fonte_drf_acao_' + index + '"/>';
        gvRowFonteRecurso += '<input type="hidden" value="' + model_desapropriacao_recurso_fonte_drf_cadastro_dt + '" name="list_model_desapropriacao_recurso_fonte[' + index + '].drf_cadastro_dt" id="model_desapropriacao_recurso_fonte_drf_cadastro_dt_' + index + '"/>';
        gvRowFonteRecurso += '<input type="hidden" value="' + model_desapropriacao_recurso_fonte_userCreate + '" name="list_model_desapropriacao_recurso_fonte[' + index + '].userCreate" id="model_desapropriacao_recurso_fonte_userCreate_' + index + '"/>';
        gvRowFonteRecurso += '<input type="hidden" value="' + model_desapropriacao_recurso_fonte_dtCreate + '" name="list_model_desapropriacao_recurso_fonte[' + index + '].dtCreate" id="model_desapropriacao_recurso_fonte_dtCreate_' + index + '"/>';


        gvRowFonteRecurso += '</tr>';

        tbodyrecurso_fonte.append(gvRowFonteRecurso);

        $("#drf_contrato_numero").val('');
        $("#drf_valor").val('');
        $("#drf_percentual").val('');
        $("#drf_assinatura_dt").val('');
    }

    $("#modalFonteRecurso").on("show.bs.modal", function (e) {
        var index = Number(e.relatedTarget.dataset['index']);
        $(this).attr('data-index', index);

        $("#modal_drf_contrato_numero").val($("#model_desapropriacao_recurso_fonte_drf_contrato_numero_" + index).val());
        $("#modal_drf_valor").val($("#model_desapropriacao_recurso_fonte_drf_valor_" + index).val());
        $("#modal_drf_percentual").val($("#model_desapropriacao_recurso_fonte_drf_percentual_" + index).val());
        $("#modal_drf_assinatura_dt").val($("#model_desapropriacao_recurso_fonte_drf_assinatura_dt_" + index).val().substring(0, 10));
    })

    $("#btEditarFonteRecurso").on('click', function (e) {
        var index = $("#modalFonteRecurso").attr("data-index");
        EditarFonteRecurso(Number(index));
    });

    function EditarFonteRecurso(index) {
        var contrato_numero = $("#modal_drf_contrato_numero").val();
        var valor = $("#modal_drf_valor").val();
        var percentual = $("#modal_drf_percentual").val();
        var assinatura_dt = $("#modal_drf_assinatura_dt").val();

        $("#tr_table_fonte_recurso_" + index + " td:nth-child(1)").html(contrato_numero);
        $("#tr_table_fonte_recurso_" + index + " td:nth-child(2)").html(valor);
        $("#tr_table_fonte_recurso_" + index + " td:nth-child(3)").html(percentual);
        $("#tr_table_fonte_recurso_" + index + " td:nth-child(4)").html(assinatura_dt);

        $("#model_desapropriacao_recurso_fonte_drf_contrato_numero_" + index).val(contrato_numero);
        $("#model_desapropriacao_recurso_fonte_drf_valor_" + index).val(valor);
        $("#model_desapropriacao_recurso_fonte_drf_percentual_" + index).val(percentual);
        $("#model_desapropriacao_recurso_fonte_drf_assinatura_dt_" + index).val(assinatura_dt);

        $("#model_desapropriacao_recurso_fonte_drf_acao_" + index).val(2);
    }

    function ValidacaoFonteRecurso() {

        $("#btnAdicionarFonteRecurso").click(function (e) {

            if (validaFormularioDiv('tabFonteRecurso')) {
                AdicionarFonteRecurso();
            }
        });
    };

    function DeleteFonteRecurso(index) {
        BootstrapDialog.show({
            title: "<b>Confirma&ccedil;&atilde;o</b>",
            message: 'Deseja realmente excluir esta fonte de recurso?',
            type: BootstrapDialog.TYPE_PRIMARY,
            buttons: [
                    {
                        label: "N&atilde;o",
                        cssClass: "btn btn-default active",
                        action: function (dialog) {
                            dialog.close();
                        }
                    },
                    {
                        label: "Sim",
                        cssClass: "btn btn-default active",
                        action: function (dialog) {
                            dialog.close();

                            jQuery("#model_desapropriacao_recurso_fonte_drf_acao_" + index).val('3');

                            if ($("#model_desapropriacao_recurso_fonte_drf_id_" + index).val() !== "0") {

                                $("#tr_table_fonte_recurso_" + index + " td:nth-child(6)").append('<input type="hidden" value="' + $("#userFonteRecurso").val() + '" name="list_model_desapropriacao_recurso_fonte[' + index + '].userDelete" id="model_desapropriacao_recurso_fonte_userDelete_' + index + '"/>');
                                $("#tr_table_fonte_recurso_" + index + " td:nth-child(6)").append('<input type="hidden" value="' + $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes() + '" name="list_model_desapropriacao_recurso_fonte[' + index + '].dtDelete" id="model_desapropriacao_recurso_fonte_dtDelete_' + index + '"/>');
                            }

                            $("#tr_table_fonte_recurso_" + index + "").css({ "display": "none" });

                            if ($("#table_fonte_recurso > tbody > tr:visible").length === 0) {

                                $("#divGridFonteRecurso").css({ "display": "none" });
                            }
                        }
                    }
            ]
        });
    }

    function PreencherDadosContrato(e) {

        if ($("#drf_contrato_numero").val().length) {

            var dataString = JSON.stringify({
                numContr: $("#drf_contrato_numero").val()
            });

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "~/../CarregarContrato",
                data: dataString,
                dataType: "json",
                async: true,
                error: function (xhr) {
                    Mensagens.Modal("Erro", xhr.responseJSON.msgErro, BootstrapDialog.TYPE_DANGER);
                },
                success: function (data) {
                    if (data.NumContr > 0) {

                        $("#drf_valor").val(data.ValContrOrigPI.toLocaleString("pt-BR"));
                        $("#drf_percentual").val(data.PorcFin.toLocaleString("pt-BR"));
                        $("#drf_assinatura_dt").val(data.DataInicio);

                    }
                    else {
                        LimparCamposContrato();
                        Mensagens.Modal("Informativo", "Nenhum contrato localizado com este número.", BootstrapDialog.TYPE_INFO);
                    }
                }
            });
        } else {
            LimparCamposContrato();
            Mensagens.Modal("Atenção", "Preencha o campo Nº Contrato.", BootstrapDialog.TYPE_WARNING);
        }
    }

    function LimparCamposContrato() {
        $("#drf_valor").val("");
        $("#drf_percentual").val("");
        $("#drf_assinatura_dt").val("");
    }

    $(document).ready(function () {

        //CarregarAgenteFinanciador();
        ValidacaoFonteRecurso();

        //Para funcionar abaixo uasr "contenteditable" nos td's
        Array.from($("td.editavel")).forEach(function (element) {
            element.addEventListener("input", function () {
                var campo = $(element).attr("data-campo");
                var index = $(element).attr("data-index");
                $("#model_desapropriacao_recurso_fonte_" + campo + "_" + index).val($(element).html());
                $("#model_desapropriacao_recurso_fonte_drf_acao_" + index).val(2);
            });
        });

    });

</script>