﻿@using Entity.GERENCIADORPORTAL
@using WebAppMvc.Areas.Desapropriacao.Models
@model model_desapropriacao_localidade

@{
    var listaLocalidade = ((List<model_desapropriacao_localidade>)ViewBag.ListModelLocalidade);
}

<input id="userLocalidade" type="hidden" value="@(((tab_usuario) Session["objUsuario"]).usu_nome_login)" />

<div class="box-body">
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.est_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.est_id)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            <select disabled="true" class="form-control">
                <option selected="selected" value="25">São Paulo</option>
            </select>
            @* @Html.DropDownListFor(model => model.est_id, (IEnumerable<SelectListItem>) ViewBag.CarregarEstado, "--selecione--", htmlAttributes: new {@class = "form-control", @onchange = "CarregarLocalidadeMunicipio();"})*@
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.mun_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.mun_id)</label>
        <div class="col-xs-12 col-sm-3 col-md-5 col-lg-5">
            @Html.DropDownListFor(model => model.mun_id, Enumerable.Empty<SelectListItem>(), "--selecione--", htmlAttributes: new { @class = "form-control", @disabled = "true" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dlo_complemento)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.dlo_complemento)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextAreaFor(model => model.dlo_complemento, htmlAttributes: new { style = "height: 110px;", @class = "form-control", placeholder = "Complemento da localidade" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" id="btnAdicionarLocalidade"><i class="fa fa-plus-square"></i>  Adicionar</button>
        </div>
    </div>

    <div id="divGridLocalidade" class="form-group" style="display: none">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_localidade">
                    <thead>
                        <tr>
                            <th>Estado</th>
                            <th>Município</th>
                            <th>Complemento</th>
                            <th>Dt. Cadastro</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in listaLocalidade.Select((r, i) => new { Row = r, Index = i }))
                        {
                            <tr id="tr_table_localidade_@(item.Index)">
                                <td>
                                    @(item.Row.est_nome)
                                </td>
                                <td>
                                    @(item.Row.mun_nome)
                                </td>
                                <td>
                                    @(item.Row.dlo_complemento)
                                </td>
                                <td>
                                    @(item.Row.dlo_cadastro_dt.ToString("d"))
                                </td>
                                <td>
                                    <span class="fa fa-trash" alt="Exluir" title="Excluir" style="cursor: pointer" id="btnExcluirLocalidade" onclick="DeleteLocalidade(@(item.Index));"></span>

                                    <input type="hidden" value="@(item.Row.des_id)" name="list_model_desapropriacao_localidade[@(item.Index)].des_id" id="model_desapropriacao_localidade_des_id_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dlo_id)" name="list_model_desapropriacao_localidade[@(item.Index)].dlo_id" id="model_desapropriacao_localidade_dlo_id_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.est_id)" name="list_model_desapropriacao_localidade[@(item.Index)].est_id" id="model_desapropriacao_localidade_est_id_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.mun_id)" name="list_model_desapropriacao_localidade[@(item.Index)].mun_id" id="model_desapropriacao_localidade_mun_id_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dlo_complemento)" name="list_model_desapropriacao_localidade[@(item.Index)].est_id" id="model_desapropriacao_localidade_dlo_complemento_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dlo_acao)" name="list_model_desapropriacao_localidade[@(item.Index)].dlo_acao" id="model_desapropriacao_localidade_dlo_acao_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dlo_cadastro_dt)" name="list_model_desapropriacao_localidade[@(item.Index)].dlo_cadastro_dt" id="model_desapropriacao_localidade_dlo_cadastro_dt_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.userCreate)" name="list_model_desapropriacao_localidade[@(item.Index)].userCreate" id="model_desapropriacao_localidade_userCreate_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dtCreate)" name="list_model_desapropriacao_localidade[@(item.Index)].dtCreate" id="model_desapropriacao_localidade_dtCreate_@(item.Index)" />

                                </td>
                            </tr>
                        }

                        @if (listaLocalidade.Count > 0)
                        {
                            <script type="text/javascript">
                                $("#divGridLocalidade").css({ "display": "inline" });
                            </script>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    function ajaxError(xhr) {

        var err = eval("(" + xhr.responseText + ")");
        //alert(err.Message);
        Mensagens.Modal("Erro", err.Message, BootstrapDialog.TYPE_DANGER);
    }

    function CarregarLocalidadeMunicipio() {

        if (jQuery("#est_id option:selected").val() !== "") {

            var dataString = JSON.stringify({
                est_id: "25" //jQuery("#est_id option:selected").val()
            });

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "~/../CarregarMunicipio",
                data: dataString,
                dataType: "json",
                async: true,
                error: function (xhr) {

                    Mensagens.Modal("Erro", xhr.responseJSON.msgErro, BootstrapDialog.TYPE_DANGER);
                },
                success: function (data) {

                    if (data.length > 0) {

                        var obj = data;

                        $("#mun_id option").remove();
                        $("#mun_id").append("<option value=''>--selecione--</option>");

                        for (var i = 0; i < obj.length; i++) {
                            $("#mun_id").append("<option value=" + obj[i].mun_id + ">" + obj[i].mun_nome + "</option>");
                        }

                        $("#mun_id").attr('disabled', false);
                        $('#mun_id').trigger("chosen:updated");
                    }
                    else {
                        Mensagens.Modal("Informativo", "Não existe nenhum municipio cadastrada para este estado, volte e cadastre pelo menos um municipio ou entre em contato com o administrador do sistema.", BootstrapDialog.TYPE_INFO);

                        $("#mun_id").empty();
                        $("#mun_id").append("<option value=''>--selecione--</option>");
                        $("#mun_id").attr('disabled', true);
                        $('#mun_id').trigger("chosen:updated");
                    }
                }
            });
        } else {

            $("#mun_id").empty();
            $("#mun_id").append("<option value=''>--selecione--</option>");
            $("#mun_id").attr('disabled', true);
            $('#mun_id').trigger("chosen:updated");
        }
    }

    function AdicionarLocalidade() {

        $("#divGridLocalidade").css({ "display": "inline" });

        var index = $("#table_localidade > tbody > tr").length;

        var model_desapropriacao_localidade_est_id = "25"; //$("#est_id option:selected").val();
        var model_desapropriacao_localidade_est_nome = "São Paulo"; //$("#est_id option:selected").text();

        var model_desapropriacao_localidade_mun_id = $("#mun_id option:selected").val();
        var model_desapropriacao_localidade_mun_nome = $("#mun_id option:selected").text();

        var model_desapropriacao_localidade_dlo_complemento = $("#dlo_complemento").val();

        var model_desapropriacao_localidade_dlo_acao = 1;
        var model_desapropriacao_localidade_dlo_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var model_desapropriacao_localidade_userCreate = $("#userLocalidade").val();
        var model_desapropriacao_localidade_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var tbodylocalidade = $("#table_localidade").find("tbody");

        var gvRowLocalidade = '';

        gvRowLocalidade += "<tr id=\"tr_table_localidade_" + index + "\">";
        gvRowLocalidade += "<td>" + model_desapropriacao_localidade_est_nome + "</td>";
        gvRowLocalidade += "<td>" + model_desapropriacao_localidade_mun_nome + "</td>";
        gvRowLocalidade += "<td>" + model_desapropriacao_localidade_dlo_complemento + "</td>";
        gvRowLocalidade += "<td>" + model_desapropriacao_localidade_dlo_cadastro_dt + "</td>";
        gvRowLocalidade += "<td><span class=\"fa fa-trash\" alt=\"Exluir\" title=\"Excluir\" style=\"cursor:pointer\" id=\"btnExcluirLocalidade\" onclick=\"DeleteLocalidade(" + index + ")\"></span>";

        gvRowLocalidade += '<input type="hidden" value="0" name="list_model_desapropriacao_localidade[' + index + '].dlo_id" id="model_desapropriacao_localidade_dlo_id_' + index + '"/>';
        gvRowLocalidade += '<input type="hidden" value="' + model_desapropriacao_localidade_est_id + '" name="list_model_desapropriacao_localidade[' + index + '].est_id" id="model_desapropriacao_localidade_est_id_' + index + '"/>';
        gvRowLocalidade += '<input type="hidden" value="' + model_desapropriacao_localidade_mun_id + '" name="list_model_desapropriacao_localidade[' + index + '].mun_id" id="model_desapropriacao_localidade_mun_id_' + index + '"/>';
        gvRowLocalidade += '<input type="hidden" value="' + model_desapropriacao_localidade_dlo_complemento + '" name="list_model_desapropriacao_localidade[' + index + '].dlo_complemento" id="model_desapropriacao_localidade_dlo_complemento_' + index + '"/>';
        gvRowLocalidade += '<input type="hidden" value="' + model_desapropriacao_localidade_dlo_acao + '" name="list_model_desapropriacao_localidade[' + index + '].dlo_acao" id="model_desapropriacao_localidade_dlo_acao_' + index + '"/>';
        gvRowLocalidade += '<input type="hidden" value="' + model_desapropriacao_localidade_dlo_cadastro_dt + '" name="list_model_desapropriacao_localidade[' + index + '].dlo_cadastro_dt" id="model_desapropriacao_localidade_dlo_cadastro_dt_' + index + '"/>';
        gvRowLocalidade += '<input type="hidden" value="' + model_desapropriacao_localidade_userCreate + '" name="list_model_desapropriacao_localidade[' + index + '].userCreate" id="model_desapropriacao_localidade_userCreate_' + index + '"/>';
        gvRowLocalidade += '<input type="hidden" value="' + model_desapropriacao_localidade_dtCreate + '" name="list_model_desapropriacao_localidade[' + index + '].dtCreate" id="model_desapropriacao_localidade_dtCreate_' + index + '"/>';

        gvRowLocalidade += '</td></tr>';

        tbodylocalidade.append(gvRowLocalidade);


        $("#est_id").val("");
        $('#est_id').trigger("chosen:updated");

        $("#mun_id").empty();
        $("#mun_id").append("<option value=''>--selecione--</option>");
        CarregarLocalidadeMunicipio();
        //$("#mun_id").attr('disabled', true);
        //$('#mun_id').trigger("chosen:updated");
    }

    function ValidacaoLocalidade() {

        $("#btnAdicionarLocalidade").click(function (e) {

            if (validaFormularioDiv('tabLocalidade')) {
                AdicionarLocalidade();
            }
        });
    };

    function DeleteLocalidade(index) {
        BootstrapDialog.show({
            title: "<b>Confirma&ccedil;&atilde;o</b>",
            message: 'Deseja realmente excluir esta localidade?',
            type: BootstrapDialog.TYPE_PRIMARY,
            buttons: [
                {
                    label: "N&atilde;o",
                    cssClass: "btn btn-default active",
                    action: function (dialog) {
                        dialog.close();
                    }
                },
                {
                    label: "Sim",
                    cssClass: "btn btn-default active",
                    action: function (dialog) {
                        dialog.close();

                        $("#model_desapropriacao_localidade_dlo_acao_" + index).val('3');

                        if ($("#model_desapropriacao_localidade_dlo_id_" + index).val() !== "0") {

                            $("#tr_table_localidade_" + index + " td:nth-child(4)").append('<input type="hidden" value="' + $("#userLocalidade").val() + '" name="list_model_desapropriacao_localidade[' + index + '].userDelete" id="model_desapropriacao_localidade_userDelete_' + index + '"/>');
                            $("#tr_table_localidade_" + index + " td:nth-child(4)").append('<input type="hidden" value="' + $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes() + '" name="list_model_desapropriacao_localidade[' + index + '].dtDelete" id="model_desapropriacao_localidade_dtDelete_' + index + '"/>');
                        }

                        $("#tr_table_localidade_" + index + "").css({ "display": "none" });

                        if ($("#table_localidade > tbody > tr:visible").length === 0) {

                            $("#divGridLocalidade").css({ "display": "none" });
                        }
                    }
                }
            ]
        });
    }

    CarregarLocalidadeMunicipio();

    $(document).ready(function () {

        ValidacaoLocalidade();
    });

</script>