﻿
@using Entity.GERENCIADORPORTAL
@using WebAppMvc.Areas.Desapropriacao.Models

@model model_desapropriacao_observacao

@{
    var listaPendencia = ((List<model_desapropriacao_observacao>)ViewBag.ListModelPendencia);

}
<div class="box-body">

    <input id="userNameCreateObservacao" type="hidden" value="@(((tab_usuario) Session["objUsuario"]).usu_nome_login)" />
    <input id="userIdCreateObservacao" type="hidden" value="@(((tab_usuario)Session["objUsuario"]).usu_id)" />

    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dob_descricao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dob_descricao)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextAreaFor(model => model.dob_descricao, htmlAttributes: new { style = "height: 110px;", @class = "form-control", maxlength = "500", placeholder = "Descrição da Observação" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" id="btnAdicionarObservacao"><i class="fa fa-plus-square"></i>  Adicionar</button>
        </div>
    </div>

    <div id="divGridObservacao" class="form-group" style="display: none">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_observacao">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Cadastrado Por</th>
                            <th>Dt. Cadastro</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in listaPendencia.Select((r, i) => new { Row = r, Index = i }))
                        {
                            <tr id="tr_table_observacao_@(item.Index)">
                                <td> @(item.Row.dob_descricao)</td>
                                <td> @(item.Row.dob_cadastro_usuario)</td>
                                <td> @(item.Row.dob_cadastro_dt.ToString("g")) </td>
                                <td>

                                    <span class="fa fa-trash" alt="Exluir" title="Excluir" style="cursor: pointer" id="btnExcluirPendencia" onclick=" DeleteObservacao(@(item.Index)); "></span>

                                    <input type="hidden" value="@(item.Row.des_id)" name="list_model_desapropriacao_observacao[@(item.Index)].des_id" id="model_desapropriacao_observacao_des_id_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dob_id)" name="list_model_desapropriacao_observacao[@(item.Index)].dob_id" id="model_desapropriacao_observacao_dob_id_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dob_acao)" name="list_model_desapropriacao_observacao[@(item.Index)].dob_acao" id="model_desapropriacao_observacao_dob_acao_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dob_descricao)" name="list_model_desapropriacao_observacao[@(item.Index)].dob_descricao" id="model_desapropriacao_observacao_dob_descricao_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.usu_id)" name="list_model_desapropriacao_observacao[@(item.Index)].usu_id" id="model_desapropriacao_observacao_usu_id_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dob_cadastro_usuario)" name="list_model_desapropriacao_observacao[@(item.Index)].dob_cadastro_usuario" id="model_desapropriacao_observacao_dob_cadastro_usuario_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dob_cadastro_dt)" name="list_model_desapropriacao_observacao[@(item.Index)].dob_cadastro_dt" id="model_desapropriacao_observacao_dob_cadastro_dt_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.userCreate)" name="list_model_desapropriacao_observacao[@(item.Index)].userCreate" id="model_desapropriacao_observacao_userCreate_@(item.Index)" />
                                    <input type="hidden" value="@(item.Row.dtCreate)" name="list_model_desapropriacao_observacao[@(item.Index)].dtCreate" id="model_desapropriacao_observacao_dtCreate_@(item.Index)" />

                                </td>
                            </tr>
                        }

                        @if (listaPendencia.Count > 0)
                        {
                            <script type="text/javascript">
                                $("#divGridObservacao").css({ "display": "inline" });
                            </script>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">

    function AdicionarPendencia() {

        $("#divGridObservacao").css({ "display": "inline" });

        var index = $("#table_observacao > tbody > tr").length;

        var model_desapropriacao_observacao_dob_descricao = $("#dob_descricao").val();

        var model_desapropriacao_observacao_usu_id = $("#userIdCreateObservacao").val();

        var model_desapropriacao_observacao_dob_acao = 1;

        var model_desapropriacao_observacao_dob_cadastro_usuario = $("#userNameCreateObservacao").val();
        var model_desapropriacao_observacao_dob_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var model_desapropriacao_observacao_userCreate = $("#userNameCreateObservacao").val();
        var model_desapropriacao_observacao_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var tbody = $("#table_observacao").find("tbody");

        var gvRow = '';

        gvRow += "<tr id=\"tr_table_observacao_" + index + "\">";
        gvRow += "<td>" + model_desapropriacao_observacao_dob_descricao + "</td>";
        gvRow += "<td>Pendênte</td>";
        gvRow += "<td>" + model_desapropriacao_observacao_dob_cadastro_usuario + "</td>";
        gvRow += "<td>" + model_desapropriacao_observacao_dob_cadastro_dt + "</td>";
        gvRow += "<td></td>";
        gvRow += "<td></td>";
        gvRow += "<td><span class=\"fa fa-trash\" alt=\"Exluir\" title=\"Excluir\" style=\"cursor:pointer\" id=\"btnExcluirPendencia\" onclick=\"DeleteObservacao(" + index + ")\"></span>";

        gvRow += '<input type="hidden" value="0" name="list_model_desapropriacao_observacao[' + index + '].dob_id" id="model_desapropriacao_observacao_dob_id_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_observacao_dob_descricao + '" name="list_model_desapropriacao_observacao[' + index + '].dob_descricao" id="model_desapropriacao_observacao_dob_descricao_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_observacao_usu_id + '" name="list_model_desapropriacao_observacao[' + index + '].usu_id" id="model_desapropriacao_observacao_usu_id_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_observacao_dob_acao + '" name="list_model_desapropriacao_observacao[' + index + '].dob_acao" id="model_desapropriacao_observacao_dob_acao_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_observacao_dob_cadastro_usuario + '" name="list_model_desapropriacao_observacao[' + index + '].dob_cadastro_usuario" id="model_desapropriacao_observacao_dob_cadastro_usuario_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_observacao_dob_cadastro_dt + '" name="list_model_desapropriacao_observacao[' + index + '].dob_cadastro_dt" id="model_desapropriacao_observacao_dob_cadastro_dt_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_observacao_userCreate + '" name="list_model_desapropriacao_observacao[' + index + '].userCreate" id="model_desapropriacao_observacao_userCreate_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_observacao_dtCreate + '" name="list_model_desapropriacao_observacao[' + index + '].dtCreate" id="model_desapropriacao_observacao_dtCreate_' + index + '"/>';

        gvRow += '</td></tr>';

        tbody.append(gvRow);


        $("#dob_descricao").val('');
    }

    function ValidacaoPendencia() {

        $("#btnAdicionarObservacao").click(function (e) {

            if (validaFormularioDiv('tabObservacao')) {
                AdicionarPendencia();
            }
        });
    };

    function DeleteObservacao(index) {
        BootstrapDialog.show({
            title: "<b>Confirma&ccedil;&atilde;o</b>",
            message: 'Deseja realmente excluir esta observação?',
            type: BootstrapDialog.TYPE_PRIMARY,
            buttons: [
                    {
                        label: "N&atilde;o",
                        cssClass: "btn btn-default active",
                        action: function (dialog) {
                            dialog.close();
                        }
                    },
                    {
                        label: "Sim",
                        cssClass: "btn btn-default active",
                        action: function (dialog) {
                            dialog.close();

                            jQuery("#model_desapropriacao_observacao_dob_acao_" + index).val('3');

                            if ($("#model_desapropriacao_observacao_dob_id_" + index).val() !== "0") {

                                $("#tr_table_observacao_" + index + " td:nth-child(5)").append('<input type="hidden" value="' + $("#userNameCreateObservacao").val() + '" name="list_model_desapropriacao_observacao[' + index + '].userDelete" id="model_desapropriacao_observacao_userDelete_' + index + '"/>');
                                $("#tr_table_observacao_" + index + " td:nth-child(5)").append('<input type="hidden" value="' + $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes() + '" name="list_model_desapropriacao_observacao[' + index + '].dtDelete" id="model_desapropriacao_observacao_dtDelete_' + index + '"/>');
                            }

                            $("#tr_table_observacao_" + index + "").css({ "display": "none" });

                            if ($("#table_observacao > tbody > tr:visible").length === 0) {

                                $("#divGridObservacao").css({ "display": "none" });
                            }
                        }
                    }
            ]
        });
    }


    function StatusPendencia(index) {
        BootstrapDialog.show({
            title: "<b>Confirma&ccedil;&atilde;o</b>",
            message: 'Deseja realmente alterar o status desta pendência?',
            type: BootstrapDialog.TYPE_PRIMARY,
            buttons: [
            {
                label: "N&atilde;o",
                cssClass: "btn btn-default active",
                action: function (dialog) {
                    dialog.close();
                }
            },
            {
                label: "Sim",
                cssClass: "btn btn-default active",
                action: function (dialog) {
                    dialog.close();

                    $("#model_desapropriacao_observacao_dob_acao_" + index).val('2');
                    $("#model_desapropriacao_observacao_dob_status_" + index).val('2');
                    $("#model_desapropriacao_observacao_dob_concluido_usuario_" + index).val($("#userNameCreateObservacao").val());
                    $("#model_desapropriacao_observacao_dob_concluido_dt_" + index).val($.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes());

                    $("#tr_table_observacao_" + index + " td:nth-child(2)").text('Concluido');
                    $("#tr_table_observacao_" + index + " td:nth-child(5)").text($("#userNameCreateObservacao").val());
                    $("#tr_table_observacao_" + index + " td:nth-child(6)").text($.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes());
                    $("#tr_table_observacao_" + index + " td:nth-child(7) > span").eq(0).css({ "display": "none" });

                    $("#tr_table_observacao_" + index + " td:nth-child(5)").append('<input type="hidden" value="' + $("#userNameCreateObservacao").val() + '" name="list_model_desapropriacao_observacao[' + index + '].userLastUpdate" id="model_desapropriacao_observacao_userLastUpdate_' + index + '"/>');
                    $("#tr_table_observacao_" + index + " td:nth-child(5)").append('<input type="hidden" value="' + $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes() + '" name="list_model_desapropriacao_observacao[' + index + '].dtLastUpdate" id="model_desapropriacao_observacao_LastUpdate_' + index + '"/>');

                }
            }
            ]
        });
    }





    jQuery(document).ready(function () {
        ValidacaoPendencia();
    });

</script>