﻿<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login - Sistema</title>
    @Styles.Render("~/Content/Css") 
    @Scripts.Render("~/Script/Jquery")
    <!--[if lte IE 9]>
        @Scripts.Render("~/Script/JqueryIE9")
    <![endif]-->
    @Scripts.Render("~/Script/Unobtrusive")
    @Scripts.Render("~/Script/JqueryUi") 
    @Scripts.Render("~/Script/Boot") 
    @Scripts.Render("~/Script/Modal") 
    @Scripts.Render("~/Script/Plugins")
    @Scripts.Render("~/Script/Multiselect")
    @Scripts.Render("~/Script/Grid")
    @Scripts.Render("~/Script/Growl")
    @Scripts.Render("~/Script/Intro")
    @Scripts.Render("~/Script/Charts")
    @Scripts.Render("~/Script/Mask")

    <script src="@Url.Content("~/Scripts/Pages/funcoes_validacoes.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Pages/funcoes_genericas.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/Pages/Login/login.js")"></script>
</head>
<body class="hold-transition login-page">
    
    <div> 
        <div class="login-box">
            <div class="login-logo">
            </div>
            <div class="login-box-body">
                <div class="login-box-msg">
                  <img src="@Url.Content("~/Content/Images/logo.png")" width="60" />   
                  SISTEMA <b>SCDES</b>
                </div>
                <div>
                
                @using (Ajax.BeginForm("ValidarLogin", "Login",null, new AjaxOptions
                {
                    HttpMethod = "Post", 
                    OnSuccess = "onSuccessLogin",
                    OnBegin = "onBeginLogin",
                    OnFailure = "onFailureLogin",
                    LoadingElementId = "loading", 
                    InsertionMode = InsertionMode.Replace,
                }, new { @class = "form-horizontal", @id = "form_login" }))
                {
                    @Html.AntiForgeryToken()
                       <input type="hidden" value='@Request.QueryString["RedirectUrl"]' id="RedirectUrl" name="RedirectUrl"/>
                    
                    
                        <div class="form-group has-feedback">
                            <input type="text" id="usu_login"  name="usu_login" class="form-control" placeholder="Usuário" ToolTip="Digite o Usuário" data-val="true" data-val-required="- digite o usuário."/>
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" id="usu_senha"  name="usu_senha" class="form-control" placeholder="******" ToolTip="Digite a Senha" maxlength="15" data-val="true" data-val-required="- digite a senha."/>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" id="btnLogin" runat="server" class="btn btn-primary btn-block btn-flat"><i class="fa fa-sign-in"></i> Entrar</button>
                        </div>
                    </div>
                }
                 
                     
                 @using (Ajax.BeginForm("AlterarSenha", "Login", new AjaxOptions
                 {
                     HttpMethod = "Post",
                     OnSuccess = "onSuccessSenha",
                     OnBegin = "onBeginSenha",
                     OnFailure = "onFailureSenha",
                     LoadingElementId = "loading",
                     InsertionMode = InsertionMode.Replace,
                 }, new { @style = "display: none;", @class = "form-horizontal", @id = "form_nova_senha" }))
                 {
                    @Html.AntiForgeryToken()
                         <input type="hidden" value="" name="usu_login_hidden" id="usu_login_hidden"/>
                         <input type="hidden" value="" name="usu_senha_hidden"  id="usu_senha_hidden"/>
                     
                        <div class="form-group has-feedback">
                           <input type="password" id="txtSenhaNova" name="txtSenhaNova" class="form-control" data-val="true" data-val-required="- digite a nova senha." placeholder="Nova Senha" maxlength="15" />
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                          <input type="password" id="txtSenhaNovaConfirmar" name="txtSenhaNovaConfirmar" class="form-control" data-val="true" data-val-required="- digite para confirmar a nova senha." placeholder="Confirmar Senha" maxlength="15" />
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="bntTrocarSenha" name="bntTrocarSenha" runat="server" value="Alterar Senha" class="btn btn-primary btn-block btn-flat"/> 
                        </div>
                   
                 }
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="checkbox icheck">
                                <b>Versão 1.0.0</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>