﻿@using Entity.GERENCIADORPORTAL
@model WebAppMvc.Areas.Administrativo.Models.DesapropriacaoIndividualPeritoJudicial.model_desapropriacao_individual_perito_judicial

@{
    ViewBag.Title = "Editar Departamento Responsável";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<section class="content-header">
    <h1>PERITO JUDICIAL</h1>
    <ol class="breadcrumb">
        <li><a href="Index"><i class="fa fa-home"></i> Perito Judicial</a></li>
        <li class="active">Editar</li>
    </ol>
</section>

@using (Ajax.BeginForm("Editar", null, new AjaxOptions
{
    HttpMethod = "Post",
    OnSuccess = "onSuccess",
    OnBegin = "onBegin",
    OnFailure = "onFailure",
    LoadingElementId = "loading",
    InsertionMode = InsertionMode.Replace,
}, new { @class = "form-horizontal", @id = "form_editar" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <div class="box box-info"> 
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-file-text"></i> Editar
                    </h3>
                </div>
                <div class="box-body">
    
                   @{ Html.EnableClientValidation(false); }
                    @Html.HiddenFor(t => t.ipj_id)
                    @Html.HiddenFor(t => t.ipj_ativo)
                    @Html.HiddenFor(t => t.ipj_cadastro_dt)
                    @Html.HiddenFor(t => t.userCreate)
                    @Html.HiddenFor(t => t.dtCreate)
                    @Html.HiddenFor(t => t.userLastUpdate, new { @Value = ((tab_usuario)Session["objUsuario"]).usu_nome_login })
                    @Html.HiddenFor(t => t.dtLastUpdate, new { @Value = DateTime.Now.ToString() }) 
                    @{ Html.EnableClientValidation(true); }

                    <input type="hidden" name="args" id="args" value='@Request.QueryString["args"]'/>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.ipj_nome)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ipj_nome)</label>
                        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
                            @Html.TextBoxFor(model => model.ipj_nome, htmlAttributes: new { @class = "form-control", maxlength = "150", placeholder = "Nome" })
                            <span></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.ipj_email)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ipj_email)</label>
                        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
                            @Html.TextBoxFor(model => model.ipj_email, htmlAttributes: new {@class = "form-control", @data_email_mask = "true", maxlength = "150", placeholder = "Email"})
                            <span></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.ipj_telefone)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ipj_telefone)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            @Html.TextBoxFor(model => model.ipj_telefone, htmlAttributes: new {@class = "form-control", @data_telefone_mask = "true", placeholder = "Telefone"})
                            <span></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.ipj_celular)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ipj_celular)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            @Html.TextBoxFor(model => model.ipj_celular, htmlAttributes: new {@class = "form-control", @data_celular_mask = "true", placeholder = "Celular"})
                            <span></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.ipj_observacao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.ipj_observacao)</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                            @Html.TextAreaFor(model => model.ipj_observacao, htmlAttributes: new { style = "height: 110px;", @class = "form-control", placeholder = "Observação" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary btn-save" id="btnSalvar"> Salvar</button>
                            <button type="button" class="btn btn-primary btn-clear" id="btnLimpar"> Limpar</button>
                            <button type="button" class="btn btn-primary btn-cancel" id="btnCancelar" onclick=" window.location.href = '@Url.Action("Consultar", "DesapropriacaoIndividualPeritoJudicial", new { args = Request.QueryString["args"] })'" > Cancelar</button>
                            <button type="button" class="btn btn-primary btn-search" id="btnNovaConsulta" onclick="window.location='Consultar'"> Nova Consulta</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
}
<script src="@Url.Content("~/Scripts/Pages/Administrativo/DesapropriacaoIndividualPeritoJudicial/_editar.js")" type="text/javascript"></script>
