﻿@model WebAppMvc.Areas.Desapropriacao.Models.model_desapropriacao_individual

<fieldset>
    <legend>model_desapropriacao_individual</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_geral_documento_numero)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_geral_documento_numero)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_guid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_guid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_geral_revisao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_geral_revisao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_geral_emissao_dt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_geral_emissao_dt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_geral_emp_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_geral_emp_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_geral_elaborador)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_geral_elaborador)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_geral_responsavel_tecnico)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_geral_responsavel_tecnico)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_geral_objeto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_geral_objeto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_empreendimento_auto_decreto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_empreendimento_auto_decreto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_empreendimento_lote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_empreendimento_lote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_empreendimento_dup_codigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_empreendimento_dup_codigo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_empreendimento_dup_dt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_empreendimento_dup_dt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_empreendimento_rodovia_sp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_empreendimento_rodovia_sp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_empreendimento_rodovia_nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_empreendimento_rodovia_nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_empreendimento_rodovia_trecho)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_empreendimento_rodovia_trecho)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_empreendimento_rodovia_km_inicial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_empreendimento_rodovia_km_inicial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_empreendimento_rodovia_km_final)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_empreendimento_rodovia_km_final)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_cep)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_cep)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_logradouro_numero)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_logradouro_numero)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_logradouro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_logradouro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_logradouro_complemento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_logradouro_complemento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_mun_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_mun_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_est_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_est_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_bairro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_bairro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_contribuinte_tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_contribuinte_tipo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_contribuinte_numero)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_contribuinte_numero)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_cartorio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_cartorio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_matricula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_matricula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_desapropriacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_desapropriacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_comarca)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_comarca)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_estaca_inicial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_estaca_inicial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_estaca_final)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_estaca_final)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_km_inicial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_km_inicial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_km_final)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_km_final)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_latitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_latitude)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_longitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_longitude)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_dominio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_dominio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_prioridade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_prioridade)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_autos_numero)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_autos_numero)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_autos_dt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_autos_dt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_propriedade_validar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_propriedade_validar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_conducao_anuencia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_conducao_anuencia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_conducao_valor_total)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_conducao_valor_total)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_conducao_pgto_previsao_dt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_conducao_pgto_previsao_dt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_conducao_ist_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_conducao_ist_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_conducao_situacao_desapropriacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_conducao_situacao_desapropriacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_conducao_situacao_desapropriacao_obs)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_conducao_situacao_desapropriacao_obs)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_conducao_ipj_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_conducao_ipj_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_conducao_iat_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_conducao_iat_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_conducao_validar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_conducao_validar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_interessados_proprietario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_interessados_proprietario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_interessados_logradouro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_interessados_logradouro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_interessados_logradouro_complemento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_interessados_logradouro_complemento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_interessados_contribuinte_codigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_interessados_contribuinte_codigo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_interessados_observacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_interessados_observacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_interessados_validar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_interessados_validar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_ipe_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_ipe_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_zti_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_zti_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_infraestrutura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_infraestrutura)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_equipamento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_equipamento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_servico)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_servico)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_area_terreno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_area_terreno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_area_necessaria)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_area_necessaria)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_area_porcentagem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_area_porcentagem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_perimetro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_perimetro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_top_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_top_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_sco_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_sco_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_restricao_uso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_restricao_uso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_curso_dagua)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_curso_dagua)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_recurso_minerais)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_recurso_minerais)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_terreno_ocupacoes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_terreno_ocupacoes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_sus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_sus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_delimitacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_delimitacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_atividade_economica)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_atividade_economica)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_posicionamento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_posicionamento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_frontal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_frontal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_fundo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_fundo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_lateral_esquerda)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_lateral_esquerda)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_lateral_direita)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_lateral_direita)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_imovel_validar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_imovel_validar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_benfeitorias)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_benfeitorias)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_benfeitorias_validar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_benfeitorias_validar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_memorial_descritivo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_memorial_descritivo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_memorial_descritivo_validar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_memorial_descritivo_validar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_planta_propriedade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_planta_propriedade)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_planta_propriedade_validar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_planta_propriedade_validar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_laudo_avaliacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_laudo_avaliacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_laudo_avaliacao_validar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_laudo_avaliacao_validar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_anexos_validar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_anexos_validar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_pendencias_validar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_pendencias_validar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_registro_fotograficos_validar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_registro_fotograficos_validar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.din_cadastro_dt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.din_cadastro_dt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.des_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.des_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.userCreate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userCreate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dtCreate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dtCreate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.userLastUpdate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userLastUpdate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dtLastUpdate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dtLastUpdate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.userDelete)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userDelete)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dtDelete)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dtDelete)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.din_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
