﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RelatorioDesapropriacao.aspx.cs" Inherits="WebAppMvc.Areas.Relatorio.WebForms.RelatorioDesapropriacao1" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ScriptManager ID="ScriptManager" runat="server"></asp:ScriptManager>
        <rsweb:ReportViewer ID="ReportViewer" runat="server"></rsweb:ReportViewer>
    </div>
    </form>
</body>
</html>
