﻿@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<script>
    function helpOnline() {
        var intro = introJs();
        intro.exit();
        intro.setOptions({
            steps: [
                {
                    //element: '#pnlCadastrar .agenda-block-panel',
                    //intro: "Para cadastrar um novo departamento responsável clique aqui NOVO.",
                    //position: 'left'
                },
                {
                    //element: '#pnlPesquisar .agenda-block-panel',
                    //intro: "Para pesquisar os departamentos responsáveis já cadastrado clique aqui PESQUISAR.",
                    //position: 'right'
                }
            ]
        });

        intro.start();
    }
</script>

<section class="content-header">
    <h1>HOME</h1>
    <ol class="breadcrumb"> 
        <li class="active"><i class="fa fa-home"></i> Home</li>
    </ol> 
</section>
    <section class="jumbotron">
    <div class="container">
        <div class="row">
        


        </div>
    </div>
</section> 