﻿@{
    ViewBag.Title = "404 página  não encontrada";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

       <div class="content-wrapper" style="min-height: 1000px;">
            <section class="content">
                <section class="content-header">
                    <h1>
                         404   
                    </h1>

                    <ol class="breadcrumb"><li><a href="~/Home" set-class="menu"><i class="fa fa-dashboard"></i> Home</a></li><li class="active">404</li></ol>
                </section>

          
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-red"> 404</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-red"></i> Oops! Pagína não encontrada.</h3>

          <p>
             Entre em contato com o adminstrador do sistema.<br/><br/>
             Clique <a href="javascript:window.history.go(-1)">aqui</a> para voltar.
          </p>
      </div>
      </div>
      </section>



    </section>
</div>