﻿@{
    ViewBag.Title = "Acesso negado";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<section class="jumbotron">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div style="text-align: center">
                <hgroup class="title">
                    <h4>
                        <h3><i class="fa fa-warning text-red"></i> Oops! Acesso negado.
                    </h3>
                    </h4>
                    <h5>
                        <b>Mais Detalhe(s):</b> Este usuário não possui acesso a esta página, favor entre em contato com o administrador do sistema. 
                    </h5>
                    <br/>
                    Clique <a href="javascript:window.history.go(-1)">aqui</a> para voltar.

                </hgroup>


                 </div>
            </div>
        </div>
    </div>

</section>

