﻿@using Suporte.Criptografia
@{
    ViewBag.Title = "Erro Desconhecido";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}


<div class="content-wrapper" style="min-height: 1000px;">
            <section class="content">
                <section class="content-header">
                    <h1>
                         Erro   <small> Desconhecido </small>
                    </h1>

                    <ol class="breadcrumb"><li><a href="~/Home" set-class="menu"><i class="fa fa-dashboard"></i> Home</a></li><li class="active">Erro Desconhecido</li></ol>
                </section>

            
                   <div align="center">
                    <div style="padding-top: 90px">
                        <img src="\Content\Images\error.png" />
                    </div>
                    <br />
                       <div align="center" style="margin-top: -15px;">
                           <h3><i class="fa fa-warning text-red"></i>
                               Ocorreu um erro desconhecido no sistema. Entre em contato com o suporte.
                           </h3>
                       </div>
                        <h5>
                        <b>Mais Detalhe(s):</b>
                        @{
                            if (Request.QueryString["msgErro"] != null)
                            {
                                <span> @Cripto.Decrypt(Request.QueryString["msgErro"])</span>
                            }
                        }
                    </h5>
                    <p>
                       Clique <a href="javascript:window.history.go(-1)">aqui</a> para voltar.
                    </p>
                </div>
    </section>
</div>



