﻿@using Entity.GERENCIADORPORTAL
@model WebAppMvc.Areas.Desapropriacao.Models.model_desapropriacao

@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<script src="~/Scripts/jQuery.FileStyle/src/bootstrap-filestyle.js" type="text/javascript"></script>

<section class="content-header">
    <h1>
        DESAPROPRIAÇÃO PROJETO
    </h1>
    <ol class="breadcrumb">
        <li><a href="Index"><i class="fa fa-home"></i> Desapropriação Projeto</a></li>
        <li class="active">Novo</li>
    </ol>
</section>

@using (Ajax.BeginForm("Cadastrar", null, new AjaxOptions
{
    HttpMethod = "Post",
    OnSuccess = "onSuccess",
    OnBegin = "onBegin",
    OnFailure = "onFailure",
    LoadingElementId = "loading",
    InsertionMode = InsertionMode.Replace
}, new { @class = "form-horizontal", @id = "form_cadastro", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-file-text"></i> Novo
                    </h3>
                </div>
                <div class="box-body">

                    @{ Html.EnableClientValidation(false); }
                    @Html.HiddenFor(t => t.des_cadastro_dt, new { @Value = DateTime.Now.ToString("g") })
                    @Html.HiddenFor(t => t.userCreate, new { @Value = ((tab_usuario)Session["objUsuario"]).usu_nome_login })
                    @Html.HiddenFor(t => t.dtCreate, new { @Value = DateTime.Now.ToString("g") })
                    @{ Html.EnableClientValidation(true); }

                    <div class="panel with-nav-tabs panel-primary">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tabGerais">DADOS GERAIS</a></li>
                                <li class=""><a data-toggle="tab" onclick="DropDownAutoComplete.Upd();" href="#tabEmitente">EMITENTE</a></li>
                                <li class=""><a data-toggle="tab" onclick="DropDownAutoComplete.Upd();" href="#tabLocalidade">LOCALIDADE</a></li>
                                <li class=""><a data-toggle="tab" onclick="DropDownAutoComplete.Upd();" href="#tabFonteRecurso">CONTRATOS</a></li>
                                <li class=""><a data-toggle="tab" onclick="DropDownAutoComplete.Upd();" href="#tabEmpreendimento">EMPREENDIMENTO</a></li>
                                <li class=""><a data-toggle="tab" href="#tabObservacao">OBSERVAÇÕES</a></li>
                            </ul>
                        </div>

                        <div class="panel-body">
                            <div class="tab-content">

                                <div id="tabGerais" class="tab-pane fade active in">

                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="@Html.DisplayNameFor(model => model.des_projeto_codigo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.des_projeto_codigo)</label>
                                            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                                                @Html.TextBoxFor(model => model.des_projeto_codigo, htmlAttributes: new { @class = "form-control", maxlength = "20", placeholder = "Código do Projeto" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="@Html.DisplayNameFor(model => model.des_nome)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.des_nome)</label>
                                            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                                                @Html.TextBoxFor(model => model.des_nome, htmlAttributes: new { @class = "form-control", maxlength = "70", placeholder = "Nome" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="@Html.DisplayNameFor(model => model.dde_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.dde_id)</label>
                                            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2;">
                                                @Html.DropDownListFor(model => model.dde_id, (IEnumerable<SelectListItem>)ViewBag.CarregarDepartamentoResponsavel, "--selecione--", htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="@Html.DisplayNameFor(model => model.des_descricao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.des_descricao)</label>
                                            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                                                @Html.TextAreaFor(model => model.des_descricao, htmlAttributes: new { style = "height: 110px;", @class = "form-control", placeholder = "Digite a descrição" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="@Html.DisplayNameFor(model => model.des_objetivo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.des_objetivo)</label>
                                            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                                                @Html.TextAreaFor(model => model.des_objetivo, htmlAttributes: new { style = "height: 110px;", @class = "form-control", placeholder = "Digite o Objetivo" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">Periodo</label>
                                            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                                                @Html.TextBoxFor(model => model.des_inicio, htmlAttributes: new { @class = "form-control", @data_date_mask = "true", placeholder = "Dt.Inicio" })
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                                                @Html.TextBoxFor(model => model.des_fim, htmlAttributes: new { @class = "form-control", @data_date_mask = "true", placeholder = "Dt. Final" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="@Html.DisplayNameFor(model => model.des_valor_estimado)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.des_valor_estimado)</label>
                                            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                                                @Html.TextBoxFor(model => model.des_valor_estimado, htmlAttributes: new { @class = "form-control", @data_money_mask = "true", maxlength = "14", placeholder = "R$" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="@Html.DisplayNameFor(model => model.afi_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.afi_id)</label>
                                            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                                                @Html.DropDownListFor(model => model.afi_id, (IEnumerable<SelectListItem>)ViewBag.CarregarAgenteFinanciador, "--selecione--", htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="@Html.DisplayNameFor(model => model.reg_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.reg_id)</label>
                                            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                                                @Html.DropDownListFor(model => model.reg_id, (IEnumerable<SelectListItem>)ViewBag.CarregarRegional, "--selecione--", htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="@Html.DisplayNameFor(model => model.dst_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.dst_id)</label>
                                            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                                                @Html.DropDownListFor(model => model.dst_id, (IEnumerable<SelectListItem>)ViewBag.CarregarStatus, "--selecione--", htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="pull-right">

                                                <button type="button" class="btn btn-default next-tab"><span class="glyphicon glyphicon-chevron-right"></span> Próximo</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="tabEmitente" class="tab-pane fade">
                                    @Html.Partial("Partial/Cadastrar/_Emitente")
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-default previous-tab"><span class="glyphicon glyphicon-chevron-left"></span> Voltar</button>
                                                <button type="button" class="btn btn-default next-tab"><span class="glyphicon glyphicon-chevron-right"></span> Próximo</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="tabLocalidade" class="tab-pane fade">
                                    @Html.Partial("Partial/Cadastrar/_Localidade")
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-default previous-tab"><span class="glyphicon glyphicon-chevron-left"></span> Voltar</button>
                                                <button type="button" class="btn btn-default next-tab"><span class="glyphicon glyphicon-chevron-right"></span> Próximo</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="tabFonteRecurso" class="tab-pane fade">
                                    @Html.Partial("Partial/Cadastrar/_FonteRecurso")
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-default previous-tab"><span class="glyphicon glyphicon-chevron-left"></span> Voltar</button>
                                                <button type="button" class="btn btn-default next-tab"><span class="glyphicon glyphicon-chevron-right"></span> Próximo</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="tabEmpreendimento" class="tab-pane fade">
                                    @Html.Partial("Partial/Cadastrar/_Empreendimento")
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-default previous-tab"><span class="glyphicon glyphicon-chevron-left"></span> Voltar</button>
                                                <button type="button" class="btn btn-default next-tab"><span class="glyphicon glyphicon-chevron-right"></span> Próximo</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="tabObservacao" class="tab-pane fade">
                                    @Html.Partial("Partial/Cadastrar/_Observacao")
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-default previous-tab"><span class="glyphicon glyphicon-chevron-left"></span> Voltar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary btn-save" id="btnSalvar" data-roles="true"> Salvar</button>
                            <button type="button" class="btn btn-primary btn-clear" id="btnLimpar"> Limpar</button>
                            <button type="button" class="btn btn-primary btn-search" id="btnNovaPesquisa" onclick=" window.location='Consultar' " data-roles="true"> Nova Consulta</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <script src="~/Scripts/Pages/Desapropriacao/DesapropriacaoProjeto/_cadastrar.js" type="text/javascript"></script>
    <script src="~/Scripts/jQuery.FileStyle/src/bootstrap-filestyle.js" type="text/javascript"></script>
    <script src="~/Scripts/jQuery.Panels/snippets.js" type="text/javascript"></script>
}
<script>
    $(document).ready(function () {
        $("#des_inicio").blur(function () {
            verificarPeriodo();
        });
    });

    function verificarPeriodo() {
        var $valor = $("#des_inicio").val();
        if ($valor) {
            var $erro = "";
            var expReg = /^((0[1-9]|[12][0-9]|3[01])\/(0[1-9]|1[012])\/[1-2][0-9]\d{2})$/;
            if ($valor.match(expReg)) {
                var $dia = parseFloat($valor.substring(0, 2));
                var $mes = parseFloat($valor.substring(3, 5));
                var $ano = parseFloat($valor.substring(6, 10));
                if (($mes === 4 && $dia > 30) || ($mes === 6 && $dia > 30) || ($mes === 9 && $dia > 30) || ($mes === 11 && $dia > 30)) {
                    $erro = "Data incorreta! O mês especificado na data " + $valor + " contém 30 dias.";
                }
                else {
                    if ($ano % 4 !== 0 && $mes === 2 && $dia > 28) {
                        $erro = "Data incorreta! O mês especificado na data " + $valor + " contém 28 dias.";
                    }
                    else {
                        if ($ano % 4 === 0 && $mes === 2 && $dia > 29) {
                            $erro = "Data incorreta! O mês especificado na data " + $valor + " contém 29 dias.";
                        }
                    }
                }
            }
            else {
                $erro = "Formato de Data para " + $valor + " é inválido";
            }

            if ($erro === "") {
                var array = $valor.split("/");
                var dataFim = new Date(array[2], array[1] - 1, array[0]);
                dataFim.setFullYear(dataFim.getFullYear() + 5);

                $("#des_fim").val(pad(dataFim.getDate(), 2) + "/" + pad((dataFim.getMonth() + 1), 2) + "/" + dataFim.getFullYear());
            }
        }
    }

    function pad(str, max) {
        str = str.toString();
        return str.length < max ? pad("0" + str, max) : str;
    }
</script>