﻿@model WebAppMvc.Areas.Desapropriacao.Models.Filtro.model_desapropriacao_filtro
@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<section class="content-header">
    <h1>DESAPROPRIAÇÃO PROJETO</h1>
    <ol class="breadcrumb">
        <li><a href="Index"><i class="fa fa-home"></i> Desapropriação Projeto</a></li>
        <li class="active"> Pesquisar</li>
    </ol>
</section>

<section class="content">
    <form id="form_consulta" class="form-horizontal search">
        @Html.AntiForgeryToken()
        @{ Html.EnableClientValidation(false); }

        @{ Html.EnableClientValidation(true); }
        <div class="row">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-search"></i> Pesquisar
                    </h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.des_projeto_codigo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.des_projeto_codigo)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            @Html.TextBoxFor(model => model.des_projeto_codigo, htmlAttributes: new {@class = "form-control", maxlength = "10", placeholder = "Código do Projeto"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.des_nome)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.des_nome)</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                            @Html.TextBoxFor(model => model.des_nome, htmlAttributes: new {@class = "form-control", maxlength = "70", placeholder = "Nome"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.dde_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.dde_id)</label>
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3;">
                            @Html.DropDownListFor(model => model.dde_id, (IEnumerable<SelectListItem>) ViewBag.CarregarDepartamentoResponsavel, "--selecione--", htmlAttributes: new {@class = "form-control"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.dem_auto_decreto)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.dem_auto_decreto)</label>
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                            @Html.TextBoxFor(model => model.dem_auto_decreto, htmlAttributes: new {@class = "form-control", maxlength = "30", @data_autosdodecreto_mask = "true", placeholder = "Nº Auto de Decreto"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.dem_dup_codigo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.dem_dup_codigo)</label>
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                            @Html.TextBoxFor(model => model.dem_dup_codigo, htmlAttributes: new {@class = "form-control", maxlength = "20", placeholder = "Código DUP"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.dem_dup_dt)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.dem_dup_dt)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            @Html.TextBoxFor(model => model.dem_dup_dt, htmlAttributes: new {@Value = "", @class = "form-control", @data_date_mask = "true", placeholder = "Data"})
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.reg_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.reg_id)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            @Html.DropDownListFor(model => model.reg_id, (IEnumerable<SelectListItem>) ViewBag.CarregarRegional, "--selecione--", htmlAttributes: new {@class = "form-control"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.afi_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.afi_id)</label>
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                            @Html.DropDownListFor(model => model.afi_id, (IEnumerable<SelectListItem>) ViewBag.CarregarAgenteFinanciador, "--selecione--", htmlAttributes: new {@class = "form-control"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.dst_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.dst_id)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            @Html.DropDownListFor(model => model.dst_id, (IEnumerable<SelectListItem>) ViewBag.CarregarStatus, "--selecione--", htmlAttributes: new {@class = "form-control"})
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-12 col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-sm-10">
                            <button type="button" class="btn btn-primary btn-search" id="btnPesquisar" data-roles="true">Pesquisar</button>
                            <button type="button" class="btn btn-primary btn-clear" id="btnLimpar">Limpar</button>
                            <button type="button" class="btn btn-primary btn-new" id="btnNovoCadastro" data-roles="true" onclick=" window.location = 'Cadastrar' ">Novo Cadastro</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div id="divGrid" class="form-group" style="display: none">
                <div class="box">
                    <div class="box-header">
                        <table class="table table-striped table-bordered" id="table_consulta"></table>


                        <input type="hidden" name="tamanhoPagina" id="tamanhoPagina" value="@Model.pageIndex"/>
                        <input type="hidden" name="tamanhoCombo" id="tamanhoCombo" value="@Model.pageSize"/>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>

<script src="@Url.Content("~/Scripts/Pages/Desapropriacao/DesapropriacaoProjeto/_consultar.js")" type="text/javascript"></script>

@if (!string.IsNullOrEmpty(Request.QueryString["args"]))
{
    <script type="text/javascript">
        CriarTabela();
    </script>
}