﻿@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<script>
    function helpOnline() {
        var intro = introJs();
        intro.exit();
        intro.setOptions({
            steps: [
                {
                    element: '#pnlCadastrar .agenda-block-panel',
                    intro: "Para cadastrar um novo departamento responsável clique aqui NOVO.",
                    position: 'left'
                },
                {
                    element: '#pnlPesquisar .agenda-block-panel',
                    intro: "Para pesquisar os departamentos responsáveis já cadastrado clique aqui PESQUISAR.",
                    position: 'right'
                }
            ]
        });

        intro.start();
    }
</script>

<section class="content-header">
    <h1>DESAPROPRIAÇÃO PROJETO</h1>
    <ol class="breadcrumb"> 
        <li class="active"><i class="fa fa-home"></i> Desapropriação Projeto</li>
    </ol> 
</section>
    <section class="jumbotron">
    <div class="container">
        <div class="row">

            <div id="pnlCadastrar" data-roles="true">
                <div class="agenda-block-panel col-md-6">
                    <a href="@(Url.Action("Cadastrar", "DesapropriacaoProjeto"))">
                        <h2>
                            Novo Projeto
                        </h2>
                        <h1>
                            <i class="fa fa-file-text"></i>
                        </h1>
                        <p class="panel-item-description">
                            Cadastre um novo projeto de desapropriação.
                        </p>
                    </a>
                </div>
            </div>

            <div id="pnlConsultar" data-roles="true">
                <div class="agenda-block-panel col-md-6">
                    <a href="@(Url.Action("Consultar", "DesapropriacaoProjeto"))">
                        <h2>
                            Pesquisar
                        </h2>
                        <h1>
                            <i class="fa fa-search"></i>
                        </h1>
                        <p class="panel-item-description">
                            Pesquise os projetos de desapropriações cadastrados.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> 