﻿
@model WebAppMvc.Areas.Desapropriacao.Models.model_desapropriacao

<form class="form-horizontal" >
    <div class="row" style="min-height: 400px; max-height: 600px; overflow: auto;">
    <div class="box-body">

    <div class=" box box-default">
        <div class="box-header with-border">
            <h3 class="box-title" data-widget="collapse">DADOS GERAIS</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" type="button"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.des_projeto_codigo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 text-right">@Html.DisplayNameFor(model => model.des_projeto_codigo)</label>
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                            <span class="text-right" style="color: blue">@Model.des_projeto_codigo</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.des_nome)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 text-right">@Html.DisplayNameFor(model => model.des_nome)</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                            <span style="color: blue">@Model.des_nome</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.dde_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 text-right">@Html.DisplayNameFor(model => model.dde_id)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2;">
                            <span style="color: blue">@Model.model_desapropriacao_departamento.dde_nome</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.des_descricao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 text-right">@Html.DisplayNameFor(model => model.des_descricao)</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                            <span style="color: blue">@Model.des_descricao</span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.des_objetivo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 text-right">@Html.DisplayNameFor(model => model.des_objetivo)</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                            <span style="color: blue">@Model.des_objetivo</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 text-right">Periodo</label>
                        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                            <span style="color: blue">@string.Format("{0:d}", Model.des_inicio)</span> até <span style="color: blue">@string.Format("{0:d}", Model.des_fim)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.des_valor_estimado)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 text-right">@Html.DisplayNameFor(model => model.des_valor_estimado)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            <span style="color: blue">@Model.des_valor_estimado</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="@Html.LabelFor(model => model.afi_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 text-right">@Html.DisplayNameFor(model => model.afi_id)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            <span style="color: blue">@Model.afi_nome</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="@Html.LabelFor(model => model.reg_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 text-right">@Html.DisplayNameFor(model => model.reg_id)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            <span style="color: blue">@Model.reg_nome</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="@Html.LabelFor(model => model.dst_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 text-right">@Html.DisplayNameFor(model => model.dst_id)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            <span style="color: blue">@Model.model_desapropriacao_status.dst_nome</span>
                        </div>
                    </div>

                </div>
    </div>

    <div class=" box box-default collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title" data-widget="collapse">LOCALIDADE</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" type="button"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="box-body">
        <div id="divGridLocalidade" class="form-group" style="display: none">
                <table class="table table-striped table-bordered" id="table_localidade">
                    <thead>
                    <tr>
                        <th>Estado</th>
                        <th>Município</th>
                        <th>Dt. Cadastro</th>
                    </tr>
                    </thead>
                    <tbody>

                    @foreach (var item in Model.list_model_desapropriacao_localidade.Select((r, i) => new {Row = r, Index = i}))
                    {
                        <tr id="tr_table_localidade_@(item.Index)">
                            <td>@(item.Row.est_nome)</td>
                            <td>@(item.Row.mun_nome)</td>
                            <td>@(item.Row.dlo_cadastro_dt.ToString("d"))</td>
                        </tr>
                    }

                    @if (Model.list_model_desapropriacao_localidade.Count > 0)
                    {
                        <script type="text/javascript">
                            $("#divGridLocalidade").css({ "display": "inline" });
                        </script>
                    }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class=" box box-default collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title" data-widget="collapse">CONTRATOS</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" type="button"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="box-body">
        <div id="divGridFonteRecurso" class="form-group" style="display: none">
                <div class="box-header">
                    <table class="table table-striped table-bordered" id="table_fonte_recurso">
                        <thead>
                        <tr>
                            <th>Nº Contrato</th>
                            <th>Valor</th>
                            <th>Percentual</th>
                            <th>Dt. Assinatura</th>
                            <th>Dt. Cadastro</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.list_model_desapropriacao_recurso_fonte.Select((r, i) => new {Row = r, Index = i}))
                        {
                            <tr id="tr_table_fonte_recurso_@(item.Index)">
                                <td>@(item.Row.drf_contrato_numero)</td>
                                <td>@(item.Row.drf_valor)</td>
                                <td>@(item.Row.drf_percentual)</td>
                                <td>@(item.Row.drf_assinatura_dt.ToString("d"))</td>
                                <td>@(item.Row.drf_cadastro_dt.ToString("d"))</td>
                            </tr>
                        }

                        @if (Model.list_model_desapropriacao_recurso_fonte.Count > 0)
                        {
                            <script type="text/javascript">
                                $("#divGridFonteRecurso").css({ "display": "inline" });
                            </script>
                        }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class=" box box-default collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title" data-widget="collapse">EMPREENDIMENTO</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" type="button"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div id="divGridEmpreendimento" class="form-group" style="display: none">
                <div class="box-header">
                    <table class="table table-striped table-bordered" id="table_empreendimento">
                        <thead>
                        <tr>
                            <th>SP</th>
                            <th>Km</th>
                            <th>Nº Autos do Decreto</th>
                            <th>Lote</th>
                            <th>Código Dup</th>
                            <th>Dt. Dup</th>
                            <th>Nota de Reserva</th>
                            <th>Anexo</th>
                            <th>Dt. Cadastro</th>
                        </tr>
                        </thead>
                        <tbody>

                        @foreach (var item in Model.list_model_desapropriacao_empreendimento.Select((r, i) => new {Row = r, Index = i}))
                        {
                            <tr id="tr_table_empreendimento_@(item.Index)">
                                <td>@(item.Row.dem_rodovia_sp)</td>
                                <td>@(item.Row.dem_rodovia_km_inicial + " / " + item.Row.dem_rodovia_km_final)</td>
                                <td>@(item.Row.dem_auto_decreto)</td>
                                <td>@(item.Row.dem_lote)</td>
                                <td>@(item.Row.dem_dup_codigo)</td>
                                <td>@(item.Row.dem_dup_dt.ToString("d"))</td>
                                <td>@(item.Row.dem_nota_reserva)</td>
                                <td>@if (!string.IsNullOrEmpty(item.Row.dem_anexo))
                                    {<a title="Download - @item.Row.dem_anexo_nome" onclick=" window.open('@item.Row.dem_anexo_pasta.Replace(@"\", "/").Trim()@item.Row.dem_anexo.Trim()') " style="margin-right: 10px" target="_blank"><i class="fa fa-download"></i></a>}</td>
                                <td>@(item.Row.dem_cadastro_dt.ToString("g"))</td>
                            </tr>
                        }

                        @if (Model.list_model_desapropriacao_empreendimento.Count > 0)
                        {
                            <script type="text/javascript">
                                $("#divGridEmpreendimento").css({ "display": "inline" });
                            </script>
                        }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class=" box box-default collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title" data-widget="collapse">OBSERVAÇÕES</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" type="button"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div id="divGridObservacao" class="form-group" style="display: none">

                <div class="box-header">
                    <table class="table table-striped table-bordered" id="table_observacao">
                        <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Cadastrado Por</th>
                            <th>Dt. Cadastro</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.list_model_desapropriacao_observacao.Select((r, i) => new {Row = r, Index = i}))
                        {
                            <tr id="tr_table_observacao_@(item.Index)">
                                <td> @(item.Row.dob_descricao)</td>
                                <td> @(item.Row.dob_cadastro_usuario)</td>
                                <td> @(item.Row.dob_cadastro_dt.ToString("g")) </td>
                            </tr>
                        }

                        @if (Model.list_model_desapropriacao_observacao.Count > 0)
                        {
                            <script type="text/javascript">
                                $("#divGridObservacao").css({ "display": "inline" });
                            </script>
                        }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    </div>


            </div>
</form>