.required label {
    font-weight: bold;
}
.required:before {
    color: red;
    content: ' * ';
    display:inline;
}
.jumbotron 
{
	background: transparent;
}
.bold {
    font-weight: bold;
}
.footer-datatable 
{
    margin-left: 10px;
    margin-right: 10px;
}

.footer-datatable button, .footer-datatable b {
    margin-right: 5px;
}
/* PROGRESS BAR*/
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    box-shadow: 0 0 10px 0; 
    height: 2px;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#ngProgress-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}
/*FIM PROGRESS BAR*/


/********COR DA TABELA DE CONSULTA********/
table th {
	background: #e6e6e6;
}
/********FIM COR DA TABELA DE CONSULTA********/

/*MODAL BOOSTRAP NO CENTRO*/
.modal-center {
	text-align: center;
	padding: 0 !important;
}

.modal-center:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -4px;
}

.modal-center-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
/*FIM MODAL BOOSTRAP NO CENTRO*/

   

/*ICON PARA BOTOES*/
.btn-relatorio:before {
	 content: "\f085";
    font-family: 'FontAwesome';
    padding-right: 5px;
}


.btn-plus:before {
	content: "\f067";
    font-family: 'FontAwesome';
    padding-right: 5px;
}


.btn-save:before {
	content: "\f0c7";
    font-family: 'FontAwesome';
    padding-right: 5px;
}

.btn-clear:before {
	content: "\f12d";
    font-family: 'FontAwesome';
    padding-right: 5px;
}

.btn-back:before {
	content: "\f0e2";
    font-family: 'FontAwesome';
    padding-right: 5px;
}


.btn-search:before {
	content: "\f002";
    font-family: 'FontAwesome';
    padding-right: 5px;
}


.btn-new:before {
	content: "\f0f6";
    font-family: 'FontAwesome';
    padding-right: 5px;
}

.btn-cancel:before {
	content: "\f0e2";
    font-family: 'FontAwesome';
    padding-right: 5px;
}

/*FIM ICON PARA BOTOES*/



/* TOOLTIP */
.tooltip > .tooltip-inner { 
    min-width: 300px; 
    width: auto; 
} 


/****SEPARADOR DE ELEMENTOS**/

.separator {
    position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;float:left;
}


         .agenda-block-panel {
            height: 300px;
            text-align: center !important;
            font-family: 'Open Sans', sans-serif, verdana;
            font-weight: lighter;
            background: #F9F9F9;
            -webkit-border-radius: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: 0 5px 10px -6px #777;
            box-shadow: 0 5px 10px -6px #777;

        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }

        .agenda-block-panel a {
            color: #000;
            text-decoration: none;
            outline: none;           
        }

        .agenda-block-panel h1 {
            color: #000;
        }

        .agenda-block-panel:hover h1,
        .agenda-block-panel:hover a {
            color: #fff;
        }

        .agenda-block-panel:hover {
            background: #2D6CA2;
            color: #ffffff !important;
            cursor: pointer;
            -webkit-transition: ease-in .5s;
            transition: ease-in .5s;
        }

    .panel-item-description {
        padding: 25px;
    }


    .btnGrid 
    {
        margin-left: 2px;
        margin-right: 2px;
    }
    
.labelCustom {

    font-weight: normal;
}

a.aspNetDisabled[role=aspNetDisabledPersonalizado]
{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
    
  color: #555555;
  background-color: #EEEEEE;
  border-color: #e6e6e6;
}

/*@-moz-document url-prefix() {
    select.form-control {
        padding-right: 25px;
        background-image: url("data:image/svg+xml,\
          <svg version='1.1' xmlns='http://www.w3.org/2000/svg'\
               width='14px' height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'>\
            <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/>\
          </svg>");
        background-repeat: no-repeat;
        background-position: calc(100% - 7px) 50%;
        -moz-appearance: none;
        appearance: none;
        
        
    }
}*/


/*textarea:focus,
input:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus 
{
    background-color: #fff;
  border: 1px solid #66afe9 !important;
  outline: 0;*/
  
  /*outline: thin dotted \9;*/
  /* IE6-9 */
  
  /*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #66afe9 !important;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  
         
}*/

.form-control:focus 
{
    background-color: #fff;
    border: 1px solid #66afe9 !important;
    outline: 0;
    /*outline: thin dotted \9;*/
    /* IE6-9 */
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #66afe9;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #66afe9 !important;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}


.has-error {
    background-color: #fff;
    border: 1px solid #FF4500 !important;
    outline: 0;
    /*outline: thin dotted \9;*/
    /* IE6-9 */
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #FF4500;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #FF4500 !important;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s; 
}


.title-system {
    color: #ffffff; 
    font-size: 18px; 
    margin: 10px 0 0 10px;
    position: absolute
}

.user-header {
    color:#ffffff;
}


.form-control {
    margin-bottom: 0px !important;
}

.row{
    margin-bottom: -10px !important;
}

.control-upload 
{
    margin: 0px 10px 0px 0px;
    width: 100%;
    max-width: 150px;
    text-align: center;
}
input.image-upload
{
    display: none;
}