﻿@* ReSharper disable once Mvc.ActionNotResolved *@
  @using (Ajax.BeginForm("AlterarSenha", "MasterPage", null, new AjaxOptions
  {
      HttpMethod = "Post",
      OnSuccess = "onSuccessAlterarSenha",
      OnBegin = "onBeginAlterarSenha",
      OnFailure = "onFailureAlterarSenha",
      LoadingElementId = "loading",
      InsertionMode = InsertionMode.Replace,
  }, new {@class = "form-horizontal", @id = "form_alterar_senha"}))
  {
      @Html.AntiForgeryToken()
      <!-- MODAL ALTERAR SENHA -->
      <div class="modal fade" id="div_trocar_senha" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top: 15%; overflow-y: visible;">
          <div class="modal-dialog modal-md">
              <div id="div_trocar_senha_content" class="modal-content">
                  <div class="modal-header" style="background-color: #3498db;">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h4 class="modal-title" style="color: white;"><i class="fa fa-key"></i> Alterar Senha</h4>
                  </div>
                  <div class="modal-body">
                      <div class="box-body">
                          <div class="form-group">
                              <label class="col-xs-12 col-sm-3 col-md-3 col-lg-3 control-label text-right required">Senha</label>
                              <div class="col-xs-12 col-sm-8 col-md-6 col-lg-9">
                                  <input type="password" ID="txtSenhaNova" name="txtSenhaNova" class="form-control" data-val="true" data-val-required="- digite a senha." placeholder="******" maxlength="100"/>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-xs-12 col-sm-3 col-md-3 col-lg-3 control-label text-right required">Confirmar Senha</label>
                              <div class="col-xs-12 col-sm-8 col-md-6 col-lg-9">
                                  <input type="password" ID="txtSenhaNovaConfirmar" name="txtSenhaNovaConfirmar" class="form-control" data-val="true" data-val-required="- digite a senha." placeholder="******" maxlength="100"/>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-xs-9 col-xs-offset-3  col-sm-offset-3 col-sm-9">
                                  <input type="submit" ID="btnAlterarSenha" class="btn btn-primary btn-block" value="Alterar Senha"/>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- FIM MODAL ALTERAR SENHA -->
  }