﻿@* ReSharper disable once Mvc.ActionNotResolved *@
@*  @using (Ajax.BeginForm("Login", "Home", null, new AjaxOptions
  {
      HttpMethod = "Post",
      OnSuccess = "onSuccessLogin",
      OnBegin = "onBeginLogin",
      OnFailure = "onFailureLogin",
      LoadingElementId = "loading",
      InsertionMode = InsertionMode.Replace,
  }, new {@class = "form-horizontal", @id = "form_login"}))
  {*@

  <div id="formTrocarSenha" class="form-horizontal">
    <div class="row">
<!-- MODAL DE LOGIN -->
    <div class="modal fade" id="div_login" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top: 15%; overflow-y: visible;">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #3498db;">
                    <h4 class="modal-title" style="color: white;">
                        <i class="fa fa-user"></i> Login</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">

                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">Usuário</label>
                            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-10">
                                <input type="text" id="usu_login" name="usu_login" class="form-control" data-val="true" data-val-required="- digite o login." placeholder="Usuário" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">Senha</label>
                            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-10">
                                <input type="password" id="usu_senha" name="usu_senha" class="form-control" data-val="true" data-val-required="- digite a senha." placeholder="******" maxlength="100"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-sm-10">
                                <input type="submit" id="btnLogin" class="btn btn-primary btn-block" value="Login">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
    <!-- MODAL DE LOGIN -->
@*  }*@

<script type="text/javascript">


    function ValidaLogin() {

        $("#btnLogin").click(function (e) {

            var msg = "";
            var isvalid = true;

            if ($("#usu_login").val().trim().length === 0) { msg += "- digite o usuário.<br/>"; isvalid = false; }
            if ($("#password").val().trim().length === 0) { msg += "- digite a senha.<br/>"; isvalid = false; }

            alert('b');

            if (!isvalid) {

                Mensagens.Modal("Atenção", msg, BootstrapDialog.TYPE_WARNING);
                e.preventDefault();

            } else {

                $.ajax({
                    url: "~/MaterPage/Login",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        usu_login: $('#usu_login').val(),
                        usu_senha: $('#usu_senha').val()
                    }),
                    success: function (result) {

                        MensagemLogin('hide');
                    },
                    error: function (result) {
                        alert(result);
                    }
                });
            }

            return isvalid;
        });
    }

</script>