﻿@using Entity.GERENCIADORPORTAL

<!DOCTYPE html >
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DER</title>
    
    @Styles.Render("~/Content/Css")

    @Scripts.Render("~/Script/Jquery")

    @*[if lte IE 9]>
        @Scripts.Render("~/Script/JqueryIE9")
    <![endif]*@

    @Scripts.Render("~/Script/Unobtrusive")
    @Scripts.Render("~/Script/JqueryUi")
    @Scripts.Render("~/Script/Boot")
    @Scripts.Render("~/Script/Modal")
    @Scripts.Render("~/Script/Plugins")
    
    @Scripts.Render("~/Script/Multiselect")
    @Scripts.Render("~/Script/Grid")
    @Scripts.Render("~/Script/Growl")
    @Scripts.Render("~/Script/Intro")
    @Scripts.Render("~/Script/Mask")
    
    <script src="@Url.Content("~/Scripts/plugins/summernote/text-editor.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/summernote/text-editor-pt-BR.js")" type="text/javascript"></script>
    
    <script src="@Url.Content("~/Scripts/plugins/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/moment-with-locales.min.js")" type="text/javascript"></script>
    
    <script src="@Url.Content("~/Scripts/Pages/funcoes_validacoes.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Pages/funcoes_genericas.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Pages/funcoes_permissoes.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/plugins/lightbox.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jquery.numeric.min.js")" type="text/javascript"></script>
</head>
<body class="skin-blue sidebar-mini">
    <div class="wrapper">
        <!-----------------TOPO-------------------------->
        <header class="main-header">
    <!-- Logo -->
    <a href="~/Home/Index" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels --> 
      <span class="logo-mini"><img src="@Url.Content("~/Content/Images/logo.png")" width="50" /></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img src="@Url.Content("~/Content/Images/logo.png")"  width="75" /></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a> 
       
        <span class="title-system">  
            SCDES - Sistema de Controle de Desapropriação
        </span> 
     
     <div class="navbar-custom-menu">
        <ul class="nav navbar-nav"> 
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown tasks-menu" style="cursor: pointer;">
                <a onclick="helpOnline();">
                    <i class="fa fa-question-circle"></i>
                    AJUDA
                </a>
            </li>

          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <img src="@Url.Content(((tab_usuario)Session["objUsuario"]).usu_url_imagem)" class="user-image" alt="User Image">
              <span class="hidden-xs">@(((tab_usuario)Session["objUsuario"]).usu_nome)</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="@Url.Content(((tab_usuario)Session["objUsuario"]).usu_url_imagem)" class="img-circle" alt="User Image">

                <p>
                    <div>@(((tab_usuario)Session["objUsuario"]).usu_nome_login)</div>
                  <small>@(((tab_usuario)Session["objUsuario"]).tab_perfil.per_nome)</small>
                                    </p>
                                </li>


                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat" onclick="$('#div_trocar_senha').modal('show'); "><i class="fa fa-key"></i> Alterar Senha</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="~/Login/Logoff" class="btn btn-default btn-flat"><i class="fa fa-sign-out"></i> Sair</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->

                    </ul>
                </div>
            </nav>
        </header>
        <!-----------------MENU ESQUERDO-------------------------->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@Url.Content(((tab_usuario)Session["objUsuario"]).usu_url_imagem)" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Nome</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->

                <!-- SLIDEBAR MENU -->
                <ul class="sidebar-menu">
                     @Html.Raw(@ViewBag.Menu)
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <!-- Main Footer -->
        <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            Versão: 1.0.0
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2017 <a href="#">DER</a>.</strong> Todos direitos reservado.
      </footer>
    </div>
    <!-- ./wrapper -->
    @Html.Partial("_AtualizarSenha")
    @RenderPage("_Login.cshtml")
    <!-- CARREGANDO -->
    <div class="modal fade" id="div_carregando" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 9999; padding-top: 15%; overflow-y: visible;">
        <div class="modal-dialog" style="width: 25%">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 style="margin: 0;">
                        Carregando...</h4>
                </div>
                <div class="modal-body">
                    <div class="progress progress-striped active" style="margin-bottom: 0;">
                        <div class="progress-bar" style="width: 100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CARREGANDO -->



    <script src="@Url.Content("~/Scripts/Pages/Master/master.js")" type="text/javascript"></script>


</body>
</html>
