﻿@model WebAppMvc.Areas.Desapropriacao.Models.Filtro.model_desapropriacao_individual_filtro
@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<section class="content-header">
    <h1>DESAPROPRIAÇÃO INDIVIDUAL</h1>
    <ol class="breadcrumb">
        <li><a href="Index"><i class="fa fa-home"></i> Desapropriação Individual</a></li>
        <li class="active"> Pesquisar</li>
    </ol>
</section>

<section class="content">
    <form id="form_consulta" class="form-horizontal search">
        @Html.AntiForgeryToken()
        @*@{ Html.EnableClientValidation(false); }*@

        @*@{ Html.EnableClientValidation(true); }*@
        <div class="row">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-file-text"></i> Pesquisar
                    </h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.din_geral_documento_numero)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.din_geral_documento_numero)</label>
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                            @Html.TextBoxFor(model => model.din_geral_documento_numero, htmlAttributes: new { @class = "form-control", maxlength = "35", placeholder = "Código do Projeto" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.din_empreendimento_elaborador)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.din_empreendimento_elaborador)</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                            @Html.TextBoxFor(model => model.din_empreendimento_elaborador, htmlAttributes: new {@class = "form-control", maxlength = "150", placeholder = "Elaborado Por"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.din_propriedade_autos_numero)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.din_propriedade_autos_numero)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            @Html.TextBoxFor(model => model.din_propriedade_autos_numero, htmlAttributes: new { @class = "form-control", maxlength = "18", placeholder = "Nº Autos", @data_autosdodecreto_mask = "true" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.din_propriedade_prioridade)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.din_propriedade_prioridade)</label>
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3;">
                            @Html.DropDownListFor(model => model.din_propriedade_prioridade, (IEnumerable<SelectListItem>)ViewBag.CarregarPrioridade, "--selecione--", htmlAttributes: new {@class = "form-control"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.din_interessados_proprietario)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.din_interessados_proprietario)</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                            @Html.TextBoxFor(model => model.din_interessados_proprietario, htmlAttributes: new { @class = "form-control", maxlength = "150", placeholder = "Nome do Proprietário" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.din_empreendimento_objeto)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.din_empreendimento_objeto)</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                            @Html.TextBoxFor(model => model.din_empreendimento_objeto, htmlAttributes: new {@class = "form-control", maxlength = "100", placeholder = "Objeto do Cadastro"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.din_geral_emissao_dt)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.din_geral_emissao_dt)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            @Html.TextBoxFor(model => model.din_geral_emissao_dt, htmlAttributes: new { @class = "form-control", maxlength = "10", placeholder = "Data" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.afi_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.afi_id)</label>
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3;">
                            @Html.DropDownListFor(model => model.afi_id, (IEnumerable<SelectListItem>)ViewBag.CarregarAgenteFinanciador, "--selecione--", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.din_empreendimento_auto_decreto)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.din_empreendimento_auto_decreto)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            @Html.TextBoxFor(model => model.din_empreendimento_auto_decreto, htmlAttributes: new {@class = "form-control", maxlength = "30", placeholder = "Nº Autos do Decreto"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.din_empreendimento_auto_decreto)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.din_empreendimento_dup_codigo)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            @Html.TextBoxFor(model => model.din_empreendimento_dup_codigo, htmlAttributes: new {@class = "form-control", maxlength = "20", placeholder = "Código Dup"})
                        </div>
                        <label for="@Html.DisplayNameFor(model => model.din_empreendimento_auto_decreto)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.din_empreendimento_dup_dt)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            @Html.TextBoxFor(model => model.din_empreendimento_dup_dt, htmlAttributes: new { @class = "form-control", maxlength = "10", placeholder = "Data" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.din_conducao_ist_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.din_conducao_ist_id)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2;">
                            @Html.DropDownListFor(model => model.din_conducao_ist_id, (IEnumerable<SelectListItem>)ViewBag.CarregarStatus, "--selecione--", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.reg_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.reg_id)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            @Html.DropDownListFor(model => model.reg_id, (IEnumerable<SelectListItem>)ViewBag.CarregarRegional, "--selecione--", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.din_empreendimento_rodovia_sp)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.din_empreendimento_rodovia_sp)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            @Html.DropDownListFor(model => model.din_empreendimento_rodovia_sp, (IEnumerable<SelectListItem>)ViewBag.CarregarRodoviaSp, "--selecione--", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.din_empreendimento_rodovia_nome)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.din_empreendimento_rodovia_nome)</label>
                        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                            @Html.TextBoxFor(model => model.din_empreendimento_rodovia_nome, htmlAttributes: new {@class = "form-control", maxlength = "150", placeholder = "Nome da Rodovia"})
                        </div>
                    </div>

                    @*
                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.din_cadastro_dt_inicial)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.din_cadastro_dt_inicial)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            @Html.TextBoxFor(model => model.din_cadastro_dt_inicial, htmlAttributes: new {@class = "form-control", maxlength = "10", placeholder = "Dt. Inicial"})
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            @Html.TextBoxFor(model => model.din_cadastro_dt_final, htmlAttributes: new { @class = "form-control", maxlength = "10", placeholder = "Dt. Final" })
                        </div>
                    </div>
                    *@



                    <div class="form-group">
                        <div class="col-xs-12 col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-sm-10">
                            <button type="button" class="btn btn-primary btn-search" id="btnPesquisar" data-roles="true">Pesquisar</button>
                            <button type="button" class="btn btn-primary btn-clear" id="btnLimpar">Limpar</button>
                            <button type="button" class="btn btn-primary btn-save" id="btnNovoCadastro" data-roles="true" onclick=" window.location = 'PreCadastro' ">Novo Cadastro</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="divGrid" class="form-group" style="display: none">
            <div class="box">
                <div class="box-header">
                    <table class="table table-striped table-bordered" id="table_consulta"></table>


                    <input type="hidden" name="tamanhoPagina" id="tamanhoPagina" value="@Model.pageIndex"/>
                    <input type="hidden" name="tamanhoCombo" id="tamanhoCombo" value="@Model.pageSize"/>
                </div>
            </div>
        </div>
    </form>
</section>

<script src="@Url.Content("~/Scripts/Pages/Desapropriacao/DesapropriacaoIndividual/_consultar.js")" type="text/javascript"></script>
@if (!string.IsNullOrEmpty(Request.QueryString["args"]))
{
    <script type="text/javascript">
        CriarTabela();
    </script>
}