﻿@using Entity.GERENCIADORPORTAL
@using WebAppMvc.Areas.Desapropriacao.Models
@using WebAppMvc.Areas.Administrativo.Models.DesapropriacaoIndividualStatus
@using WebAppMvc.Areas.Administrativo.Models.DesapropriacaoIndividualSituacao
@using WebAppMvc.Areas.Administrativo.Models.DesapropriacaoIndividualPeritoJudicial

@model model_desapropriacao_individual


@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";

    // Anuencia

    var anuenciaDesapropriacaoListItem = new List<SelectListItem>();
    anuenciaDesapropriacaoListItem.Add(new SelectListItem { Text = "Sim", Value = "true" });
    anuenciaDesapropriacaoListItem.Add(new SelectListItem { Text = "Não", Value = "false" });

    // Prioridade
    var listPropriedadeDesapropriacao = new List<SelectListItem>();
    listPropriedadeDesapropriacao.Add(new SelectListItem { Text = "Parcial", Value = "0" });
    listPropriedadeDesapropriacao.Add(new SelectListItem { Text = "Total", Value = "1" });

    var listPropriedadeDominio = new List<SelectListItem>();
    listPropriedadeDominio.Add(new SelectListItem { Text = "Público", Value = "0" });
    listPropriedadeDominio.Add(new SelectListItem { Text = "Privado", Value = "1" });


    var listPropriedadePrioridade = new List<SelectListItem>();
    listPropriedadePrioridade.Add(new SelectListItem { Text = "Crítico", Value = "3" });
    listPropriedadePrioridade.Add(new SelectListItem { Text = "Alta", Value = "2" });
    listPropriedadePrioridade.Add(new SelectListItem { Text = "Médio", Value = "1" });
    listPropriedadePrioridade.Add(new SelectListItem { Text = "Baixa", Value = "0" });

    var listInfraestura = new List<SelectListItem>();
    listInfraestura.Add(new SelectListItem { Text = "teste1", Value = "teste1" });
    listInfraestura.Add(new SelectListItem { Text = "teste2", Value = "teste2" });
    listInfraestura.Add(new SelectListItem { Text = "teste3", Value = "teste3" });
    listInfraestura.Add(new SelectListItem { Text = "teste4", Value = "teste4" });
    listInfraestura.Add(new SelectListItem { Text = "teste5", Value = "teste5" });


    var listEquipamentos = new List<SelectListItem>();
    listEquipamentos.Add(new SelectListItem { Text = "teste1", Value = "teste1" });
    listEquipamentos.Add(new SelectListItem { Text = "teste2", Value = "teste2" });
    listEquipamentos.Add(new SelectListItem { Text = "teste3", Value = "teste3" });
    listEquipamentos.Add(new SelectListItem { Text = "teste4", Value = "teste4" });
    listEquipamentos.Add(new SelectListItem { Text = "teste5", Value = "teste5" });


    var listServicos = new List<SelectListItem>();
    listServicos.Add(new SelectListItem { Text = "teste1", Value = "teste1" });
    listServicos.Add(new SelectListItem { Text = "teste2", Value = "teste2" });
    listServicos.Add(new SelectListItem { Text = "teste3", Value = "teste3" });
    listServicos.Add(new SelectListItem { Text = "teste4", Value = "teste4" });
    listServicos.Add(new SelectListItem { Text = "teste5", Value = "teste5" });


    var listUsoSolo = new List<SelectListItem>();
    listUsoSolo.Add(new SelectListItem { Text = "teste1", Value = "teste1" });
    listUsoSolo.Add(new SelectListItem { Text = "teste2", Value = "teste2" });
    listUsoSolo.Add(new SelectListItem { Text = "teste3", Value = "teste3" });
    listUsoSolo.Add(new SelectListItem { Text = "teste4", Value = "teste4" });
    listUsoSolo.Add(new SelectListItem { Text = "teste5", Value = "teste5" });
    
        
}