﻿@model WebAppMvc.Areas.Desapropriacao.Models.Helpers.model_desapropriacao_individual_precadastro

@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<script src="~/Scripts/jQuery.FileStyle/src/bootstrap-filestyle.js" type="text/javascript"></script>
<script src="~/Scripts/jQuery.Panels/snippets.js" type="text/javascript"></script>

<section class="content-header">
    
    <h1>DESAPROPRIAÇÃO INDIVIDUAL</h1>

    <ol class="breadcrumb">
        <li><a href="Index"><i class="fa fa-home"></i> Desapropriação Individual</a></li>
        <li class="active">Pré-cadastro</li>
    </ol>
</section>

@*@using (Ajax.BeginForm("PreCadastro", null, new AjaxOptions
{
    HttpMethod = "Post",
    OnSuccess = "onSuccess",
    OnBegin = "onBegin",
    OnFailure = "onFailure",
    LoadingElementId = "loading",
    InsertionMode = InsertionMode.Replace,
}, new { @class = "form-horizontal", @id = "form_precadastro" }))
{*@
    
@using (Html.BeginForm("PreCadastro", "DesapropriacaoIndividual", FormMethod.Post, htmlAttributes: new {@class = "form-horizontal"}))
{
    
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-file-text"></i> Pré-cadastro</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.dpc_empreendimento_auto_decreto)" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 control-label text-left">@Html.DisplayNameFor(model => model.dpc_empreendimento_auto_decreto)</label>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            @Html.DropDownListFor(m => m.dpc_empreendimento_auto_decreto, Enumerable.Empty<SelectListItem>(), "--selecione--", htmlAttributes: new { @class = "form-control", @onchange = "CarregarLotes()" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.dpc_empreendimento_lote)" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 control-label text-left">@Html.DisplayNameFor(model => model.dpc_empreendimento_lote)</label>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            @Html.DropDownListFor(m => m.dpc_empreendimento_lote, Enumerable.Empty<SelectListItem>(), "--selecione--", htmlAttributes: new { @class = "form-control", @disabled = "true", @onchange = "CarregarDin()" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 col-sm-offset-4 col-md-offset-3 col-lg-offset-3 col-sm-10">
                            <button type="submit" xonclick="BuscarProjetoDesapropriacao()" id="btnPreCadastro" disabled="disabled" class="btn btn-primary"><i class="fa fa-arrow-right" aria-hidden="true"></i> Continuar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">

        var empreendimentoList = [];
        var objModel = null;

        var onBegin = function () {
            waitingDialog.show('Processando...', { dialogSize: 'sm' });
            
        };
        var onSuccess = function (result) {
            waitingDialog.hide();
        };
        var onFailure = function () {
            waitingDialog.hide();
            Mensagens.Flutuante('Erro', 'Houve uma falha ao cadastrar os dados. <br/>Entre em contato com suporte.', 'error');
        };

        function BuscarProjetoDesapropriacao() {
            var dataString = {
                dpc_empreendimento_auto_decreto: $("#dpc_empreendimento_auto_decreto").val(),
                dpc_empreendimento_lote: $("#dpc_empreendimento_lote").val()
            };

            waitingDialog.show('Processando...', { dialogSize: 'sm' });


            $.ajax({
                type: "POST",
                //contentType: "application/json; charset=utf-8",
                url: "~/../PreCadastro",
                data: $("#form_precadastro").serialize(),
                dataType: "json",
                async: true,
                error: function (xhr) {

                    Mensagens.Modal("Erro", xhr.responseJSON.msgErro, BootstrapDialog.TYPE_DANGER);
                    waitingDialog.hide();

                },
                success: function (data) {
                    window.location.href = data;
                    objModel = data;
                    waitingDialog.hide();
                }

            });

        }

        function CarregarDin() {
            $("#btnPreCadastro").removeAttr('disabled');
        }

        function CarregarEmpreendimentos() {

            //    var dataString = JSON.stringify({
            //        dem_auto_decreto: "123456/78/DER/9034",
            //        dem_lote: 1
            //    });
            waitingDialog.show('Processando...', { dialogSize: 'sm' });

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "~/../CarregarEmpreendimento",
                //data: dataString,
                dataType: "json",
                async: true,
                error: function (xhr) {

                    Mensagens.Modal("Erro", xhr.responseJSON.msgErro, BootstrapDialog.TYPE_DANGER);

                },
                success: function (data) {
                    if (data.length > 0) {

                        var obj = data;
                        empreendimentoList = data;

                        $("#dpc_empreendimento_auto_decreto option").remove();
                        $("#dpc_empreendimento_auto_decreto").append("<option value=''>--selecione--</option>");

                        for (var i = 0; i < obj.length; i++) {
                            $("#dpc_empreendimento_auto_decreto").append("<option value=" + obj[i].dem_auto_decreto + ">" + obj[i].dem_auto_decreto + "</option>");
                        }

                        //$("#dde_id").removeAttr('disabled');
                        $('#dpc_empreendimento_auto_decreto').trigger("chosen:updated");

                    }
                    else {
                        Mensagens.Modal("Informativo", "Não existe nenhum empreendimento cadastrado, volte e cadastre pelo menos um projeto de desapropriação e um empreendimento ou entre em contato com o administrador do sistema.", BootstrapDialog.TYPE_INFO);

                        $("#dpc_empreendimento_auto_decreto").empty();
                        $("#dpc_empreendimento_auto_decreto").append("<option value=''>--selecione--</option>");
                        $("#dpc_empreendimento_auto_decreto").attr('disabled', 'disabled');

                        $('#dpc_empreendimento_auto_decreto').trigger("chosen:updated");
                    }

                    DropDownAutoComplete.Upd();
                    waitingDialog.hide();
                }
            });
        }

        function CarregarLotes() {
            var dem_auto_decreto_selected = $("#dpc_empreendimento_auto_decreto").val();

            if (dem_auto_decreto_selected) {
                $("#dpc_empreendimento_lote").empty().trigger("chosen:updated");

                var dem = empreendimentoList.filter(function (x) {
                    return x.dem_auto_decreto === dem_auto_decreto_selected;
                });

                if (dem.length > 0) {

                    var obj = dem[0].dem_lote_list;

                    $("#dpc_empreendimento_lote option").remove();
                    $("#dpc_empreendimento_lote").append("<option value=''>--selecione--</option>");

                    for (var i = 0; i < obj.length; i++) {
                        $("#dpc_empreendimento_lote").append("<option value=" + obj[i] + ">" + obj[i] + "</option>");
                    }

                    $("#dpc_empreendimento_lote").removeAttr('disabled');                    
                    $('#dpc_empreendimento_lote').trigger("chosen:updated");
                }


            }
            else {
                MensagemLogin.Modal("Informativo", "Deve-se escolher uma dentre as opções de empreendimento", BootstrapDialog.TYPE_INFO);
            }

        }

        function Iniciar() {
            CarregarEmpreendimentos();
            DropDownAutoComplete.Ini();
        }

        jQuery(document).ready(function () {
            Iniciar();
            Mask.Ini();
        });
    </script>
    
    
    <script src="~/Scripts/jQuery.FileStyle/src/bootstrap-filestyle.js" type="text/javascript"></script>
    <script src="~/Scripts/jQuery.Panels/snippets.js" type="text/javascript"></script>
}