﻿@model WebAppMvc.Areas.Administrativo.Models.Emitente.Filtro.model_emitente_filtro
@{
    ViewBag.Title = "Consultar Usuário";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<section class="content-header">
    <h1>EMITENTE</h1>
    <ol class="breadcrumb">
        <li><a href="Index"><i class="fa fa-home"></i> Emitente</a></li>
        <li class="active"> Pesquisar</li>
    </ol>
</section>

<section class="content">
    <form id="form_consulta" class="form-horizontal search">
        @Html.AntiForgeryToken()
        @{ Html.EnableClientValidation(false); }

        @{ Html.EnableClientValidation(true); }
        <div class="row">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-search"></i> Pesquisar
                    </h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.emi_nome)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.emi_nome)</label>
                        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
                            @Html.TextBoxFor(model => model.emi_nome, htmlAttributes: new { @class = "form-control", placeholder = "Nome" })
                            <span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.emi_ativo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.emi_ativo)</label>
                        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                            @Html.DropDownListFor(model => model.emi_ativo, new[] { new SelectListItem() { Text = "-- selecione --", Value = "" }, new SelectListItem() { Text = "Ativo", Value = "true" }, new SelectListItem { Text = "Inativo", Value = "false" } }, null, htmlAttributes: new { @class = "form-control" })
                            <span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-sm-10">
                            <button type="button" class="btn btn-primary btn-search" id="btnPesquisar" data-roles="true">Pesquisar</button>
                            <button type="button" class="btn btn-primary btn-clear" id="btnLimpar">Limpar</button>
                            <button type="button" class="btn btn-primary btn-new" id="btnNovoCadastro" data-roles="true" onclick=" window.location='Cadastrar' ">Novo Cadastro</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="divGrid" class="form-group" style="display: none">
                <div class="box">
                    <div class="box-header">
                        <table class="table table-striped table-bordered" id="table_consulta"></table>


                        <input type="hidden" name="tamanhoPagina" id="tamanhoPagina" value="@Model.pageIndex" />
                        <input type="hidden" name="tamanhoCombo" id="tamanhoCombo" value="@Model.pageSize" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<script src="@Url.Content("~/Scripts/Pages/Administrativo/Emitente/_consultar.js")" type="text/javascript">

@if (!string.IsNullOrEmpty(Request.QueryString["args"]))
{
    <script type="text/javascript">
        CriarTabela();
    </script>
}