﻿@using Entity.GERENCIADORPORTAL
@model WebAppMvc.Areas.Desapropriacao.Models.model_desapropriacao_empreendimento

<input id="userEmpreendimento" type="hidden" value="@(((tab_usuario) Session["objUsuario"]).usu_nome_login)" />

<div class="box-body">
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dem_auto_decreto)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_auto_decreto)</label>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            @Html.TextBoxFor(model => model.dem_auto_decreto, htmlAttributes: new { @class = "form-control", maxlength = "30", @data_autosdodecreto_mask = "true", placeholder = "Nº Autos" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dem_lote)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_lote)</label>
        <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">
            @Html.TextBoxFor(model => model.dem_lote, htmlAttributes: new { @class = "form-control", maxlength = "2", @data_only_number = "true", placeholder = "Nº Lote" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dem_rodovia_sp)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_rodovia_sp)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.dem_rodovia_sp, htmlAttributes: new { @class = "form-control", maxlength = "10", placeholder = "SP" })
        </div>
        <label for="km" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">km</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.dem_rodovia_km_inicial, htmlAttributes: new { @class = "form-control numeric", maxlength = "10", placeholder = "km Inicial" })
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.dem_rodovia_km_final, htmlAttributes: new { @class = "form-control numeric", maxlength = "10", placeholder = "km Final" })
        </div>
    </div>

    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dem_rodovia_nome)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.dem_rodovia_nome)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextBoxFor(model => model.dem_rodovia_nome, htmlAttributes: new { @class = "form-control", maxlength = "300", placeholder = "Nome da Rodovia" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dem_rodovia_trecho)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.dem_rodovia_trecho)</label>
        <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">
            @Html.TextBoxFor(model => model.dem_rodovia_trecho, htmlAttributes: new { @class = "form-control", maxlength = "300", placeholder = "Trecho" })
        </div>
    </div>

    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dem_dup_codigo)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_dup_codigo)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.dem_dup_codigo, htmlAttributes: new { @class = "form-control", maxlength = "20", placeholder = "Código DUP" })
        </div>
        <label for="@Html.DisplayNameFor(model => model.dem_dup_dt)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dem_dup_dt)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.dem_dup_dt, htmlAttributes: new { @class = "form-control", @data_date_mask = "true", placeholder = "Data" })
        </div>
    </div>

    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dem_nota_reserva)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.dem_nota_reserva)</label>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            @Html.TextBoxFor(model => model.dem_nota_reserva, htmlAttributes: new { @class = "form-control", maxlength = "20", placeholder = "Nota de Reserva" })
        </div>
    </div>

    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dem_file_upload)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.dem_file_upload)</label>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            <input id="dem_file_upload" type="file" class="filestyle" data-buttonText=" Selecione..." data-placeholder="Sem Arquivo" data-buttonBefore="false" data-buttonName="btn-primary" />
        </div>

    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" id="btnAdicionarEmpreendimento"><i class="fa fa-plus-square"></i>  Adicionar</button>
        </div>
    </div>
    <span id="infoAdicionarEmpreendimento" style="color: red;"><br />Observação: é necessário clicar no botão Adicionar para salvar um ou mais Empreendimentos</span>

    <div id="divGridEmpreendimento" class="form-group" style="display: none">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_empreendimento">
                    <thead>
                        <tr>
                            <th>SP</th>
                            <th>km</th>
                            <th>Nº Autos do Decreto</th>
                            <th>Lote</th>
                            <th>Código Dup</th>
                            <th>Dt. Dup</th>
                            <th>Nota de Reserva</th>
                            <th>Anexo</th>
                            <th>Dt. Cadastro</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    function ajaxError(xhr) {

        var err = eval("(" + xhr.responseText + ")");
        Mensagens.Modal("Erro", err.Message, BootstrapDialog.TYPE_DANGER);
    }


    function AdicionarEmpreendimento() {
        $("#divGridEmpreendimento").css({ "display": "inline" });

        var index = $("#table_empreendimento > tbody > tr").length;

        var model_desapropriacao_empreendimento_dem_auto_decreto = $("#dem_auto_decreto").val();

        var model_desapropriacao_empreendimento_dem_lote = $("#dem_lote").val();

        var model_desapropriacao_empreendimento_dem_rodovia_sp = $("#dem_rodovia_sp").val();
        var model_desapropriacao_empreendimento_dem_rodovia_nome = $("#dem_rodovia_nome").val();
        var model_desapropriacao_empreendimento_dem_rodovia_trecho = $("#dem_rodovia_trecho").val();
        var model_desapropriacao_empreendimento_dem_rodovia_km_inicial = $("#dem_rodovia_km_inicial").val();
        var model_desapropriacao_empreendimento_dem_rodovia_km_final = $("#dem_rodovia_km_final").val();

        var model_desapropriacao_empreendimento_dem_dup_dt = $("#dem_dup_dt").val();
        var model_desapropriacao_empreendimento_dem_dup_codigo = $("#dem_dup_codigo").val();

        var model_desapropriacao_empreendimento_dem_nota_reserva = $("#dem_nota_reserva").val();

        var model_desapropriacao_empreendimento_dem_file_upload = $("#dem_file_upload").val();
        var model_desapropriacao_empreendimento_dem_anexo_pasta = "\\Upload\\Anexo\\";

        var model_desapropriacao_empreendimento_dem_acao = 1;
        var model_desapropriacao_empreendimento_dem_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var model_desapropriacao_empreendimento_userCreate = $("#userEmpreendimento").val();
        var model_desapropriacao_empreendimento_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var tbodyEmpreendimento = $("#table_empreendimento").find("tbody");

        var gvRowEmpreendimento = '';

        gvRowEmpreendimento += "<tr id=\"tr_table_empreendimento_" + index + "\">";
        gvRowEmpreendimento += "<td>" + model_desapropriacao_empreendimento_dem_rodovia_sp + "</td>";
        gvRowEmpreendimento += "<td>" + model_desapropriacao_empreendimento_dem_rodovia_km_inicial + " / " + model_desapropriacao_empreendimento_dem_rodovia_km_final + "</td>";
        gvRowEmpreendimento += "<td>" + model_desapropriacao_empreendimento_dem_auto_decreto + "</td>";
        gvRowEmpreendimento += "<td>" + model_desapropriacao_empreendimento_dem_lote + "</td>";
        gvRowEmpreendimento += "<td>" + model_desapropriacao_empreendimento_dem_dup_codigo + "</td>";
        gvRowEmpreendimento += "<td>" + model_desapropriacao_empreendimento_dem_dup_dt + "</td>";
        gvRowEmpreendimento += "<td>" + model_desapropriacao_empreendimento_dem_nota_reserva + "</td>";
        gvRowEmpreendimento += "<td></td>";
        gvRowEmpreendimento += "<td>" + model_desapropriacao_empreendimento_dem_cadastro_dt + "</td>";
        gvRowEmpreendimento += "<td><span class=\"fa fa-trash\" alt=\"Exluir\" title=\"Excluir\" style=\"cursor:pointer\" id=\"btnExcluirEmpreendimento\" onclick=\"DeleteEmpreendimento(" + index + ")\"></span>";

        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_auto_decreto + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_auto_decreto" id="model_desapropriacao_empreendimento_dem_auto_decreto_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_lote + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_lote" id="model_desapropriacao_empreendimento_dem_lote_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_rodovia_sp + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_rodovia_sp" id="model_desapropriacao_empreendimento_dem_rodovia_sp_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_rodovia_nome + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_rodovia_nome" id="model_desapropriacao_empreendimento_dem_rodovia_nome_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_rodovia_trecho + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_rodovia_trecho" id="model_desapropriacao_empreendimento_dem_rodovia_trecho_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_rodovia_km_inicial + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_rodovia_km_inicial" id="model_desapropriacao_empreendimento_dem_rodovia_km_inicial_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_rodovia_km_final + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_rodovia_km_final" id="model_desapropriacao_empreendimento_dem_rodovia_km_final_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_dup_dt + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_dup_dt" id="model_desapropriacao_empreendimento_dem_dup_dt_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_dup_codigo + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_dup_codigo" id="model_desapropriacao_empreendimento_dem_dup_codigo_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_nota_reserva + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_nota_reserva" id="model_desapropriacao_empreendimento_dem_nota_reserva_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_anexo_pasta + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_anexo_pasta" id="model_desapropriacao_empreendimento_dem_anexo_pasta_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_acao + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_acao" id="model_desapropriacao_empreendimento_dem_acao_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dem_cadastro_dt + '" name="list_model_desapropriacao_empreendimento[' + index + '].dem_cadastro_dt" id="model_desapropriacao_empreendimento_dem_cadastro_dt_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_userCreate + '" name="list_model_desapropriacao_empreendimento[' + index + '].userCreate" id="model_desapropriacao_empreendimento_userCreate_' + index + '"/>';
        gvRowEmpreendimento += '<input type="hidden" value="' + model_desapropriacao_empreendimento_dtCreate + '" name="list_model_desapropriacao_empreendimento[' + index + '].dtCreate" id="model_desapropriacao_empreendimento_dtCreate_' + index + '"/>';

        gvRowEmpreendimento += '<span id="fileEmpreendimento_' + index + '"></span>';

        gvRowEmpreendimento += '</td></tr>';

        tbodyEmpreendimento.append(gvRowEmpreendimento);

        //CLONA FILE UPLOAD///
        if ($("#dem_file_upload")[0].files.length === 1) {
            var clone = $("#dem_file_upload").clone();
            clone.attr('id', 'model_desapropriacao_empreendimento_dem_file_upload_' + index).attr('name', 'list_model_desapropriacao_empreendimento[' + index + '].dem_file_upload');
            $('#fileEmpreendimento_' + index).append(clone);

            $("#tr_table_empreendimento_" + index + " td:nth-child(8)").append("<span title='Aguardando o salvar' class='fa fa-upload'></span>");
        }
        //-----------------------------------------------------------------------------------------------------------------------------------------------------------------------//


        $("#dem_auto_decreto").val('');
        $("#dem_lote").val('');
        $("#dem_rodovia_sp").val('').trigger("chosen:updated");
        $("#dem_rodovia_nome").val('');
        $("#dem_rodovia_trecho").val('');
        $("#dem_rodovia_km_inicial").val('');
        $("#dem_rodovia_km_final").val('');

        $("#dem_unidade").val('').trigger("chosen:updated");

        $("#dem_dup_dt").val('');
        $("#dem_dup_codigo").val('');

        $("#dem_nota_reserva").val('');

        $("#dem_file_upload").val('');
        $("#dem_file_upload").filestyle('clear');

        $("#infoAdicionarEmpreendimento").hide();
    }

    function ValidacaoEmpreendimento() {

        $("#btnAdicionarEmpreendimento").click(function (e) {

            if (validaFormularioDiv('tabEmpreendimento')) {
                AdicionarEmpreendimento();
            }
        });
    };

    function DeleteEmpreendimento(index) {
        BootstrapDialog.show({
            title: "<b>Confirma&ccedil;&atilde;o</b>",
            message: 'Deseja realmente excluir esta empreendimento?',
            type: BootstrapDialog.TYPE_PRIMARY,
            buttons: [
                    {
                        label: "N&atilde;o",
                        cssClass: "btn btn-default active",
                        action: function (dialog) {
                            dialog.close();
                        }
                    },
                    {
                        label: "Sim",
                        cssClass: "btn btn-default active",
                        action: function (dialog) {
                            dialog.close();

                            jQuery("#model_desapropriacao_empreendimento_dem_acao_" + index).val('3');

                            $("#tr_table_empreendimento_" + index + "").css({ "display": "none" });

                            if ($("#table_empreendimento > tbody > tr:visible").length === 0) {

                                $("#divGridEmpreendimento").css({ "display": "none" });
                            }
                        }
                    }
            ]
        });
    }

    $(document).ready(function () {
        ValidacaoEmpreendimento();
        $(".numeric").numeric({ altDecimal: ",", decimal: ",", negative: false });
    });

</script>