﻿@model WebAppMvc.Areas.Desapropriacao.Models.model_desapropriacao_recurso_fonte


<div class="box-body">

    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.drf_contrato_numero)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.drf_contrato_numero)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.drf_contrato_numero, htmlAttributes: new { @class = "form-control", maxlength = "6", placeholder = "Nº Contrato", @data_only_number = "true" })
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            <button type="button" onclick="PreencherDadosContrato(event);" class="btn btn-secondary">Pesquisar Contrato</button>
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.drf_valor)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.drf_valor)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.drf_valor, htmlAttributes: new { @class = "form-control", @data_money_mask = "true", maxlength = "14", placeholder = "R$" })
        </div>
        <label for="@Html.DisplayNameFor(model => model.drf_percentual)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.drf_percentual)</label>
        <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">
            @Html.TextBoxFor(model => model.drf_percentual, htmlAttributes: new { @class = "form-control", placeholder = "%" })
        </div>
    </div>

    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.drf_assinatura_dt)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.drf_assinatura_dt)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            @Html.TextBoxFor(model => model.drf_assinatura_dt, htmlAttributes: new { @class = "form-control", @data_date_mask = "true", placeholder = "Data" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" id="btnAdicionarFonteRecurso"><i class="fa fa-plus-square"></i>  Adicionar</button>
        </div>
    </div>
    <span id="infoAdicionarFonteRecurso" style="color: red;"><br />Observação: é necessário clicar no botão Adicionar para salvar um ou mais Contratos</span>

    <div id="divGridFonteRecurso" class="form-group" style="display: none">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_fonte_recurso">
                    <thead>
                        <tr>
                            <th>Nº Contrato</th>
                            <th>Valor</th>
                            <th>Percentual</th>
                            <th>Dt. Assinatura</th>
                            <th>Dt. Cadastro</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function ajaxError(xhr) {

        var err = eval("(" + xhr.responseText + ")");
        //alert(err.Message);
        Mensagens.Modal("Erro", err.Message, BootstrapDialog.TYPE_DANGER);
    }


    function AdicionarFonteRecurso() {

        $("#divGridFonteRecurso").css({ "display": "inline" });

        var index = $("#table_fonte_recurso > tbody > tr").length;

        var model_desapropriacao_recurso_fonte_drf_contrato_numero = $("#drf_contrato_numero").val();
        var model_desapropriacao_recurso_fonte_drf_valor = $("#drf_valor").val();
        var model_desapropriacao_recurso_fonte_drf_percentual = $("#drf_percentual").val();
        var model_desapropriacao_recurso_fonte_drf_assinatura_dt = $("#drf_assinatura_dt").val();

        var model_desapropriacao_recurso_fonte_drf_acao = 1;
        var model_desapropriacao_recurso_fonte_drf_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var model_desapropriacao_recurso_fonte_userCreate = $("#userCreateLocalidade").val();
        var model_desapropriacao_recurso_fonte_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var tbodylocalidade = $("#table_fonte_recurso").find("tbody");

        var gvRowFonteRecurso = '';

        gvRowFonteRecurso += "<tr id=\"tr_table_fonte_recurso_" + index + "\">";
        gvRowFonteRecurso += "<td>" + model_desapropriacao_recurso_fonte_drf_contrato_numero + "</td>";
        gvRowFonteRecurso += "<td>" + model_desapropriacao_recurso_fonte_drf_valor + "</td>";
        gvRowFonteRecurso += "<td>" + model_desapropriacao_recurso_fonte_drf_percentual + "</td>";
        gvRowFonteRecurso += "<td>" + model_desapropriacao_recurso_fonte_drf_assinatura_dt + "</td>";
        gvRowFonteRecurso += "<td>" + model_desapropriacao_recurso_fonte_drf_cadastro_dt + "</td>";
        gvRowFonteRecurso += "<td><span class=\"fa fa-trash\" alt=\"Exluir\" title=\"Excluir\" style=\"cursor:pointer\" id=\"btnExcluirFonteRecurso\" onclick=\"DeleteFonteRecurso(" + index + ")\"></span></td>";

        gvRowFonteRecurso += '<input type="hidden" value="' + model_desapropriacao_recurso_fonte_drf_contrato_numero + '" name="list_model_desapropriacao_recurso_fonte[' + index + '].drf_contrato_numero" id="model_desapropriacao_recurso_fonte_drf_contrato_numero_' + index + '"/>';
        gvRowFonteRecurso += '<input type="hidden" value="' + model_desapropriacao_recurso_fonte_drf_valor + '" name="list_model_desapropriacao_recurso_fonte[' + index + '].drf_valor" id="model_desapropriacao_recurso_fonte_drf_valor_' + index + '"/>';
        gvRowFonteRecurso += '<input type="hidden" value="' + model_desapropriacao_recurso_fonte_drf_percentual + '" name="list_model_desapropriacao_recurso_fonte[' + index + '].drf_percentual" id="model_desapropriacao_recurso_fonte_drf_percentual_' + index + '"/>';
        gvRowFonteRecurso += '<input type="hidden" value="' + model_desapropriacao_recurso_fonte_drf_assinatura_dt + '" name="list_model_desapropriacao_recurso_fonte[' + index + '].drf_assinatura_dt" id="model_desapropriacao_recurso_fonte_drf_assinatura_dt_' + index + '"/>';
        gvRowFonteRecurso += '<input type="hidden" value="' + model_desapropriacao_recurso_fonte_drf_acao + '" name="list_model_desapropriacao_recurso_fonte[' + index + '].drf_acao" id="model_desapropriacao_recurso_fonte_drf_acao_' + index + '"/>';
        gvRowFonteRecurso += '<input type="hidden" value="' + model_desapropriacao_recurso_fonte_drf_cadastro_dt + '" name="list_model_desapropriacao_recurso_fonte[' + index + '].drf_cadastro_dt" id="model_desapropriacao_recurso_fonte_drf_cadastro_dt_' + index + '"/>';
        gvRowFonteRecurso += '<input type="hidden" value="' + model_desapropriacao_recurso_fonte_userCreate + '" name="list_model_desapropriacao_recurso_fonte[' + index + '].userCreate" id="model_desapropriacao_recurso_fonte_userCreate_' + index + '"/>';
        gvRowFonteRecurso += '<input type="hidden" value="' + model_desapropriacao_recurso_fonte_dtCreate + '" name="list_model_desapropriacao_recurso_fonte[' + index + '].dtCreate" id="model_desapropriacao_recurso_fonte_dtCreate_' + index + '"/>';

        gvRowFonteRecurso += '</tr>';

        tbodylocalidade.append(gvRowFonteRecurso);

        $("#drf_contrato_numero").val('');
        $("#drf_valor").val('');
        $("#drf_percentual").val('');
        $("#drf_assinatura_dt").val('');

        $("#infoAdicionarFonteRecurso").hide();
    }

    function ValidacaoFonteRecurso() {

        $("#btnAdicionarFonteRecurso").click(function (e) {

            if (validaFormularioDiv('tabFonteRecurso')) {
                AdicionarFonteRecurso();
            }
        });
    };

    function DeleteFonteRecurso(index) {
        BootstrapDialog.show({
            title: "<b>Confirma&ccedil;&atilde;o</b>",
            message: 'Deseja realmente excluir esta fonte de recurso?',
            type: BootstrapDialog.TYPE_PRIMARY,
            buttons: [
                    {
                        label: "N&atilde;o",
                        cssClass: "btn btn-default active",
                        action: function (dialog) {
                            dialog.close();
                        }
                    },
                    {
                        label: "Sim",
                        cssClass: "btn btn-default active",
                        action: function (dialog) {
                            dialog.close();

                            jQuery("#model_desapropriacao_recurso_fonte_drf_acao_" + index).val('3');

                            $("#tr_table_fonte_recurso_" + index + "").css({ "display": "none" });

                            if ($("#table_fonte_recurso > tbody > tr:visible").length === 0) {

                                $("#divGridFonteRecurso").css({ "display": "none" });
                            }
                        }
                    }
            ]
        });
    }

    $(document).ready(function () {

        ValidacaoFonteRecurso();
    });

    function PreencherDadosContrato(e) {

        if ($("#drf_contrato_numero").val().length) {

            var dataString = JSON.stringify({
                numContr: $("#drf_contrato_numero").val()
            });

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "~/../CarregarContrato",
                data: dataString,
                dataType: "json",
                async: true,
                error: function (xhr) {
                    Mensagens.Modal("Erro", xhr.responseJSON.msgErro, BootstrapDialog.TYPE_DANGER);
                },
                success: function (data) {
                    if (data.NumContr > 0) {

                        $("#drf_valor").val(data.ValContrOrigPI.toLocaleString("pt-BR"));
                        $("#drf_percentual").val(data.PorcFin.toLocaleString("pt-BR"));
                        $("#drf_assinatura_dt").val(data.DataInicio);

                    }
                    else {
                        LimparCamposContrato();
                        Mensagens.Modal("Informativo", "Nenhum contrato localizado com este número.", BootstrapDialog.TYPE_INFO);
                    }
                }
            });
        } else {
            LimparCamposContrato();
            Mensagens.Modal("Atenção", "Preencha o campo Nº Contrato.", BootstrapDialog.TYPE_WARNING);
        }
    }

    function LimparCamposContrato() {
        $("#drf_valor").val("");
        $("#drf_percentual").val("");
        $("#drf_assinatura_dt").val("");
    }

</script>