﻿@using Entity.GERENCIADORPORTAL
@model WebAppMvc.Areas.Desapropriacao.Models.model_desapropriacao_localidade

@*    @Html.HiddenFor(t => t.userCreate, new {@Value = ((tab_usuario) Session["objUsuario"]).usu_nome_login})
    @Html.HiddenFor(t => t.dtCreate, new {@Value = DateTime.Now.ToString()})*@

<input id="userCreateLocalidade" type="hidden" value="@(((tab_usuario) Session["objUsuario"]).usu_nome_login)" />

<div class="box-body">
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.est_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.est_id)</label>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            <select class="form-control" disabled="true" onchange="CarregarLocalidadeMunicipio();">
                <option value="25" selected="true">São Paulo</option>
            </select>
            @*@Html.DropDownListFor(model => model.est_id, (IEnumerable<SelectListItem>) ViewBag.CarregarEstado, "--selecione--", htmlAttributes: new {@class = "form-control", @onchange = "CarregarLocalidadeMunicipio();"})*@
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.mun_id)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.mun_id)</label>
        <div class="col-xs-12 col-sm-3 col-md-5 col-lg-5">
            @Html.DropDownListFor(model => model.mun_id, Enumerable.Empty<SelectListItem>(), "--selecione--", htmlAttributes: new { @class = "form-control", @disabled = "true" })
        </div>
    </div>
    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dlo_complemento)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right">@Html.DisplayNameFor(model => model.dlo_complemento)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextAreaFor(model => model.dlo_complemento, htmlAttributes: new { style = "height: 110px;", @class = "form-control", placeholder = "Complemento da localidade" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" id="btnAdicionarLocalidade"><i class="fa fa-plus-square"></i>  Adicionar</button>
        </div>
    </div>

    <span id="infoAdicionarLocalidade" style="color: red;"><br />Observação: é necessário clicar no botão Adicionar para salvar uma ou mais Localidades</span>

    <div id="divGridLocalidade" class="form-group" style="display: none">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_localidade">
                    <thead>
                        <tr>
                            <th>Estado</th>
                            <th>Município</th>
                            <th>Complemento</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function ajaxError(xhr) {

        var err = eval("(" + xhr.responseText + ")");
        //alert(err.Message);
        Mensagens.Modal("Erro", err.Message, BootstrapDialog.TYPE_DANGER);
    }

    function CarregarLocalidadeMunicipio() {

        if (jQuery("#est_id option:selected").val() !== "") {

            var dataString = JSON.stringify({
                //est_id: jQuery("#est_id option:selected").val()
                est_id: "25"
            });

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "~/../CarregarMunicipio",
                data: dataString,
                dataType: "json",
                async: true,
                error: function (xhr) {

                    Mensagens.Modal("Erro", xhr.responseJSON.msgErro, BootstrapDialog.TYPE_DANGER);
                },
                success: function (data) {

                    if (data.length > 0) {

                        var obj = data;

                        $("#mun_id option").remove();
                        $("#mun_id").append("<option value=''>--selecione--</option>");

                        for (var i = 0; i < obj.length; i++) {
                            $("#mun_id").append("<option value=" + obj[i].mun_id + ">" + obj[i].mun_nome + "</option>");
                        }

                        $("#mun_id").attr('disabled', false);
                        $('#mun_id').trigger("chosen:updated");
                    }
                    else {
                        Mensagens.Modal("Informativo", "Não existe nenhum municipio cadastrada para este estado, volte e cadastre pelo menos um municipio ou entre em contato com o administrador do sistema.", BootstrapDialog.TYPE_INFO);

                        $("#mun_id").empty();
                        $("#mun_id").append("<option value=''>--selecione--</option>");
                        $("#mun_id").attr('disabled', true);
                        $('#mun_id').trigger("chosen:updated");
                    }
                }
            });
        } else {

            $("#mun_id").empty();
            $("#mun_id").append("<option value=''>--selecione--</option>");
            $("#mun_id").attr('disabled', true);
            $('#mun_id').trigger("chosen:updated");
        }
    }

    function AdicionarLocalidade() {

        $("#divGridLocalidade").css({ "display": "inline" });

        var index = $("#table_localidade > tbody > tr").length;

        var model_desapropriacao_localidade_est_id = "25"; //$("#est_id option:selected").val();
        var model_desapropriacao_localidade_est_nome = "São Paulo"; //$("#est_id option:selected").text();

        var model_desapropriacao_localidade_mun_id = $("#mun_id option:selected").val();
        var model_desapropriacao_localidade_mun_nome = $("#mun_id option:selected").text();

        var model_desapropriacao_localidade_dlo_complemento = $("#dlo_complemento").val();

        var model_desapropriacao_localidade_dlo_acao = 1;
        var model_desapropriacao_localidade_dlo_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var model_desapropriacao_localidade_userCreate = $("#userCreateLocalidade").val();
        var model_desapropriacao_localidade_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var tbodylocalidade = $("#table_localidade").find("tbody");

        var gvRowLocalidade = '';

        gvRowLocalidade += "<tr id=\"tr_table_localidade_" + index + "\">";
        gvRowLocalidade += "<td>" + model_desapropriacao_localidade_est_nome + "</td>";
        gvRowLocalidade += "<td>" + model_desapropriacao_localidade_mun_nome + "</td>";
        gvRowLocalidade += "<td>" + model_desapropriacao_localidade_dlo_complemento + "</td>";
        gvRowLocalidade += "<td><span class=\"fa fa-trash\" alt=\"Exluir\" title=\"Excluir\" style=\"cursor:pointer\" id=\"btnExcluirLocalidade\" onclick=\"DeleteLocalidade(" + index + ")\"></span></td>";

        gvRowLocalidade += '<input type="hidden" value="' + model_desapropriacao_localidade_est_id + '" name="list_model_desapropriacao_localidade[' + index + '].est_id" id="model_desapropriacao_localidade_est_id_' + index + '"/>';
        gvRowLocalidade += '<input type="hidden" value="' + model_desapropriacao_localidade_mun_id + '" name="list_model_desapropriacao_localidade[' + index + '].mun_id" id="model_desapropriacao_localidade_mun_id_' + index + '"/>';
        gvRowLocalidade += '<input type="hidden" value="' + model_desapropriacao_localidade_dlo_complemento + '" name="list_model_desapropriacao_localidade[' + index + '].dlo_complemento" id="model_desapropriacao_localidade_dlo_complemento_' + index + '"/>';
        gvRowLocalidade += '<input type="hidden" value="' + model_desapropriacao_localidade_dlo_acao + '" name="list_model_desapropriacao_localidade[' + index + '].dlo_acao" id="model_desapropriacao_localidade_dlo_acao_' + index + '"/>';
        gvRowLocalidade += '<input type="hidden" value="' + model_desapropriacao_localidade_dlo_cadastro_dt + '" name="list_model_desapropriacao_localidade[' + index + '].dlo_cadastro_dt" id="model_desapropriacao_localidade_dlo_cadastro_dt_' + index + '"/>';
        gvRowLocalidade += '<input type="hidden" value="' + model_desapropriacao_localidade_userCreate + '" name="list_model_desapropriacao_localidade[' + index + '].userCreate" id="model_desapropriacao_localidade_userCreate_' + index + '"/>';
        gvRowLocalidade += '<input type="hidden" value="' + model_desapropriacao_localidade_dtCreate + '" name="list_model_desapropriacao_localidade[' + index + '].dtCreate" id="model_desapropriacao_localidade_dtCreate_' + index + '"/>';

        gvRowLocalidade += '</tr>';

        tbodylocalidade.append(gvRowLocalidade);


        $("#est_id").val("");
        $('#est_id').trigger("chosen:updated");

        $("#mun_id").empty();
        $("#mun_id").append("<option value=''>--selecione--</option>");

        $("#dlo_complemento").val("");

        CarregarLocalidadeMunicipio();

        $("#infoAdicionarLocalidade").hide();
    }

    function ValidacaoLocalidade() {

        $("#btnAdicionarLocalidade").click(function (e) {

            if (validaFormularioDiv('tabLocalidade')) {
                AdicionarLocalidade();
            }
        });
    };

    function DeleteLocalidade(index) {
        BootstrapDialog.show({
            title: "<b>Confirma&ccedil;&atilde;o</b>",
            message: 'Deseja realmente excluir esta localidade?',
            type: BootstrapDialog.TYPE_PRIMARY,
            buttons: [
                    {
                        label: "N&atilde;o",
                        cssClass: "btn btn-default active",
                        action: function (dialog) {
                            dialog.close();
                        }
                    },
                    {
                        label: "Sim",
                        cssClass: "btn btn-default active",
                        action: function (dialog) {
                            dialog.close();

                            jQuery("#model_desapropriacao_localidade_dlo_acao_" + index).val('3');

                            $("#tr_table_localidade_" + index + "").css({ "display": "none" });

                            if ($("#table_localidade > tbody > tr:visible").length === 0) {

                                $("#divGridLocalidade").css({ "display": "none" });
                            }
                        }
                    }
            ]
        });
    }


    CarregarLocalidadeMunicipio();

    $(document).ready(function () {

        //CarregarLocalidadeEstado();
        ValidacaoLocalidade();
    });

</script>