﻿
@using Entity.GERENCIADORPORTAL
@model WebAppMvc.Areas.Desapropriacao.Models.model_desapropriacao_observacao

<div class="box-body">
    <input id="userNameCreateObservacao" type="hidden" value="@(((tab_usuario) Session["objUsuario"]).usu_nome_login)" />
    <input id="userIdCreateObservacao" type="hidden" value="@(((tab_usuario)Session["objUsuario"]).usu_id)" />

    <div class="form-group">
        <label for="@Html.DisplayNameFor(model => model.dob_descricao)" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label text-right required">@Html.DisplayNameFor(model => model.dob_descricao)</label>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            @Html.TextAreaFor(model => model.dob_descricao, htmlAttributes: new { style = "height: 110px;", @class = "form-control", maxlength = "500", placeholder = "Descrição da Observação" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary" id="btnAdicionarObservacao"><i class="fa fa-plus-square"></i>  Adicionar</button>
        </div>
    </div>
    <span id="infoAdicionarObservacao" style="color: red;"><br />Observação: é necessário clicar no botão Adicionar para salvar uma ou mais Observações</span>

    <div id="divGridObservacao" class="form-group" style="display: none">
        <div class="box">
            <div class="box-header">
                <table class="table table-striped table-bordered" id="table_observacao">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Cadastrado Por</th>
                            <th>Dt. Cadastro</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function AdicionarObservacao() {

        $("#divGridObservacao").css({ "display": "inline" });

        var index = $("#table_observacao > tbody > tr").length;

        var model_desapropriacao_observacao_dob_descricao = $("#dob_descricao").val();

        var model_desapropriacao_observacao_usu_id = $("#userIdCreateObservacao").val();

        var model_desapropriacao_observacao_dob_acao = 1;

        var model_desapropriacao_observacao_dob_cadastro_usuario = $("#userNameCreateObservacao").val();
        var model_desapropriacao_observacao_dob_cadastro_dt = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var model_desapropriacao_observacao_userCreate = $("#userNameCreateObservacao").val();
        var model_desapropriacao_observacao_dtCreate = $.datepicker.formatDate('dd/mm/yy', new Date()) + " " + new Date().getHours() + ":" + new Date().getMinutes();

        var tbody = $("#table_observacao").find("tbody");

        var gvRow = '';

        gvRow += "<tr id=\"tr_table_observacao_" + index + "\">";
        gvRow += "<td>" + model_desapropriacao_observacao_dob_descricao + "</td>";
        gvRow += "<td>" + model_desapropriacao_observacao_dob_cadastro_usuario + "</td>";
        gvRow += "<td>" + model_desapropriacao_observacao_dob_cadastro_dt + "</td>";
        gvRow += "<td><span class=\"fa fa-trash\" alt=\"Exluir\" title=\"Excluir\" style=\"cursor:pointer\" id=\"btnExcluirPendencia\" onclick=\"DeleteObservacao(" + index + ")\"></span></td>";

        gvRow += '<input type="hidden" value="' + model_desapropriacao_observacao_dob_descricao + '" name="list_model_desapropriacao_observacao[' + index + '].dob_descricao" id="model_desapropriacao_observacao_dob_descricao_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_observacao_usu_id + '" name="list_model_desapropriacao_observacao[' + index + '].usu_id" id="model_desapropriacao_observacao_usu_id_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_observacao_dob_acao + '" name="list_model_desapropriacao_observacao[' + index + '].dob_acao" id="model_desapropriacao_observacao_dob_acao_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_observacao_dob_cadastro_usuario + '" name="list_model_desapropriacao_observacao[' + index + '].dob_cadastro_usuario" id="model_desapropriacao_observacao_dob_cadastro_usuario_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_observacao_dob_cadastro_dt + '" name="list_model_desapropriacao_observacao[' + index + '].dob_cadastro_dt" id="model_desapropriacao_observacao_dob_cadastro_dt_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_observacao_userCreate + '" name="list_model_desapropriacao_observacao[' + index + '].userCreate" id="model_desapropriacao_observacao_userCreate_' + index + '"/>';
        gvRow += '<input type="hidden" value="' + model_desapropriacao_observacao_dtCreate + '" name="list_model_desapropriacao_observacao[' + index + '].dtCreate" id="model_desapropriacao_observacao_dtCreate_' + index + '"/>';

        gvRow += '</tr>';

        tbody.append(gvRow);

        $("#dob_descricao").val('');

        $("#infoAdicionarObservacao").hide();
    }

    function ValidacaoObservacao() {

        $("#btnAdicionarObservacao").click(function (e) {

            if (validaFormularioDiv('tabObservacao')) {
                AdicionarObservacao();
            }
        });
    };

    function DeleteObservacao(index) {
        BootstrapDialog.show({
            title: "<b>Confirma&ccedil;&atilde;o</b>",
            message: 'Deseja realmente excluir esta observação?',
            type: BootstrapDialog.TYPE_PRIMARY,
            buttons: [
                    {
                        label: "N&atilde;o",
                        cssClass: "btn btn-default active",
                        action: function (dialog) {
                            dialog.close();
                        }
                    },
                    {
                        label: "Sim",
                        cssClass: "btn btn-default active",
                        action: function (dialog) {
                            dialog.close();

                            jQuery("#model_desapropriacao_observacao_dob_acao_" + index).val('3');

                            $("#tr_table_observacao_" + index + "").css({ "display": "none" });
                        }
                    }
            ]
        });
    }


    jQuery(document).ready(function () {
        ValidacaoObservacao();
    });

</script>