﻿@model WebAppMvc.Areas.Relatorio.Models.Helpers.model_relatorio_desapropriacao_filtro

@{
    ViewBag.Title = "Relatório de Desapropriação";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<script src="~/Scripts/jQuery.FileStyle/src/bootstrap-filestyle.js" type="text/javascript"></script>
<script src="~/Scripts/jQuery.Panels/snippets.js" type="text/javascript"></script>

<section class="content-header">
    <h1>RELATÓRIO DE DESAPROPRIAÇÃO</h1>
    <ol class="breadcrumb">
        <li class="active"> Relatório</li>
    </ol>
</section>

@using (Ajax.BeginForm("Gerar", null, new AjaxOptions
{
    HttpMethod = "Post",
    OnSuccess = "onSuccess",
    OnBegin = "onBegin",
    OnFailure = "onFailure",
    LoadingElementId = "loading",
    InsertionMode = InsertionMode.Replace,
}, new { @class = "form-horizontal", @id = "form_consulta" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        @{ Html.EnableClientValidation(false); }

        @{ Html.EnableClientValidation(true); }
        <div class="row">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-file"></i> Relatório
                    </h3>
                </div>
                <div class="box-body">

                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.dpc_empreendimento_auto_decreto)" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 control-label text-left">@Html.DisplayNameFor(model => model.dpc_empreendimento_auto_decreto)</label>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            @Html.DropDownListFor(m => m.dpc_empreendimento_auto_decreto, Enumerable.Empty<SelectListItem>(), "--selecione--", htmlAttributes: new { @class = "form-control", @onchange = "CarregarLotes()" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="@Html.DisplayNameFor(model => model.dpc_empreendimento_lote)" class="col-xs-12 col-sm-4 col-md-3 col-lg-3 control-label text-left">@Html.DisplayNameFor(model => model.dpc_empreendimento_lote)</label>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            @Html.DropDownListFor(m => m.dpc_empreendimento_lote, Enumerable.Empty<SelectListItem>(), "--selecione--", htmlAttributes: new { @class = "form-control", @disabled = "true" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 col-sm-offset-3 col-md-offset-2 col-lg-offset-2 col-sm-10">
                            <!-- <button type="submit" class="btn btn-primary">Gerar Relatório</button> -->
                            <button type="button" class="btn btn-primary btn-new" onclick="GerarRelatorio();">Gerar Relatório</button>
                            <button type="button" class="btn btn-primary btn-clear" id="btnLimpar">Limpar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script type="text/javascript">
        var empreendimentoList = [];
        var objModel = null;

        var onBegin = function () {
            waitingDialog.show('Processando...', { dialogSize: 'sm' });

        };
        var onSuccess = function (result) {
            waitingDialog.hide();
        };
        var onFailure = function () {
            waitingDialog.hide();
            Mensagens.Flutuante('Erro', 'Houve uma falha ao cadastrar os dados. <br/>Entre em contato com suporte.', 'error');
        };

        function CarregarEmpreendimentos() {

            waitingDialog.show('Processando...', { dialogSize: 'sm' });

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "~/../../../Desapropriacao/DesapropriacaoIndividual/CarregarEmpreendimento",
                dataType: "json",
                async: true,
                error: function (xhr) {
                    Mensagens.Modal("Erro", xhr.responseJSON.msgErro, BootstrapDialog.TYPE_DANGER);
                },
                success: function (data) {
                    if (data.length > 0) {

                        var obj = data;
                        empreendimentoList = data;

                        $("#dpc_empreendimento_auto_decreto option").remove();
                        $("#dpc_empreendimento_auto_decreto").append("<option value=''>--selecione--</option>");

                        for (var i = 0; i < obj.length; i++) {
                            $("#dpc_empreendimento_auto_decreto").append("<option value=" + obj[i].dem_auto_decreto + ">" + obj[i].dem_auto_decreto + "</option>");
                        }

                        $('#dpc_empreendimento_auto_decreto').trigger("chosen:updated");

                    }
                    else {
                        Mensagens.Modal("Informativo", "Não existe nenhum empreendimento cadastrado, volte e cadastre pelo menos um projeto de desapropriação e um empreendimento ou entre em contato com o administrador do sistema.", BootstrapDialog.TYPE_INFO);

                        $("#dpc_empreendimento_auto_decreto").empty();
                        $("#dpc_empreendimento_auto_decreto").append("<option value=''>--selecione--</option>");
                        $("#dpc_empreendimento_auto_decreto").attr('disabled', 'disabled');

                        $('#dpc_empreendimento_auto_decreto').trigger("chosen:updated");
                    }

                    DropDownAutoComplete.Upd();
                    waitingDialog.hide();
                }
            });
        }


        function CarregarLotes() {

            var dem_auto_decreto_selected = $("#dpc_empreendimento_auto_decreto").val();

            if (dem_auto_decreto_selected) {

                var dem = empreendimentoList.filter(function (x) {
                    return x.dem_auto_decreto === dem_auto_decreto_selected;
                });

                if (dem.length > 0) {

                    var obj = dem[0].dem_lote_list;

                    $("#dpc_empreendimento_lote option").remove();
                    $("#dpc_empreendimento_lote").append("<option value=''>--selecione--</option>");

                    for (var i = 0; i < obj.length; i++) {
                        $("#dpc_empreendimento_lote").append("<option value=" + obj[i] + ">" + obj[i] + "</option>");
                    }

                    $("#dpc_empreendimento_lote").removeAttr('disabled');
                    $('#dpc_empreendimento_lote').trigger("chosen:updated");
                }


            } else {
                MensagemLogin.Modal("Informativo", "Deve-se escolher uma dentre as opções de empreendimento", BootstrapDialog.TYPE_INFO);
            }
        }

        function Iniciar() {
            CarregarEmpreendimentos();
            DropDownAutoComplete.Ini();
        }

        jQuery(document).ready(function () {
            Iniciar();
            Mask.Ini();
        });

        $("#btnLimpar").click(function (e) {
            limpar.Form('#form_consulta');
        });

        function GerarRelatorio() {
            var numeroAutoDecreto = $("#dpc_empreendimento_auto_decreto").val();
            var lote = $("#dpc_empreendimento_lote").val();
            window.open("~/../../../Areas/Relatorio/WebForms/RelatorioDesapropriacao.aspx?numeroAutoDecreto=" + numeroAutoDecreto + "&lote=" + lote)
        }
</script>

